{% load static i18n thumbnail %}
<!DOCTYPE html>

<ul>
  {% if notifications %}
  {% for notification in notifications %}
  <li class="clearfix d-flex align-items-center">
    <div class="icon">
      <span class="fa-stack fa-2x float-left">
        {{ notification.get_icon }}
      </span>
    </div>
    <div class="notification-message">
      <p class="text-bold">{{ notification|safe }}</p>
      <p><small>{{ notification.timestamp }}</small></p>
    </div>
  </li>
  {% endfor %}
  <a class="btn btn-dark text-center" href="{% url 'notifications:unread' %}">{% trans 'See all' %}</a>
  <a class="btn btn-light text-center" href="{% url 'notifications:mark_all_read' %}">{% trans 'Mark all as read' %}</a>
  {% else %}
  <li class="text-center">{% trans 'You have no unread notification' %}</li>
  {% endif %}
</ul>