{% extends "base.html" %}
{% load static i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<link rel="stylesheet" href="{% static 'css/vendor/fancybox.min.css' %}">
<title>{% trans 'Messages' %}</title>
{% endblock head %}

{% block content %}
    <h1 class="title is-5"> {% trans 'Recent Messages' %} </h1>

    <div class="users-list">
      {% for con in convs %}
          {% if con.first_user.username == request.user.username %}
              <a href="#chat-window" data-toggle="modal"
                data-url="{% url 'messager:conversation_detail' con.second_user.username %}"
                id="{{ con.key }}" class="card contact-card open-chat">
                {% if con.second_user.thumbnail %}
                <img src="{{oss}}/{{con.second_user.thumbnail}}" alt="Pic" width="40px"
                  style="width:40px;height:40px;border-radius: 50%;"
                  class="rounded-circle profile-header-avatar img-fluid">
                {% else %}
                <img src="{% static 'img/user.png' %}" width="40px" style="width:40px;height:40px;border-radius: 50%;"
                  alt="No Pic" class="profile-header-avatar img-fluid" />
                {% endif %}

                <div class="contact-card-meta">
                  <div class="name-time-section">
                        <strong> {{ con.second_user.get_profile_name|title }} </strong>
                        <small class="timestamp" {% if forloop.first %} id="last-timestamp" {% endif %}>
                            {{ con.time|date:'N d G:i' }}
                        </small>
                  </div>

                  <small class="msg" {% if forloop.first %} id="last-msg" {% endif %}> 
                      {% if con.last_msg %}
                          {{ con.last_msg|truncatechars:50 }}
                      {% elif con.img or con.attachment %}
                          Attachment
                      {% else %}
                          New conversation
                      {% endif %}
                   </small>

                  {%  if con.unread and request.user.id == con.recipient %}
                      <span id="new-msgs">
                        <span class="msg-notification">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                viewBox="0 0 24 24" fill="#EB5757" stroke="#EB5757"
                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle>
                            </svg>
                        </span>
                      </span>
                  {% endif %}
                </div>
              </a>

          {% else %}
              <a href="#chat-window" data-toggle="modal"
                data-url="{% url 'messager:conversation_detail' con.first_user.username %}"
                id="{{ con.key }}" class="card contact-card open-chat">
                {% if con.first_user.thumbnail %}
                    <img src="{{oss}}/{{con.first_user.thumbnail}}" alt="Picture Profile"
                      style="width:40px;height:40px;border-radius: 50%;"
                      class="rounded-circle profile-header-avatar img-fluid" id="pic">
                {% else %}
                    <img src="{% static 'img/user.png' %}" height="40px" style="width:40px;height:40px;border-radius: 50%;"
                      alt="No Profile Picture" class="profile-header-avatar img-fluid" />
                {% endif %}

                <div class="contact-card-meta">
                  <div class="name-time-section">
                    <strong> {{ con.first_user.get_profile_name|title }} </strong>
                    <small class="timestamp" {% if forloop.first %} id="last-timestamp" {% endif %}>
                        {{ con.time|date:'N d G:i' }}
                    </small>
                  </div>

                  <small class="msg" {% if forloop.first %} id="last-msg" {% endif %}>
                      {% if con.last_msg %}
                          {{ con.last_msg|truncatechars:50 }}
                      {% elif con.img or con.attachment %}
                          Attachment
                      {% else %}
                          New conversation
                      {% endif %}
                   </small>

                  {%  if con.unread and request.user.id == con.recipient %}
                      <span id="new-msgs">
                        <span class="msg-notification">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12"
                                viewBox="0 0 24 24" fill="#EB5757" stroke="#EB5757"
                                stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle>
                            </svg>
                        </span>
                      </span>
                  {% endif %}
                </div>
              </a>
          {% endif %}

      {% empty %}
          <div class="card">
              <div class="card-body">
                  <strong> {% trans "No contacts" %} </strong>
                  <p> {% trans "Invite your friends Or chat with our team members" %}</p>
              </div>
          </div>

          <a href="#chat-window" data-toggle="modal"
            data-url="{% url 'messager:conversation_detail' super_users.first.username %}"
            class="card contact-card open-chat ">
            {% if super_users.first.thumbnail %}
                <img src="{{oss}}/{{super_users.first.thumbnail}}" alt="Picture Profile"
                  style="width:40px;height:40px;border-radius: 50%;"
                  class="rounded-circle profile-header-avatar img-fluid" id="pic">
            {% else %}
                <img src="{% static 'img/user.png' %}" width="40px" alt="No Profile Picture"
                  class="profile-header-avatar img-fluid" />
            {% endif %}

            <div class="contact-card-meta">
                <strong> {{ super_users.first.get_profile_name|title }} </strong>
                <p><small> New conversation </small><p>
            </div>
           </a>
      {% endfor %}

      </div>

      <div class="action-buttons">

          <a onclick="shareMe()" class="button is-solid accent-button">
            {% trans "Invite Friends" %}
          </a>

          <!--a href="{% url 'connections:friendship_view_friends' %}" 
              class="button is-solid accent-button">
            {% trans "Discover" %}
          </a-->
      </div>

      </div>
    </div>

    <div id="chat-window" class="modal">

      <div class="chat-wrapper is-standalone">
        <div class="chat-inner">

          <!-- Chat top navigation -->
          <div class="chat-nav">
            <div class="nav-start">
              <div class="recipient-block">
                <div class="avatar-container">
                  <!--Add image -->
                </div>
                <div class="username">


                </div>
              </div>
            </div>
            <div class="nav-end">

              <div>
                <button data-toggle="modal" data-target="#chat-window" class="delete is-large"
                  aria-label="close"></button>
              </div>

            </div>
          </div>

          <!-- Chat body -->
          <div id="chat-body" class="chat-body" style="display: flex;height: 100vh;flex-direction: column;">
            <!-- Conversation with Dan -->
            <div id="conversation" class="chat-body-inner" style="flex-grow: 1;">

              <div class="send-message"> </div>
            </div>
            <!-- Compose message area -->
            <div class="chat-action" style="z-index: 9999;position: relative; bottom: 0;">
              <div class="message-box">


                <div class="chat-action-inner">
                  <div class="control">
                    <form role="form" method="post" action="#" id="send">
                      <div class="is-flex message-scroll">
                        {% csrf_token %}
                        <input type="hidden" class="sendTo" name="to" value="">
                        <textarea class="form-control textarea comment-textarea" autocomplete="off"
                          maxlength="1000" id="sendText" placeholder="{% trans 'Write a message...' %}" name="message"
                          autofocus rows="2" cols="2"></textarea>
                      </div>

                    </form>
                    <form id="upload">
                      {% csrf_token %}
                      <input type="hidden" name="to" value="" class="sendTo">
                      <input id="image" type="hidden" name="image">
                      <input id="image-file" type="file" style="display:none;" multiple="multiple" accept="image/*" />

                      <div class="dropdown compose-dropdown is-spaced is-accent is-up dropdown-trigger">
                        <div class="is-flex">
                          <div class="add-button" id="addBtn">
                            <div class="button-inner">
                                <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512"
                                    viewBox="0 0 512 512">
                                    <path d="M456,64H56A24,24,0,0,0,32,88V424a24,24,0,0,0,24,24H456a24,24,0,0,0,24-24V88A24,24,0,0,0,456,64ZM331.62,128.2a48,48,0,1,1-43.42,43.42A48,48,0,0,1,331.62,128.2ZM76,416a12,12,0,0,1-12-12V316.37L192.64,202l96.95,96.75L172.37,416Zm372-12a12,12,0,0,1-12,12H217.63L367.16,266.47,448,333.84Z"/>
                                </svg>
                            </div>
                          </div>

                          <button id="send-text"
                            class="button add-button is-solid accent-button is-bold raised">
                            <small><strong>Send</strong></small>
                          </button>

                        </div>

                      </div>
                    </form>

                  </div>

                </div>
              </div>
            </div>

          </div>
{% endblock content %}

{% block extra_js %}
    <link rel="stylesheet" href="{% static 'css/share.css' %}">

    <script>
      var activeUser = "{{ active }}";
      const oss_url = "{% url 'get_oss_auth' %}";


      {% if request.user.thumbnail %}
          const currentUserThumbnail = "{{oss}}/{{ request.user.thumbnail }}"
      {% else %}
          const currentUserThumbnail = "{{oss}}/{% static 'img/user.png' %}"
      {% endif %}


      {% if active.thumbnail %}
          const user_thumb = "{{oss}}/{{ active.thumbnail }}"
      {% else %}
          const user_thumb = "{% static 'img/user.png' %}"
      {% endif %}

      function shareMe() {
        navigator.share({
          title: 'Join Obrisk Today!',
          text: "Checkout Obrisk.com, the best secondhand platform for foreigners in China",
          url: 'https://obrisk.com/',
        })
      }
    </script>

    <script src="{% static 'js/vendor/jquery.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/modal.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/aliyun-oss.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vendor/moment.min.js' %}"></script>
    <script src="{% static 'js/vendor/fancybox.min.js' %}"></script>
{% endblock extra_js %}
