{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
  <link href="{% static 'css/messager.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

<div class="row" style="margin-top: 1em">
  <div class="col-md-6 list-group users-list">
      {% for user in conversation_list %}
        <a href="{% url 'messager:conversation_detail' user.username  %}"
           class="list-group-item list-group-item-action">
          {% thumbnail user.picture "40x40" crop="center" upscale="true"  as im %}
            <img src="{{ im.url }}" style="border-radius: 50%;" alt="{% trans 'Picture Profile' %}">
          {% empty %}
            <img src="{% static 'img/user.png' %}" height="40px" alt="{% trans 'No Profile Picture' %}" />
          {% endthumbnail %}
          <strong>   {{ user.get_profile_name|title }} </strong>
        </a>
      

      {% empty %}

      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><h4>{% trans "You don't have any contacts in your account." %}</h4> </li>
          </ol>
      </nav>
      
      <p>{% trans "Start a chat from the classifieds details or invite new friends! " %}</p>
      <p>{% trans "If you have other questions, chat with the Obrisk team member below... " %}</p> 
      <p>{% trans " We will reply you within the shortest time possible." %}</p>
 
        <a href="{% url 'messager:conversation_detail' super_users.first.username  %}"
          class="list-group-item list-group-item-action ">
          {% thumbnail super_users.first.picture "40x40" crop="center" upscale="true"  as im %}
            <img src="{{ im.url }}" style="border-radius: 50%;" alt="{% trans 'Picture Profile' %}">
          {% empty %}
            <img src="{% static 'img/user.png' %}" height="40px" alt="{% trans 'No Profile Picture' %}" />
          {% endthumbnail %}
          <strong> {{ super_users.first.get_profile_name|title }} </strong> </a>   
    </div> 
    {% endfor %}
</div>
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript">
    var activeUser = "{{ active }}";
  </script>
  <script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
{% endblock extra_js %}
