{% extends "base.html" %}
{% load static i18n %}

{% block head %}
<link href="{% static 'css/contact-list.css' %}" rel="stylesheet">
<title>{% trans 'Messages' %}</title>
{% endblock head %}

{% block content %}
<div class="container mt-5 mb-md-5">

  <div class="column row mt-md-5">

    <div class="col-md-8 m-auto pb-4">

      <div class="row">
        <div class="questions col-12 col-md-10 m-auto">
          <ul class="nav  justify-content-between mb-2">
            <li class="nav-item">
              <h3 style="color: black;"> <strong> {% trans 'Recent Messages' %} </strong></h3>
            </li>

            <li class="nav-item">
              <a href="{% url 'connections:friendship_view_friends' %}" class="button has-min-width">
                {% trans "Discover" %}
              </a>
            </li>


          </ul>
        </div>

        <div class="col-lg-10 users-list">
          {% for con in convs %}
          {% if con.first_user.username == request.user.username %}
          <a href="#chat-window" data-toggle="modal"
            data-url="{% url 'messager:conversation_detail' con.second_user.username %}"
            class="card flex-row mb-1 pb-2 pl-3 pr-3 pt-2 open-chat">
            {% if con.second_user.thumbnail %}
            <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{con.second_user.thumbnail}}" alt="Pic" width="40px"
              style="width:40px;height:40px;border-radius: 50%;"
              class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid mr-2">
            {% else %}
            <img src="{% static 'img/user.png' %}" width="40px" style="width:40px;height:40px;border-radius: 50%;"
              alt="No Pic" class="mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid mr-2" />
            {% endif %}

            <div class="w-100">
              <div class="d-flex justify-content-between">
                <strong> {{ con.second_user.get_profile_name|title }} </strong>
                <small> {{ con.time|date:'N d G:i' }} </small>
              </div>

              {% if con.last_msg %}
              <small> {{ con.last_msg|truncatechars:50 }} </small>
              {% elif con.img or con.attachment %}
              <small> Attachment </small>
              {% else %}
              <small> New conversation </small>
              {% endif %}

              {%  if con.unread and request.user.id == con.recipient %}
              <span class="pull-right" id="new-msgs"> <i class="fa fa-circle" aria-hidden="true"></i> </span>
              {% endif %}
            </div>
          </a>

          {% else %}
          <a href="#chat-window" data-toggle="modal"
            data-url="{% url 'messager:conversation_detail' con.first_user.username %}"
            class="card flex-row mb-1 pb-2 pl-3 pr-3 pt-2 open-chat ">
            {% if con.first_user.thumbnail %}
            <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{con.first_user.thumbnail}}" alt="Picture Profile"
              style="width:40px;height:40px;border-radius: 50%;"
              class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid mr-2" id="pic">
            {% else %}
            <img src="{% static 'img/user.png' %}" height="40px" style="width:40px;height:40px;border-radius: 50%;"
              alt="No Profile Picture" class="mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid mr-2" />
            {% endif %}

            <div class="w-100">
              <div class="d-flex justify-content-between">
                <strong> {{ con.first_user.get_profile_name|title }} </strong>
                <small> {{ con.time|date:'N d G:i' }} </small>
              </div>


              {% if con.last_msg %}
              <small> {{ con.last_msg|truncatechars:50 }} </small>
              {% elif con.img or con.attachment %}
              <small> Attachment </small>
              {% else %}
              <small> New conversation </small>
              {% endif %}

              {%  if con.unread and request.user.id == con.recipient %}
              <span class="pull-right" id="new-msgs"> <i class="fa fa-circle" aria-hidden="true"></i> </span>
              {% endif %}
            </div>
          </a>
          {% endif %}

          {% empty %}


          <nav aria-label="breadcrumb">
            <ol class="breadcrumb" style="background-color: #3EC4E2;">
              <li class="breadcrumb-item">
                <h4> {% trans "No contacts" %} </h4>
              </li>
            </ol>
          </nav>

          <p>
            {% trans "Start a chat from the classifieds details or invite friends, Or you can chat with the available Obrisk team member" %}
          </p>

          <a href="{% url 'messager:conversation_detail' super_users.first.username  %}"
            class="list-group-item list-group-item-action ">
            {% if super_users.first.thumbnail %}
            <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{super_users.first.thumbnail}}" alt="Picture Profile"
              style="width:40px;height:40px;border-radius: 50%;"
              class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
            {% else %}
            <img src="{% static 'img/user.png' %}" width="40px" alt="No Profile Picture"
              class="mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" />
            {% endif %}
            <strong> {{ super_users.first.get_profile_name|title }} </strong> </a>

          {% endfor %}
        </div>
        <div class="has-text-centered col-12 col-md-10 m-auto">

          <span onclick="shareMe()" class="button has-min-width">
            {% trans "Invite Friends" %}
          </span>

        </div>
      </div>
    </div>
    <div id="chat-window" class="modal">

      <div class="chat-wrapper is-standalone">
        <div class="chat-inner">

          <!-- Chat top navigation -->
          <div class="chat-nav">
            <div class="nav-start">
              <div class="recipient-block">
                <div class="avatar-container">
                  <!--Add image -->


                </div>
                <div class="username">


                </div>
              </div>
            </div>
            <div class="nav-end">

              <div>
                <button data-toggle="modal" data-target="#chat-window" class="delete is-large"
                  aria-label="close"></button>
              </div>

            </div>
          </div>


          <!-- Chat body -->
          <div id="chat-body" class="chat-body">
            <!-- Conversation with Dan -->
            <div id="conversation" class="chat-body-inner has-slimscroll" style="padding-bottom: 7rem!important">


              <div class="send-message"> </div>
            </div>

            <!-- Compose message area -->
            <div class="chat-action">
              <div class="message-box">


                <div class="chat-action-inner">
                  <div class="control">
                    <form role="form" method="post" action="#" id="send">
                      <div class="is-flex message-scroll">
                        {% csrf_token %}
                        <input type="hidden" class="sendTo" name="to" value="">
                        <textarea class="form-control mr-2 textarea comment-textarea" autocomplete="off"
                          maxlength="1000" id="sendText" placeholder="{% trans 'Write a message...' %}" name="message"
                          autofocus rows="2" cols="2"></textarea>


                        <a id="chooseFile" href="#" class="p-2">
                          <i class="fa fa-paperclip" style="font-size: 1.2em"></i>
                        </a>
                      </div>

                    </form>
                    <form id="upload">
                      {% csrf_token %}
                      <input type="hidden" name="to" value="" class="sendTo">
                      <input id="image" type="hidden" name="image">
                      <input id="image-file" type="file" style="display:none;" multiple="multiple" accept="image/*" />

                      <div class="dropdown compose-dropdown is-spaced is-accent is-up dropdown-trigger">
                        <div class="is-flex">
                          <div class="add-button" id="addBtn">
                            <div class="button-inner">
                              <i class="mdi mdi-camera" style="color: white;"></i>
                            </div>
                          </div>
                          <button id="send-text" class="add-button button is-solid accent-button is-bold raised"
                            type="submit">
                            <small><strong>Send</strong></small>
                          </button>

                        </div>

                      </div>
                    </form>

                  </div>

                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
    {% endblock content %}



    {% block extra_js %}
    <script>
      var activeUser = "{{ active }}";
      var currentUser = "{{ request.user.username }}";
      {% if request.user.thumbnail %}
      var currentUserThumbnail = "https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{ request.user.thumbnail }}"
      {% else %}
      var currentUserThumbnail = "https://obrisk.oss-cn-hangzhou.aliyuncs.com/{% static 'img/user.png' %}"
      {% endif %}
      var activeUser = "";
      const oss_url = "{% url 'get_oss_auth' %}";

      {% if active.thumbnail %}
      var user_thumb = "https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{ active.thumbnail}}"
      {% else %}
      var user_thumb = "{% static 'img/user.png' %}"
      {% endif %}



      //scroll when on textarea
      var div = document.querySelector('.message-scroll');
      var ta = document.querySelector('textarea');

      ta.addEventListener('keydown', autosize);

      function autosize() {
        setTimeout(function () {

          var height = Math.min(20 * 5, ta.scrollHeight);
          div.style.cssText = 'height:' + height + 'px';
          ta.style.cssText = 'height:' + height + 'px';
        }, 0);
      }
      var setCookie = function (name, value, days) {
        if (!name && !value) {
          return false;
        } else if (days) {
          var date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          var expires = "; expires=" + date.toGMTString();
        }
        else var expires = "";
        document.cookie = name + "=" + value + expires + "; path=/";
        return true;
      }
      var getCookie = function (name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
          var c = ca[i];
          while (c.charAt(0) == ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
        }
        return null;
      }

      var deleteCookie = function (name) {
        if (name) {
          setCookie(name, "", -1);
          return true;
        }
      }


      $(document).ready(function () {

        function loadMessages(chat) {
          var chatURL = chat;
          console.log(chatURL)

          //Load messages
          $.ajax({
            type: "get",
            url: chatURL,
            success: function (response) {
              var activeUserThumbnail = (response.active_thumbnail == null) ? "/static/img/user.png" : response.active_thumbnail;

              $(".avatar-container").append(
                `<img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/${activeUserThumbnail}" alt="Picture Profile"
                        style="width:30px;height:30px;border-radius: 50%;"
                        class=" user-avatar rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
                    `
              )
              $(".username").append(
                `  <span>${response.active_username}</span>`
              )
              response.msgs.map(function (el) {
                if (el.sender_username == response.active_username) {
                  if (el.image != null) {
                    $("#conversation").append(`<div class="chat-message is-received">
        
                          <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/${activeUserThumbnail}" alt="Picture Profile"
                              style="width:30px;height:30px;border-radius: 50%;"
                              class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
                          
                          <div class="message-block">
                              <span>${moment(el.timestamp).format("MMM. Do h:mm")}</span>
                              <a data-fancybox="gallery" style="width: 250px; height: 250px;"
                href="https://obrisk.oss-cn-hangzhou.aliyuncs.com/${el.image}"><img
                    style="width: 250px; height: 250px;"
                    src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/${el.img_preview} " /></a>
                          </div>
                      </div > `)
                  }
                  if (el.classified_title != null) {
                    $("#conversation").append(`<div class="chat-message is-received" style="background-color: transparent;"> <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/${activeUserThumbnail}" alt="Picture Profile"
                          style="width:30px;height:30px;border-radius: 50%;"
                          class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
    
                          <div class="message-block">
                            <span>${moment(el.timestamp).format("MMM. Do h:mm")}</span>
                            <div class="message-text"><div class="card classified-card mr-2 mb-3 justify-content-center is-flex p-2 " style="max-width: 295px">
            <a href="${el.classified_url}" style="color:black; text-decoration:none; background-color:none" class="is-flex">
              <div class="card-img-top img-responsive column" style="max-width: 70px">
                               <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/${el.classified_thumbnail}" alt="${el.classified_title}">

              </div>
              <div class="column">
                <h6 class="card-title"> ${el.classified_title} </h6>
                <p class="card-subtitle O-cl-red"> CNY ${el.classified_price} </p>
              </div>
            </a>
          </div></div>
                          </div>
                      </div>`)
                  }
                  if (el.message != null) {
                    $("#conversation").append(`<div class="chat-message is-received" ><img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/${activeUserThumbnail}" alt="Picture Profile"
                          style="width:30px;height:30px;border-radius: 50%;"
                          class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
    
                          <div class="message-block">
                            <span>${moment(el.timestamp).format("MMM. Do h:mm")}</span>
                            <div class="message-text">${el.message}</div>
                          </div>
                      </div>`)
                  }

                } else {
                  if (el.image != null) {

                    $("#conversation").append(`<div class="chat-message is-sent">
        
                          <img src="${currentUserThumbnail}" alt="Picture Profile"
                              style="width:30px;height:30px;border-radius: 50%;"
                              class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
                          
                          <div class="message-block">
                              <span>${moment(el.timestamp).format("MMM. Do h:mm")}</span>
                              <a data-fancybox="gallery" style="width: 250px; height: 250px;"
                href="https://obrisk.oss-cn-hangzhou.aliyuncs.com/${el.image}"><img
                    style="width: 250px; height: 250px;"
                    src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/${el.img_preview} " /></a>
                          </div>
                      </div > `)
                  }
                  if (el.classified_title != null) {
                    $("#conversation").append(`<div class="chat-message is-sent "style="background-color: transparent;"><img src="${currentUserThumbnail}" alt="Picture Profile"
                          style="width:30px;height:30px;border-radius: 50%;"
                          class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
    
                          <div class="message-block">
                            <span>${moment(el.timestamp).format("MMM. Do h:mm")}</span>
                            <div class="message-text"><div class="card classified-card mr-2 mb-3 justify-content-center is-flex p-2 " style="max-width: 295px">
            <a href="${el.classified_url}" style="color:black; text-decoration:none; background-color:none" class="is-flex">
              <div class="card-img-top img-responsive column" style="max-width: 70px">
                <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/${el.classified_thumbnail}" alt="${el.classified_title}">
              </div>
              <div class="column">
                <h6 class="card-title"> ${el.classified_title} </h6>
                <p class="card-subtitle O-cl-red"> CNY ${el.classified_price} </p>
              </div>
            </a>
          </div></div></div></div>`)
                  }
                  if (el.message != null) {
                    $("#conversation").append(`<div class="chat-message is-sent" ><img src="${currentUserThumbnail}" alt="Picture Profile"
                          style="width:30px;height:30px;border-radius: 50%;"
                          class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
    
                          <div class="message-block">
                            <span>${moment(el.timestamp).format("MMM. Do h:mm")}</span>
                            <div class="message-text">${el.message}</div>
                          </div>
                      </div>`)
                  }

                }
              });

              $(".sendTo").val(response.active_username);
              activeUser = response.active_username
              //This scrolls the div #messages only to the bottom
              var d = $('#conversation');
              d.scrollTop(d.prop("scrollHeight"));
            }
          });

        }

        //This will only run once and then delete the cookies 
        if (getCookie("active-chat")) {
          jQuery.noConflict();
          $('#chat-window').modal('show');
          loadMessages(getCookie("active-chat"));
          //Clear the cookies obtained from the classified details 
          deleteCookie("active-chat");
        }

        $(".open-chat").click(function () {
          loadMessages($(this).data("url"))
        });

        $(".delete").click(function (e) {
          //Clear previous chat
          $("#conversation").html("");
          $(".avatar-container").html("");
          $(".username").html("");
          $("body").removeClass("modal-open");
          $("body").removeClass("is-frozen");
        });
      });
    </script>
    <script src="{% static 'js/websocketbridge.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootbox.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/aliyun-oss.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/share.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/fancybox.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/share.css' %}">
    <script>
      function shareMe() {
        navigator.share({
          title: 'Join Obrisk Today!',
          text: "Checkout Obrisk.com, social network for foreigners in China",
          url: 'https://obrisk.com/',
        })
      }
    </script>


    {% endblock extra_js %}