{% load static i18n %}

{% block head %}
<script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>Chatting with {{ active.username|title}}</title>
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
<link href="{% static 'frontend/assets/css/materialdesignicons.min.css' %}" rel="stylesheet">
<link href="{% static 'frontend/assets/css/webfont.css' %}" rel="stylesheet">
<!-- Core CSS -->
<link rel="stylesheet" href="{% static 'frontend/assets/css/bulma.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/app.css' %}">
<link rel="stylesheet" href="{% static 'frontend/assets/css/core.css' %}">
<link rel="stylesheet" href="{% static 'css/fancybox.min.css' %}">
<style>
  .chat-wrapper .chat-inner .chat-body {
    padding-bottom: 100px;
  }
</style>

{% endblock head %}

{% block content %}

<body class="has-slimscroll">


  <!-- Pageloader -->
  <div class="pageloader"></div>
  <div class="infraloader is-active"></div>

  <div class="chat-wrapper is-standalone">
    <div class="chat-inner">

      <!-- Chat top navigation -->
      <div class="chat-nav">
        <div class="nav-start">
          <div class="recipient-block">
            <div class="avatar-container">
              <!--Add image -->
              {% if active.thumbnail %}
              <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{active.thumbnail}}" height="35px" width="35px"
                alt="Picture Profile" style="border-radius: 50%;"
                class=" user-avatar rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
              {% else %}
              <img src="{% static 'img/user.png' %}" style="border-radius: 50%;" height="35px" width="35px"
                class="user-avatar" alt="No Profile Picture" />
              {% endif %}
            </div>
            <div class="username">
              <span>{{ active.username|title}}</span>
              </span></span>
            </div>
          </div>
        </div>
        <div class="nav-end">

          <div>
            <a class="chat-nav-item is-icon" href="/ws/messages/">
              <i data-feather="delete"></i>
            </a>
          </div>

        </div>
      </div>


      <!-- Chat body -->
      <div id="chat-body" class="chat-body">
        <!-- Conversation with Dan -->
        <div id="conversation" class="chat-body-inner has-slimscroll">

          {% if message_list %}

          {% for message in message_list %}
          {% include 'messager/single_message.html' with message=message %}
          {% endfor %}

          {% else %}
          <strong>{% trans 'Hello '  %} {{ request.user.username| title }}{% trans ' nice to meet you' %}</strong>
          <p>{% trans "I am " %} {{ active.username }} {% trans ", Let's talk!" %}</p>
          {% endif %}
          <div class="send-message"> </div>
        </div>

        <!-- Compose message area -->
        <div class="chat-action">
          <div class="message-box">


            <div class="chat-action-inner">
              <div class="control">
                <form role="form" method="post" action="#" id="send">
                  <div class="is-flex message-scroll">
                    {% csrf_token %}
                    <input type="hidden" name="to" value="{{ active.username }}">
                    <textarea class="form-control mr-2 textarea comment-textarea" autocomplete="off" maxlength="1000"
                      id="sendText" placeholder="{% trans 'Write a message...' %}" name="message" autofocus rows="2"
                      cols="2"></textarea>


                    <a id="chooseFile" href="#" class="p-2">
                      <i class="fa fa-paperclip" style="font-size: 1.2em"></i>
                    </a>
                  </div>

                </form>
                <form id="upload">
                  {% csrf_token %}
                  <input type="hidden" name="to" value="{{ active.username }}">
                  <input id="image" type="hidden" name="image">
                  <input id="image-file" type="file" style="display:none;" multiple="multiple" accept="image/*" />

                  <div class="dropdown compose-dropdown is-spaced is-accent is-up dropdown-trigger">
                    <div class="is-flex">
                      <div class="add-button" id="addBtn">
                        <div class="button-inner">
                          <i class="mdi mdi-camera" style="color: white;"></i>
                        </div>
                      </div>
                      <button id="send-text" class="add-button button is-solid accent-button is-bold raised"
                        type="submit">
                        <small><strong>Send</strong></small>
                      </button>

                    </div>

                  </div>
                </form>

              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</body>
<!-- Concatenated js plugins and jQuery -->
<script src="{% static 'frontend/assets/js/app.js' %}"></script>

<!-- Core js -->
<script src="{% static 'frontend/assets/js/global.js' %}"></script>
<script src="{% static 'frontend/assets/js/main.js' %}"></script>
<script src="{% static 'js/fancybox.min.js' %}"></script>

<!-- Compone"{% static 'frontend/ts js -->
<script src="{% static 'frontend/assets/js/modal-uploader.js' %}"></script>

{% endblock content %}

{% block extra_js %}

<script type="text/javascript">

  var currentUser = "{{ request.user.username }}";
  var currentUserThumbnail = "https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{ request.user.thumbnail }}"
  var activeUser = "{{ active.username }}";
  const oss_url = "{% url 'get_oss_auth' %}";

  {% if active.thumbnail %}
  var user_thumb = "https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{ active.thumbnail}}"
  {% else %}
  var user_thumb = "{% static 'img/user.png' %}"
  {% endif %}

  //This scrolls the div #messages only to the bottom
  var d = $('#conversation');
  d.scrollTop(d.prop("scrollHeight"));

  //scroll when on textarea
  var div = document.querySelector('.message-scroll');
  var ta = document.querySelector('textarea');

  ta.addEventListener('keydown', autosize);

  function autosize() {
    setTimeout(function () {

      var height = Math.min(20 * 5, ta.scrollHeight);
      div.style.cssText = 'height:' + height + 'px';
      ta.style.cssText = 'height:' + height + 'px';
    }, 0);
  }

</script>

<script src="{% static 'js/websocketbridge.js' %}" type="text/javascript"></script>
<script src="{% static 'js/aliyun-oss.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootbox.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
{% endblock extra_js %}