{% load static i18n humanize %}

{% if request.user == message.sender %}
    <div class="chat-message is-sent">
    {% if message.sender.thumbnail %}
        <img src="{{oss}}/{{message.sender.thumbnail}}" alt="pic"
            class="rounded-circle profile-avatar img-fluid"/>
    {% else %}
        <img src="{% static 'img/user.png' %}"
            class="rounded-circle profile-avatar img-fluid"
            alt="pic"/>
    {% endif %}

    <div class="message-block">
        <span>{{ message.timestamp|date:'N d G:i' }}</span>
        {% if message.message %}
            <div class="message-text">{{ message.message }}</div>

        {% elif message.img_preview %}
            <a data-fslightbox="gallery" href="{{oss}}/{{ message.image }}">
                <img class="chat-img" src="{{oss}}/{{ message.img_preview }}" />
            </a>

       {% elif message.classified %} 
            {% include 'messager/classified_single_message.html' with classified=message.classified %}
       {% endif %}
    </div>
</div>

{% else %}

<div class="chat-message is-received">
    {% if message.sender.thumbnail %}
        <img src="{{oss}}/{{message.sender.thumbnail}}" alt="pic"
            class="rounded-circle profile-avatar img-fluid">
    {% else %}
        <img src="{% static 'img/user.png' %}"
            class="rounded-circle profile-avatar img-fluid" alt="pic" />
    {% endif %}
    <div class="message-block">
        <span>{{ message.timestamp|date:'N d G:i' }}</span>
        {% if message.message %}
            <div class="message-text">{{ message.message }}</div>

        {% elif message.img_preview %}
            <a data-fslightbox="gallery" href="{{oss}}/{{ message.image }}">
                <img class="chat-img" src="{{oss}}/{{ message.img_preview }}" />
            </a>

       {% elif message.classified %} 
            {% include 'messager/classified_single_message.html' with classified=message.classified %}
       {% endif %}
    </div>
</div>

{% endif %}
