{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {# block title %}{ block head_title %}  {% endblock head_title %}{% endblock title #}
    <meta charset="utf-8">
    <!--This is to ensure scripts are loaded from my site only!-->
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block heading %}Obrisk{% endblock heading %}</title>

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <meta name="description" content="A Social Network for foreigners living in China.">

    {% block cdn %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">   
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/obrisk.css' %}?v=1" rel="stylesheet">
    {% endblock cdn %}

    
    </head>
    

<body>


{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    {% block inner %}{% endblock %}
  </div>
</div>
{% endblock %}


 </body>

  <!-- /.container -->
</html>
