{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% get_providers as socialaccount_providers %}

{% block head %}
<title>{% trans 'Account Login' %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block content %}
    <div id="" class="view-wrap true-dom">
      <div class="columns is-centered">
          <br/>
          <h1 class="login100-form-title "> {% trans 'Account Login' %}</h1>
          <div class="errors"></div>

          <!--Login Form-->
            <div class="form-wrapper">
              <!--Form-->
                  <form class="login is-hidden" id="login-form" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}

                        <label for="phone_number">
                              {% trans 'Phone / Username' %}
                        </label>
                        {{ form.login }}

                        <label for="password">
                          {% trans 'Password' %}
                        </label>
                        {{ form.password }}

                        {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}

                        <button type="submit"
                          class="button is-rounded is-solid accent-button raised login-submit-btn">
                            {% trans 'Login' %}
                        </button>

                        <div class="phone-options-btn" >
                            <a href="{% url 'users:phone_password_reset' %}"
                              class="button is-solid accent-button raised">
                               {% trans 'Renew password' %}
                            </a>

                            <a id="open-options" href="#"
                              class="button is-solid accent-button raised">
                              {% trans 'More options' %}
                            </a>
                        </div>
                  </form>

                  <div id="options-wrapper" class="page-popup-wrapper">
                      <div class="options-btns">
                        <a class="button raised is-solid " href="{% url 'users:wechat_auth' %}">
                            <i class="fa fa-wechat"></i>Wechat Login </a>
                        </a>
                        <a class="button raised is-solid " id="phone-login" href="#">
                            <i class="fa fa-linkedin"></i> Phone/Username Login </a>
                        </a>
                        <a href="{% url 'account_signup' %}"
                          class="button is-solid dark-grey-button raised">
                          {% trans 'Sign up' %}
                        </a>
                        <a href="#lh"
                          class="login-help button is-solid dark-grey-button raised" 
                          data-help="<a href='mailto:support@obrisk.com'>{% trans 'Email us' %}</a> {% trans 'Or add WechatID:Obrisk' %}">
                           {% trans 'Need help?' %}
                        </a>
                        <br/>
                        <br/>
                        <p id="login-loading" class="is-hidden"> </p>
                     </div>
                  </div>
            </div>
         </div>
      </div>
{% endblock content %}

{% block extra_js %}

<script>
  const csrftoken = document.querySelector("[name=csrfmiddlewaretoken]").value;
  const login_form = document.getElementById('login-form');
  const options_wrapper = document.getElementById('options-wrapper');
  const lg_loading = document.getElementById('login-loading');
  const login_errors = document.querySelector(".errors");

  function phoneLoginActive() {
        login_form.classList.remove('is-hidden');
        options_wrapper.style.display = 'none';
        document.getElementById('id_login').focus();
  }

  document.getElementById('phone-login').addEventListener('click', e => {
      phoneLoginActive();
  });

  document.getElementById('open-options').addEventListener('click', e => {
        login_form.classList.add('is-hidden');
        options_wrapper.style.display = 'flex';
  });

  window.mobileUtil = (function (win, doc) {
        const UA = navigator.userAgent,
          isAndroid = /android|adr/gi.test(UA),
          isIOS = /iphone|ipod|ipad/gi.test(UA) && !isAndroid,
          isBlackBerry = /BlackBerry/i.test(UA),
          isWindowPhone = /IEMobile/i.test(UA),
          isMobile = isAndroid || isIOS || isBlackBerry || isWindowPhone;

        return {
          isAndroid: isAndroid,
          isIOS: isIOS,
          isMobile: isMobile,
          isWeixin: /MicroMessenger/gi.test(UA),
          isQQ: /QQ/gi.test(UA)
        };
  })(window, document);

  const isInStandaloneMode = () =>
    (window.matchMedia('(display-mode: standalone)').matches) || (window.navigator.standalone);

  //Auto-login is a quick hack to solve the problem of iOS and weixin browser
  //Variables with /classifieds URL are login url
  if (mobileUtil.isWeixin || mobileUtil.isIOS) {

    if (!localStorage.getItem('auth')) {
          //When user click on login save the auth details only after successfull ajax login then redirect
          //else allow user to retry login
          document.querySelector('.login-submit-btn').addEventListener('click', function (event) {
            event.preventDefault();
            const username = document.querySelector('[name="login"]').value;
            const pass = document.querySelector('[name="password"]').value;

            const ajax = new XMLHttpRequest();
            ajax.onreadystatechange = function () {
              if (this.readyState == 4 && this.status == 200) {
                  //This condition marks false while things are true
                  if (this.responseURL && /classifieds/gi.test(this.responseURL)) {
                      const auth = {
                        username: username,
                        password: pass
                      }

                      localStorage.setItem('autologintry', false);
                      localStorage.setItem('auth', JSON.stringify(auth))

                    if (navigator.storage && navigator.storage.persist) {
                        navigator.storage.persisted();
                        navigator.storage.persist();
                    }
                    location.replace('/classifieds');

                  } else {
                    login_errors.innerHTML =
                        `<small class="error-text">The phone/username or password are not correct.</small>`
                }
              }
            }

            ajax.open("POST", "/auth/login/");
            ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            ajax.send("csrfmiddlewaretoken=" + csrftoken + "&login=" + username + "&password=" + pass);

          })

    } else {
        lg_loading.innerHTML = 
          `<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            width="24px" height="30px" viewBox="0 0 24 30" 
            style="enable-background:new 0 0 50 50;" xml:space="preserve">
            <rect x="0" y="0" width="4" height="10" fill="#333">
              <animateTransform attributeType="xml"
                attributeName="transform" type="translate"
                values="0 0; 0 20; 0 0"
                begin="0" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="10" y="0" width="4" height="10" fill="#333">
              <animateTransform attributeType="xml"
                attributeName="transform" type="translate"
                values="0 0; 0 20; 0 0"
                begin="0.2s" dur="0.6s" repeatCount="indefinite" />
            </rect>
            <rect x="20" y="0" width="4" height="10" fill="#333">
              <animateTransform attributeType="xml"
                attributeName="transform" type="translate"
                values="0 0; 0 20; 0 0"
                begin="0.4s" dur="0.6s" repeatCount="indefinite" />
            </rect>
          </svg>
        Autologin</p>`;

        const auth = JSON.parse(localStorage.getItem('auth'));
        const ajax = new XMLHttpRequest();

        ajax.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
              if (this.responseURL && /classifieds/gi.test(this.responseURL)) {
                  location.replace('/classifieds')

              } else {
                localStorage.setItem('autologintry', true);
                phoneLoginActive();
                login_errors.innerHTML =
                    `<small class="error-text">The phone/username or password are not correct.</small>`
                location.replace('/auth/login/');
              }
            }
        }

        ajax.open("POST", "/auth/login/");
        ajax.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        ajax.send("csrfmiddlewaretoken=" + csrftoken + "&login=" + auth.username + "&password=" + auth.password);
    }

  }

  {% if form.errors %}
        phoneLoginActive();
        login_errors.innerHTML =
            `<small class="error-text">The phone/username or password are not correct.</small>`
  {% endif %}

</script>
{% endblock extra_js %}
