{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% get_providers as socialaccount_providers %}

{% block head %}
<title>{% trans 'Account Login' %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
{% endblock head %}

{% block content %}
    <div id="" class="view-wrap true-dom">
      <div class="columns is-centered">
          <br/>
          <h1 class="login100-form-title "> {% trans 'Account Login' %}</h1>
          <div class="errors"></div>

          <!--Login Form-->
            <div class="form-wrapper">
              <!--Form-->
                  <form class="login is-hidden" id="login-form" method="POST" action="{% url 'account_login' %}">
                      {% csrf_token %}

                        <label for="phone_number">
                              {% trans 'Phone / Username' %}
                        </label>
                        {{ form.login }}

                        <label for="password">
                          {% trans 'Password' %}
                        </label>
                        {{ form.password }}

                      {% if redirect_field_value %}
                          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                      {% endif %}

                        <button type="submit"
                          class="button is-rounded is-solid accent-button raised login-submit-btn">
                            {% trans 'Login' %}
                        </button>

                        <div class="phone-options-btn" >
                            <a href="{% url 'users:phone_password_reset' %}"
                              class="button is-solid accent-button raised">
                               {% trans 'Renew password' %}
                            </a>

                            <a id="open-options" href="#"
                              class="button is-solid accent-button raised">
                              {% trans 'More options' %}
                            </a>
                        </div>
                  </form>

                  <div id="options-wrapper"  >
                      <div class="options-btns" >
                        <a class="button raised is-solid " href="{% url 'users:wechat_auth' %}">
                            <i class="fa fa-wechat"></i>Wechat Login </a>
                        </a>
                        <a class="button raised is-solid " id="phone-login" href="#">
                            <i class="fa fa-linkedin"></i> Phone no Login </a>
                        </a>
                        <a href="{% url 'account_signup' %}"
                          class="button is-solid dark-grey-button raised">
                          {% trans 'Sign up' %}
                        </a>
                        <a href="#lh"
                          class="login-help button is-solid dark-grey-button raised" 
                          data-help="<a href='mailto:support@obrisk.com'>{% trans 'Email us' %}</a> {% trans 'Or add WechatID:Obrisk' %}">
                           {% trans 'Need help?' %}
                        </a>
                     </div>
                  </div>
            </div>
         </div>
      </div>
{% endblock content %}

{% block extra_js %}

<script>
  const login_form = document.getElementById('login-form');
  const options_wrapper = document.getElementById('options-wrapper');
  document.getElementById('phone-login').addEventListener('click', e => {
    login_form.classList.remove('is-hidden');
    options_wrapper.style.display = 'none';
    document.getElementById('id_login').focus();
  });

  document.getElementById('open-options').addEventListener('click', e => {
        login_form.classList.add('is-hidden');
        options_wrapper.style.display = 'flex';
  });

  {% if form.errors %}
        document.querySelector(".errors").innerHTML =
        `<small class="error-text">The phone/username or password are not correct.</small>`

        login_form.classList.remove('is-hidden');
        options_wrapper.style.display = 'none';
        document.getElementById('id_login').focus();
  {% endif %}

</script>
{% endblock extra_js %}
