{% extends "base.html" %}

{% load static i18n %}

{# block head_title %}{% trans "Sign Out" %}{% endblock #}

{% block content %}
  <h1 class="title is-5">{% trans "Sign Out" %}</h1>

  <p>{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button id="confirmlogout" class="button accent-button" type="submit">{% trans 'Sign Out' %}</button>
    <button class="button red-button"> 
        <a class="border-0" href="javascript:history.back()">
            {% trans 'Cancel' %}
        </a> 
    </button>
   </form>

{% endblock content %}

{% block extra_js %}

  <script>
    document.querySelector("#confirmlogout").addEventListener('click', function () {
      localStorage.removeItem('auth');
      localStorage.removeItem('new-classified');
    })
  </script>
</div>

{% endblock extra_js %}
