{% extends "base.html" %}

{% load static i18n %}

{# block head_title %}{% trans "Sign Out" %}{% endblock #}

{% block content %}
<div class="container mt-5 pt-4 pb-4 mb-5">
  <h1>{% trans "Sign Out" %}</h1>

  <p>{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button id="confirmlogout" class="btn btn-dark" type="submit">{% trans 'Sign Out' %}</button>
    <button class="btn btn-danger"> <a href="{% url 'stories:list' %}"> {% trans 'Cancel' %} </a> </button>
  </form>

  <!-- <script src="{% static 'js/toast-msg.js' %}?v=0208191" type="text/javascript"> </script> -->
  <script>
    $("#confirmlogout").click(function () {
      localStorage.setItem('auth', "");
    })
  </script>
</div>


{% endblock %}