{% extends "base.html" %}

{% load i18n %}
{% load account %}

{# block head_title %}{% trans "Password Reset" %}{% endblock #}

{% block content %}
  <div class="row">
    <div class="page-wrapper col-lg-8 col-md-10 m-auto">

    <h1>{% trans "Password Reset" %}</h1>
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail with the link to reset your password. Please follow the link in the email to the reset password page. {% endblocktrans %}
   {% blocktrans %} Kindly note that the link is valid for only 72 hours (3 Day). be sure to use the link before it expires. {% endblocktrans %} </p> 

    <br/>
    <p> If you do not receive the email within few minutes, please 
    <a href="mailto:support@obrisk.com" > click here </a> to contact us or via WechatID: 
    <span style="font-weight:bold; color: #0aeee3"> Obrisk. </span>.</p>

    </div>
</div>

{% endblock content %}

