{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{# block head_title %}{% trans "Set Password" %}{% endblock #}

{% block content %}
<div class="view-wrapper">
    <div class="container">
        <div id="" class="view-wrap true-dom">
            <div class="columns is-centered">
                <div class="column is-half is-one-third-desktop has-background-white p-4">

                    <h1>{% trans "Set Password" %}</h1>

                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit" name="action" value="{% trans 'Set Password' %}" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}