{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{# block head_title %}{% trans "Password Reset" %}{% endblock #}

{% block content %}
  <div class="row">
    <div class="page-wrapper col-lg-8 col-xs-10 m-auto">

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Have you Forgotten your password? Enter your e-mail address you used when signing up and we will send you the link to reset your password!" %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-dark" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <a href="{% url 'users:phone_password_reset' %}"
                    class="btn btn-link pull-right">{% trans 'Use Phone number' %}</a>
    
    <br/> <br/>
    <p>{% blocktrans %}If you have any trouble resetting your password, please
    <a href="mailto:support@obrisk.com" > click here </a> to contact us (email: support@obrisk.com) or via WechatID: 
    <span style="font-weight:bold; color: #0aeee3"> Obrisk.{% endblocktrans %}</p>

    </div>
</div>
{% endblock content %}

