{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
<title>{% trans 'Change Password' %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

{% endblock head %}

{% block content %}

<div class="view-wrapper">
    <div class="container">
        <div id="" class="view-wrap true-dom">
            <div class="columns is-centered">


                <div class="column is-half is-one-third-desktop has-background-white p-4">
                    <div class="text-center">
                        <span
                            class="login100-form-title  ">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</span>

                    </div>

                    <!--Login Form-->
                    <div class="hero-body p-0">
                        <div class="form-wrapper">
                            <!--Form-->
                            <div class="login-form">

                                <div class="login-wrapper">
                                    <div class="outer-panel">
                                        <div class="outer-panel-inner">


                                            {% if token_fail %}
                                            {% url 'account_reset_password' as passwd_reset_url %}
                                            <p>{% blocktrans %} The password reset link was invalid, possibly because it
                                                has already been used. Please
                                                request a {% endblocktrans %}
                                                <a href="{% url 'users:phone_password_reset' %}">new password reset</a>.
                                            </p>
                                            {% blocktrans %} <br> <br>If you have any problem, Click {% endblocktrans %}
                                            <a href="mailto:support@obrisk.com"> here
                                            </a>
                                            to contact us or talk to us through the wechat ID: <span
                                                style="font-weight:bold; color: #0aeee3"> Obrisk.
                                            </span>. Thank you!
                                            {% else %}
                                            {% if form %}
                                            <form method="POST" action=".">
                                                {% csrf_token %}
                                                <div class="form-panel mt-4">
                                                    {{ form }}

                                                </div>
                                                <button
                                                    class="mt-2 button is-rounded is-solid accent-button raised is-fullwidth"
                                                    type="submit" name="action">{% trans 'Reset My Password' %}
                                                </button>
                                            </form>
                                            {% else %}
                                            <p>{% trans 'Your password is now changed.' %}</p>
                                            <br />
                                            <h5> You can now login with the new password. </h5>
                                            <a class="btn btn-dark btn-xl js-scroll-trigger text-dark"
                                                href="{% url 'account_login' %}">{% trans 'Login' %}</a>
                                            {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}