{% extends "base.html" %}

{% load i18n %}
{# block head_title %}{% trans "Change Password" %}{% endblock #}

{% block content %}
<div class="container mt-5 mb-md-5">

    <div class="row">
        <div class="page-wrapper col-lg-8 col-md-10 m-auto">

            <h1>{% trans "Change Password" %}</h1>
            <p>{% trans 'Your password is now changed.' %}</p>

            <br />

            <h5> You can now login with the new password <h5>
                    <a class="btn btn-dark btn-xl js-scroll-trigger text-dark"
                        href="{% url 'account_login' %}">{% trans 'Login' %}</a>

        </div>
    </div>
</div>
{% endblock %}