{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{# block head_title %}{% trans "Password Reset" %}{% endblock #}

{% block inner %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Have you Forgotten your password? Enter your phone number or your e-mail address below, depending on what you used when signing up and follow the next procedures" %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-dark" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>
    
    <br/>
    <p>{% blocktrans %}If you have any trouble resetting your password, please
    <a href="mailto:support@obrisk.com" > click here </a> to contact us (email: support@obrisk.com).{% endblocktrans %}</p>
{% endblock %}

