{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{# block head_title %}{% trans "Change Password" %}{% endblock #}

{% block inner %}
<div class="row">
    <div class="page-wrapper col-lg-8 col-md-10 m-auto">

        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>{% blocktrans %} The password reset link was invalid, possibly because it has already been used. Please request a {% endblocktrans %}
            <a href="{% url 'users:phone_password_reset' %}">new password reset</a>.</p>
            {% blocktrans %} <br> <br>If you have any problem, Click {% endblocktrans %} <a href="mailto:support@obrisk.com" >  here </a> 
            to contact us or talk to us through the wechat ID: <span style="font-weight:bold; color: #0aeee3"> Obrisk. </span>. Thank you!
        {% else %}
            {% if form %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" name="action" value="{% trans 'Change password' %}"/>
                </form>
            {% else %}
                <p>{% trans 'Your password is now changed.' %}</p>
            {% endif %}
        {% endif %}

    </div>
</div>

{% endblock inner %}


