{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{# block head_title %}{% trans "Password Reset" %}{% endblock #}

{% block inner %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Have you Forgotten your password? Enter your phone number you used when signing up and follow the next procedures" %}</p>

    <form method="POST" action="{% url 'users:phone_password_reset' %}" class="password_reset">
        {% csrf_token %}
        {{ form|crispy }}

        <small class="text-muted phone_label" id="phone_label"> Don't include the country code!</small>

        <input class="btn btn-dark" id="send-code" type="button" value="{% trans 'Reset' %}" />

        
        <div id="code-notice" style="font-weight:bold;"></div>

        <div class="form-row" id="code">
        <label class="mr-2"> Code: </label>
        <div class="d-flex">
            <input class="form-control col-xs-6" type="tel" pattern="[0-9]{6}" name="code" id="code">
            <button class="btn btn-dark code-btn ml-2 col-xs-2" type="button" id="phone-verify" > Verify </button>
        </div>

        </div>
        <div id="results" style="font-weight:bold;"> </div>
    </form>
    

     <a href="{% url 'account_reset_password' %}"
            class="btn btn-link pull-right">{% trans 'Use email' %}</a>

    <br/>
    <p>{% blocktrans %}If you have any trouble resetting your password, please
    <a href="mailto:support@obrisk.com" > click here </a> to contact us (email: support@obrisk.com).{% endblocktrans %}</p>
{% endblock %}

  {% block scripts %}
    <script src="{% static 'js/user-form.js' %}?v=21" type="text/javascript"> </script>
  {% endblock scripts %}