{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row">
    <div class="page-wrapper col-lg-8 col-md-10 m-auto">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% endfor %}
            {% endif %}
        </ul>

        <!-- Form rendering code for template -->
        <form action="" method="post">

            {% csrf_token %}
            {{ form|crispy }}

            <input type="submit" value="Submit" />
        </form>

        <br/> <br/>
        <small>{% blocktrans %}If you have any problem, please
        <a href="mailto:support@obrisk.com" > click here </a> to contact us or via WechatID: 
        <span style="font-weight:bold; color: #0aeee3"> Obrisk </span>{% endblocktrans %}</small>

    </div>
</div>

{% endblock %}