{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{# block head_title %}{% trans "Password Reset" %}{% endblock #}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

<div class="view-wrapper">
    <div class="container">
        <div id="" class="view-wrap true-dom">
            <div class="columns is-centered">


                <div class="column is-half is-one-third-desktop has-background-white p-4">

                    <span class="login100-form-title p-b-32">{% trans "RESET PASSWORD" %}</span>
                    {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                    {% endif %}

                    <p class="text-justify mt-2 mb-2 ">{% block trans %} Enter your phone number and
                        we will send you the code and you can change the password {% endblock %}</p>

                    <form method="POST" action="{% url 'users:phone_password_reset' %}" class="password_reset mb-0">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="form-group">
                            <small class="text-muted phone_label mt-0" id="phone_label"> Don't include the country
                                code!</small>

                            <button class="btn btn-dark" id="send-code" type="button"> Reset </button>
                        </div>



                        <div id="code-notice" style="font-weight:bold;"></div>

                        <div class="form-row d-none" id="code">
                            <label class="mr-2"> Code: </label>
                            <div class="d-flex">
                                <input class="form-control col-xs-6" type="tel" pattern="[0-9]{6}" name="code" id="code"
                                    style="max-width: 100px;">
                                <button class="btn btn-dark code-btn ml-2 col-xs-2" type="button" id="phone-verify">
                                    Verify
                                </button>
                            </div>

                        </div>
                        <div id="results" style="font-weight:bold;"> </div>
                    </form>


                    <a href="{% url 'account_reset_password' %}"
                        class="btn blue-link btn-link pull-right">{% trans 'Use email Address' %}</a>

                    <br /> <br />

                    <small>{% blocktrans %}Any problem?
                        <a href="mailto:support@obrisk.com" class="blue-link"> click here </a> to
                        contact us or
                        add WechatID:
                        <span class="blue-link"> Obrisk </span>{% endblocktrans %}</small>

                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block extra_js %}

<script type="text/javascript">
    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    var current_url = "{{ request.path }}";
    var errors = false;
</script>

<script src="{% static 'js/user-form.js' %}?v=0908192" type="text/javascript"> </script>

{% endblock extra_js %}