{% extends "base.html" %}

{% load i18n %}
{% load account %}
{% load static %}
{% load crispy_forms_tags %}

{% block head %}
<title>{% trans 'Account Login' %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

{% endblock head %}
{% block content %}
<div class="container view-wrapper">
    <div class="hero-body p-0">

        <form method="post">

            {% csrf_token %}

            <div class="form-panel">

                <label for="new_password1">
                    New password
                </label>
                {{ form.new_password1 }}

                <label for="new_password2">
                    New password confirmation
                </label>

                {{ form.new_password2 }}

                <br />
                <button type="submit" value=""
                    class="button is-rounded is-solid accent-button raised is-fullwidth">
                    Confirm
                </button>

            </div>
        </form>

        <br /> <br />
        <small>{% blocktrans %}Any problem? 
            <a href="mailto:support@obrisk.com"> email us here </a> or add
            our WechatID:
            <span style="font-weight:bold; color: #0aeee3"> Obrisk
            </span>{% endblocktrans %}
        </small>

    </div>
</div>

{% endblock %}
