{% extends 'admin_base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
<link href="{% static 'css/login.css' %}" rel="stylesheet"/>
{% endblock head %}

{% block content %}
    <form action="{% url 'users:admin_create_user' %}" id="signup_form"
      method="post" role="form" class="signup">
      {% csrf_token %}

          <div class="notification is-danger is-hidden" role="alert">
            <button type="button" class="delete close-dj-messages"></button>
            <p id="notf-msg"></p>
          </div>

          <div class="column">
          {{ form|crispy }}
            <br/>

              <button type="submit"
                class="button is-solid accent-button raised create submit-button">{% trans 'Submit' %}</button>
     <!-- close form column -->
     </div>

  </form>
  {{ form.media }}

   <div id="error-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <!-- dialog body -->
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- dialog buttons -->
          <div class="modal-footer">
              <button type="button" class="btn btn-primary">OK</button>
          </div>
        </div>
      </div>
  </div>
{% endblock content %}

{% block extra_js %}

<script type="text/javascript">

</script>

{% endblock extra_js %}
