{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
<link href="{% static 'css/messager.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

<div class="row" style="margin-top: 1em" style="overflow: scroll!important">

  <div class="col-md-8 m-auto title">
    <h4 style="color: black; font-weight: bold;">{% trans 'Recent----' %}</h4>
  </div>
<div>
    
</div>
  <div class="col-md-8 col-10 m-auto list-group users-list " style="overflow: scroll!important">
        

    
    

   

</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
{% endblock extra_js %}