{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username|title }}{% endblock %}

{% block head %}
<script src="{% static 'js/user-form.js' %}?v=0908192" type="text/javascript"> </script>
<script src="{% static 'js/location.js' %}?v=0208191" type="text/javascript"> </script>
<script src="{% static 'js/aliyun-oss.min.js' %}?v=3107191" type="text/javascript"></script>
<link href="{% static 'css/user_form.css' %}?v=21" rel="stylesheet">
{% endblock head %}

{% block content %}
<button onclick="window.history.go(-1); return false;" class="d-sm-block d-md-none btn btn-dark"> <i
    class="fa fa-chevron-left" aria-hidden="true"></i></button>

<div class="col-lg-8 m-auto">
  <div class="row profile">
    <div class="col-md-4 user-profile d-flex flex-column align-items-center">
      <h1>{{ user.username|title }}</h1>
      {% if user.name %}<p class="lead">{{ user.name }}</p>{% endif %}
      {% if object.picture %}
      <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{object.picture}}" alt="Picture Profile"
        style="width:250px;height:250px;border-radius: 50%;" id="avatar" class="mr-4">
      {% else %}
      <img id="avatar" src="{% static 'img/user.png' %}" height="250px" class="mr-4"
        style="width:250px;height:250px;border-radius: 50%;" alt="No Profile Picture" />
      {% endif %}

      <input type="file" name="temp_pic" onchange="uploadPreview(this)" accept="image/*" id="temp_pic">
      <p class="mt-3">
        <button class="btn btn-dark" onclick="document.getElementById('temp_pic').click();"> Choose pic </button>
      </p>
      <p class="mt-2"> <button class="btn btn-dark" id="startUpload" type="button"> Save pic</button> </p>

      <div id="statusBar" class="statusBar  flex-column align-items-center"
        style="display:none; font-size:14px; font-weight:bold;">
        <div class="total-progress">
          <div id="totalProgressBar" class="total-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
            aria-valuemax="100">
          </div>
        </div>
      </div>

    </div>

    <div class="col-md-8">
      <form enctype="multipart/form-data" class="update form-horizontal" method="post"
        action="{% url 'users:update' %}">
        <small> <strong> All fields are optional </strong> </small>
        {% csrf_token %}
        {{ form|crispy }}
        <h6> Address </h6>
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <label class="input-group-text" for="province">Province</label>
          </div>
          <select class="custom-select" id="province" name="province"></select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="city">City</label>
          </div>
          <select class="custom-select" id="city" name="city"> </select>
        </div>

        <div class="control-group">
          <div class="form-group d-flex justify-content-center">
            <div class="controls">
              <button type="submit" id="update-profile" class="btn btn-dark">{% trans 'Save Profile' %}</button>

            </div>
            <div class="controls ml-4 ">
              <a href="/users/{{ user.username}}/" class="btn btn-danger">Cancel</a>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>
{% csrf_token %}

<script>
  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

  var toast = new iqwerty.toast.Toast();
  toast.setText('Updating Profile').stylize({
    background: '#3EC4E2',
    color: '#fff',
    'box-shadow': '0 0 25px rgba(0, 0, 0, .7)'
  }).setDuration(5000);
  $('#update-profile').on('click', function () {
    toast.show();
  })
  $('#avatar').on('change', function ($this) {
    uploadPreview($this)
  })

  //This var is used only on the signup form, but they share js files with this one
  //In the near future please separate them.
  var errors = false;

  const oss_url = "{% url 'get_oss_auth' %}"; //classifieds/get_oss_auth/
  const user = "{{ request.user.username }}";

</script>
<script src="{% static 'js/profile-uploader.js' %}?v=0908193" type="text/javascript"></script>
{% endblock %}