{% extends "base.html" %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block title %}{{ user.username|title }}{% endblock %}

{% block head %}
<link href="{% static 'css/user_form.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

<div class="column profile m-2">
  <div class="user-profile">
      <h1 class="title is-5">{{ user.username|title }}</h1>

      {% if user.name %}
          <p class="lead">{{ user.name }}</p>
      {% endif %}

      {% if object.picture %}
          <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{object.picture}}" alt="Picture Profile"
            style="width:250px;height:250px;border-radius: 50%;" id="avatar" class="mr-4">
      {% else %}
          <img id="avatar" src="{% static 'img/user.png' %}" height="250px" class="mr-4"
            style="width:250px;height:250px;border-radius: 50%;" alt="No Profile Picture" />
      {% endif %}

      <input type="file" name="temp_pic" onchange="uploadPreview(this)" accept="image/*" id="temp_pic">

      <div class="grp-btns" >
        <button class="button is-solid opt-accent-button" onclick="document.getElementById('temp_pic').click();"> Choose pic </button>
        <button class="button accent-button" id="startUpload" type="button"> Save pic</button>
      </div>

      <div id="statusBar" class="statusBar"
        style="display:none; font-size:14px; font-weight:bold;">
        <div class="total-progress">
          <div id="totalProgressBar" class="total-progress-bar"
             role="progressbar" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100">
          </div>
        </div>
      </div>

    </div>

      <form enctype="multipart/form-data" class="update form-horizontal m-3" method="post"
        action="{% url 'users:update' %}">
        <small> <strong> All fields are optional </strong> </small>
        {% csrf_token %}
        {{ form|crispy }}
        
        <div class="input-group mb-3 mt-4">
          <div class="input-group-prepend">
            <label class="input-group-text" for="province">Province</label>
          </div>
          <select class="custom-select" id="province" name="province"></select>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="city">City</label>
          </div>
          <select class="custom-select" id="city" name="city"> </select>
        </div>

        <div class="grp-btns controls mt-3">
          <button type="submit" id="update-profile" class="button accent-button">{% trans 'Save Profile' %}</button>
          <a href="/users/{{ user.username}}/" class="button red-button">Cancel</a>
        </div>

      </form>
    </div>
</div>
{% csrf_token %}

{% endblock content %}

{% block extra_js %}
<script>
  //This var is used only on the signup form, but they share js files with this one
  //In the near future please separate them.
  var errors = false;
  const user = "{{ request.user.username }}";
  const oss_url = "{% url 'get_oss_auth' %}"; //classifieds/get_oss_auth

</script>

<link href="{% static 'css/wnoty.css' %}" rel="stylesheet"/>
<script src="{% static 'js/wnoty.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vendor/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/vendor/aliyun-oss.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/location.js' %}" type="text/javascript"> </script>
<script src="{% static 'js/user-form.js' %}" type="text/javascript"> </script>
<script src="{% static 'js/profile-uploader.js' %}" type="text/javascript"></script>
{% endblock extra_js %}
