{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ object.username }}{% endblock %}

{% block head %}
<link href="{% static 'css/user_profile.css' %}" rel="stylesheet">

{% endblock head %}

{% block content %}

<div>
  <div class="profile-header">
    {% if object.picture %}
        <img src="{{oss}}/{{object.picture}}" alt="Pic"
          class="profile-header-avatar" id="pic">
    {% else %}
        <img class="pull-right" src="{% static 'img/user.png' %}" height="180px" alt="pic" />
        <small class="lazy-img"> {{ object.username }} is too lazy to upload the profile pic.</small>
    {% endif %}

    <h1 class="media-body">{{ object.username|title }}</h1>

    <div class="profile-points">
      <div class="point-label">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
            viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-gift">
            <polyline points="20 12 20 22 4 22 4 12"></polyline>
            <rect x="2" y="7" width="20" height="5"></rect>
            <line x1="12" y1="22" x2="12" y2="7"></line>
            <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
            <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
        </svg>
        {% trans 'Points' %} <span class="title is-6"> {{ object.points }} <span>
      </div>
    </div>

    <div class="is-flex">
        {% if request.user.is_authenticated %}
          {% if request.user.username == object.username %}
                <a class="button accent-button" href="{% url 'users:update' %}">{% trans 'Update Profile' %}</a>

          {% else %}
                {% if object in friends %}
                    <a class="button accent-button"
                      url="{% url 'messager:conversation_detail' classified.user %}">{% trans '💬Chat' %}</a>
                {% elif object in pending %}
                    <a class="button accent-button" href="#">{% trans '✨ Pending' %}</a>
                {% elif object in pended%}
                    <p>{{object.username|title }} Wants to connect with you 🔌 </p>
                    <a class="button accent-button" 
                        href="{% url 'connections:friendship_request_list' %}">View requests</a>
                {% else %}
                    <a class="connect-btn button accent-button" href="#">
                        {% trans '➕ Connect' %}
                    </a>
                {% endif %}
          {% endif %}

      {% endif %}

      <a class="button accent-button" style="margin-left: 6px;"
           href="{% url 'users:user_classifieds' object.username %}">{% trans '🛍️View posts' %}</a>
    </div>
  </div>

  <div class="container profile-wrapper">
    <div id="contact-info" class="vcard">
      <p>
        {% if object.linkedin_account %}
            <a href="https://www.linkedin.com/in/{{ object.linkedin_account }}" style="font-size: 2em"
              title="{% trans 'LinkedIn Profile' %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                    viewBox="0 0 24 24" fill="#357BF5" stroke="#357BF5"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-linkedin">
                    <path 
                        d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z">
                    </path>
                    <rect x="2" y="9" width="4" height="12"></rect>
                    <circle cx="4" cy="4" r="2"></circle>
                </svg>
            </a>
        {% endif %}
        <br />

        {% if object.name %}
            👤{{ object.name|title  }} <br />
        {% endif %}

        {% if object.city %}
             📍{{ object.city }} <br />
        {% endif %}
        <br />

        {% if object.job_title %}
            💼{{ object.job_title }} <br />
        {% else %}
            <p>🛌 {{ object.username }} is too lazy to add a job title.</p>
        {% endif %}
      </p>

      {% if object.bio %}
          <div class="panel-body" id="objective">
            <p>📇{{ object.bio }}</p>
          </div>
      {% else %}
          <p> 🛌{{ object.username}} is too lazy to write a short bio.</p>
      {% endif %}

      <div class="clear"></div>
    </div>

  </div>
  {% csrf_token %}
</div>

{% endblock content %}

{% block extra_js %}

<link href="{% static 'css/wnoty.css' %}" rel="stylesheet"/>

<script src="{% static 'js/vendor/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/wnoty.js' %}" type="text/javascript"></script>
<script>
  const username = "{{ object.username }}";

  $(".connect-btn").click(function (e) {

    $.ajax({
      type: "POST",
      url: "/connections/friend/add/" + username + "/",
      data: {
        to_username: username
      },
      dataType: "json",
      success: function (response) {
        if (response) {
          $.wnoty({
            type: "success",
            message: response.message,
          });
        } else {
          $.wnoty({
            type: "error",
            autohide: false,
            message: "Sorry something went wrong , Please try again later.",
          });
        }
      }
    });
  });

  $(".follow-btn").click(function (e) {
    try {
        $.ajax({
          type: "POST",
          url: "/connections/follower/add/" + username + "/",
          data: {
            followee_username: username
          },
          dataType: "json",
          success: function (response) {
            if (response) {
              $.wnoty({
                type: "success",
                message: "You're now following" + username + "🔌",
              });
            } else {
              $.wnoty({
                type: "error",
                autohide: false,
                message: "Sorry something went wrong , Please try again later.",
              });
            }
          }
        });
      } catch {
          $.wnoty({
            type: "error",
            autohide: false,
            message: "This feature isn't available now, pls try later🙃",
          });
      }
  });

</script>

{% endblock extra_js %}
