{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ object.username }}{% endblock %}

{% block head %}
<link href="{% static 'css/user_profile.css' %}?v=200719" rel="stylesheet">
{% endblock head %}

{% block content %}
<a href="{% url 'stories:list' %}" class="d-sm-block d-md-none btn btn-dark"> <i class="fa fa-chevron-left" aria-hidden="true"></i></a>

<div class="col-md-8 m-auto">
  <div class="media user-profile profile-header d-flex flex-column">
    {% if object.picture %}
      <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{object.picture}}" alt="Picture Profile"
      class="mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid profile-pic" id="pic">
    {% else %}
      <img class="pull-right" src="{% static 'img/user.png' %}" height="250px" alt="No Profile Picture" />
      <small class="lazy-img"> {{ object.username }} is too lazy to upload the profile pic.</small>
    {% endif %}

    <div class="media-body">
      <h1 class="mt-0">{{ object.username|title }}</h1>

    </div>
    <div class="profile-points">
      <div class="point-label"> <i class="fa fa-gift"> </i> {% trans 'Points' %}</div>
      <div class="points"> {{ object.points }} </div>
    </div>
    {% if request.user.username == object.username %}
    <a class="btn btn-dark" href="{% url 'users:update' %}">{% trans 'Update Profile' %}</a>

    {% if object.is_official %}
            
      <a class="btn btn-outline-dark" href="{% url 'connections:friendship_followers'  object.username  %}">{% trans 'my followers🤝' %}</a>

    {% endif %}

{% else %}

    
    {% if object in friends %}     
      
       
      <a class="btn btn-outline-dark" href="{% url 'messager:conversation_detail' object.username  %}">{% trans '💬chat' %}</a>
      
    {% else %}
       <a class="btn btn-outline-dark" href="{% url 'connections:friendship_add_friend' object.username  %}">{% trans '➕add friends' %}</a>
    {% endif %}
    {% if object in following %}
     
        <a class="btn btn-outline-danger" href="{% url 'connections:follower_remove'  object.username  %}">{% trans 'unfollow' %}</a>
      
    {% else %}
      {% if object.is_official %}
      <a class="btn btn-outline-dark" href="{% url 'connections:follower_add'   object.username %}">{% trans 'follow' %}</a>
      {% endif %}
    {% endif %}
    
  {% endif %}    
    <!--This is else statement. <i class="fa fa-envelope" aria-hidden="true"></i><a class="email" href="mailto:{{ object.email }}">   {{ object.email }}</a><br /> -->
  </div>
  <div class="container profile-wrapper">

    <div id="contact-info" class="vcard">

      {% if object.is_seller %}

      {% endif %}

      <p>
        {% if object.instagram_account %}
        <a href="https://www.instagram.com/{{ object.instagram_account }}" style="font-size: 2em"
          title="{% trans 'Instagram Profile' %}"><i class="fa fa-instagram"></i> </a>
        {% endif %}

        {% if object.linkedin_account %}
        <a href="https://www.linkedin.com/in/{{ object.linkedin_account }}" style="font-size: 2em"
          title="{% trans 'LinkedIn Profile' %}"><i class="fa fa-linkedin"></i> </a>
        {% endif %}

        {% if object.snapchat_account %}
        <a href="https://www.snapchat.com/add/{{ object.snapchat_account }}" style="font-size: 2em"
          title="{% trans 'Snapchat Profile' %}"><i class="fa fa-snapchat"></i> </a>
        {% endif %}

        {% if object.facebook_account %}
        <a href="https://www.facebook.com/{{ object.facebook_account }}" style="font-size: 2em"
          title="{% trans 'Facebook Profile' %}"><i class="fa fa-facebook"></i> </a>
        {% endif %}

        <br />
        {% if object.name %}
            👤{{ object.name|title  }}
        {% endif %}

        <br />
        {% if object.city %}
        <span class="fa"> 📍{{ object.city }} </span> <br />
        {% endif %}
        <br />
        {% if object.job_title %}
        💼{{ object.job_title }} <br />
        {% else %}
        <p>🛌 {{ object.username }} is too lazy to add a job title.</p>
        {% endif %}
      </p>

      {% if object.bio %}
      <div class="panel-body" id="objective">
       <p>📇{{ object.bio }}</p>
      </div>
      {% else %}
      <p> 🛌{{ object.username}} is too lazy to write a short bio.</p>
      {% endif %}
      <div class="clear"></div>
    </div>

  </div>
</div>

{% endblock content %}