{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
  <link href="{% static 'css/user_list.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

  <div class="page-header">
    <h1>{% trans 'Contacts' %}</h1>
  </div>

  <ul class="user-profiles-list">
    {% for user in user_list %}
      <li>
        <div class="user-avatar">
          <a href="{% url 'users:detail' user.username  %}" class="user-avatar">
          
        {% if user.thumbnail %}
              <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{user.thumbnail}}" alt="Picture Profile"
              style="width:70px;height:70px;border-radius: 50%;"
              class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
        {% else %}
              <img src="{% static 'img/user.png' %}" class="pull-left" height="70px" alt="No Profile Picture" />
        {% endif %}

         
          </a>
        </div>
        <p>
          <!-- <i class="fa fa-envelope" aria-hidden="true"></i>
          <a class="email" href="mailto:{{ user.email }}">
            {{ user.get_profile_name|title }}
          </a> -->
          <span>
            {% if user.job_title %}
              <i class="fa fa-briefcase" aria-hidden="true"></i>
              <i>  {{ user.job_title}}</i>
            {% endif %}
          </span>
          <span>
            {% if user.city %}
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <i>  {{ user.city }}</i>
            {% endif %}
          </span>
        </p>
      </li>
    {% endfor %}
  </ul>

{% endblock content %}
