{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
<link href="{% static 'css/messager.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
{% include "chats.html" %}

{% load friendshiptags %}

{% for f in following %}
{{ f.username }}
{% empty %}
Sorry {{ request.user.username }}, you do not follow any official account right now 😞

{% endfor %}
  
<div>
  <a class="btn btn-outline-secondary" href="{% url 'users:detail' request.user.username%}"> 👤 my profile </a>

</div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
{% endblock extra_js %}