{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
<link href="{% static 'css/messager.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
{% include "chats.html" %}

{% for f in followers %}
<h1><b>request.user.username }}'s Followers</b></h1>
  {{ f.username }} 
{% empty %}
  Sorry {{ request.user.username }}, you do not have any followers right now 😞
  
{% endfor %}
<div>
  <a class="btn btn-outline-secondary" href="{% url 'users:detail' request.user.username%}"> 👤 my profile </a>

</div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
{% endblock extra_js %}