{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
<link href="{% static 'css/messager.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
{% include "chats.html" %}

<div>
    <ul>
        {% for friendship_request in sent_requests %}
        {% if friendship_request.thumbnail %}
      <a href="{% url 'users:detail' friendship_request.to_user %}">
         <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{friendship_request.thumbnail}}" alt="Picture Profile"
          style="width:40px;height:40px;border-radius: 50%;"
          class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic"> </a>
      {% else %}
            <a href="{% url 'users:detail' friendship_request.to_user %}">
            <img src="{% static 'img/user.png' %}" height="40px" alt="No Profile Picture" /> </a>
      {% endif %}
      <strong> <a href="{% url 'users:detail' friendship_request.to_user %}"> {{ friendship_request.to_user | title}} </a>
        <br>
        {% empty %}
        </ul>
        <div>
          <p>No sent requests</p><br>

        </div>
        {% endfor %}
        
</div>
<div>
  <a class="btn btn-outline-secondary" href="{% url 'users:detail' request.user.username%}"> 👤 my profile </a>

</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
{% endblock extra_js %}