{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Add connection' %}{% endblock %}

{% block head %}
    <link href="{% static 'css/messager.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
        
    <div class="view-wrapper">
        {% if not to_username == request.user.username %}
            {% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
            <form method="post">
                {% csrf_token %}
                <p> Do you want to send a connection request to {{ to_username }}? </p>
                <input type="hidden" name="to_username" value="{{ to_username }}" />
                <button type="submit" class="btn btn-dark">{% trans 'Submit' %}</button>
            </form>
        {% endif %}
    </div>

{% endblock content %}