{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="view-wrapper">
    <div class="container ">
        <!-- Profile page main wrapper -->
        <div id="profile-friends" class="view-wrap is-headless">


            <div class="columns">
                <div class="column">
                    {% if not followee_username == request.user.username %}
                    {% if errors %}<p>{{ errors|join:", " }}</p>{% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
