{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
<link href="{% static 'css/messager.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
{% load friendshiptags %}
{% get_by_name friendship_context_object_name as var %}
{% blocking var %}
<div>
  <a class="btn btn-outline-secondary" href="{% url 'users:detail' request.user.username%}"> 👤 my profile </a>

</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
{% endblock extra_js %}