{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
{% endblock head %}

{% block content %}

<div class="view-wrapper">
    <div class="container ">
        <!-- Profile page main wrapper -->
        <div id="profile-friends" class="view-wrap is-headless">

            <div class="columns">
                <div class="column">
                    <div class="community-content">

                    <div class="page-invites">
                            <h3 class="header">Connections requests</h3>
                        <div class="suggestions">
                          
                        <!--Friends grid-->
                        <div class="friends-grid">
                            <div class="columns is-multiline d-flex">
                          
                           {% for friendship_request in received_requests %}
                            
                            <!--Friend item-->
                            <div class="column is-3 is-6-mobile">
                                <a class="friend-item p-2 has-text-centered" 
                                        href="{% url 'connections:friendship_requests_detail' friendship_request.id %}">
                                <div class="avatar-wrap">
                                    <div class="circle"></div>
                                    <div class="chat-button">
                                    <i data-feather="eye"></i>
                                    </div>
                                    {% if friendship_request.from_user.picture %}
                                    <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{friendship_request.from_user.picture}}" alt="Pic">
                                    {% else %}
                                    <img src="{% static 'img/user.png' %}" width="40px"
                                    style="width:40px;height:40px;border-radius: 50%;" alt="No Pic"
                                    class="mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" />
                                    {% endif %}
                                </div>
                                <h3>{{ friendship_request.from_user.get_profile_name|title }}</h3>
                                <p>From {{friendship_request.from_user.city|title}}</p>
                                </a>
                            </div>
                            <!--Friend item-->
                            {% empty %}

                            <div>
                                <p>You have received no requests</p><br>
                            </div>

                            </div>
                            </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>

            <button type="button" class="btn btn-dark " onclick="javascript:history.back()"> <i
                    class="fa fa-chevron-left" aria-hidden="true"></i> Back </button>
        </div>
    </div>
</div>



{% endblock content %}

{% block extra_js %}
{% endblock extra_js %}