{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
{% endblock head %}

{% block content %}
{% load friendshiptags %}



<div class="view-wrapper">
  <div class="container ">
    <!-- Profile page main wrapper -->
    <div id="profile-friends" class="view-wrap is-headless">


      <div class="columns">
        <div class="column">

          <div class="profile-menu mt-2 mb-2 d-flex align-items-start">
            <div class="menu-start">
              <a href="{% url 'connections:friendship_followers'  request.user.username %}"
                class="button has-min-width">{% trans "Followers" %}</a>
              <a href="{% url 'connections:friendship_following' request.user.username  %}"
                class="button has-min-width">{% trans "Following" %}</a>
            </div>
            <div class="menu-end">
              <a id="profile-friends-link" href="{% url 'connections:friendship_request_list' %}"
                class="button has-min-width">{% trans "Friend Requests" %}</a>
            </div>
          </div>


          <div class="box-heading">
            <div class="dropdown friends-dropdown is-spaced is-neutral dropdown-trigger">
              <div>

                <h4> {% trans "Discover People" %} </h4>

              </div>

            </div>

            <div class="control heading-search">
              <form id="classifiedsearch" action="{% url 'connections:users_search_results' %}">
                <input name="query" type="text" class="input is-rounded" placeholder="Search Friends...">
                <div class="search-icon">
                  <i data-feather="search"></i>
                </div>
              </form>

            </div>
          </div>

          <!--Friends grid-->
          <div class="friends-grid">
            <div class="columns is-multiline d-flex">



              {%  for connect in recommended_connects %}
              <!--Friend item-->
              <div class="column is-3 is-6-mobile">
                <a class="friend-item p-2 has-text-centered" href="{% url 'users:detail' connect.username %}">
                  <div class="avatar-wrap">
                    <div class="circle"></div>
                    <div class="chat-button">
                      <i data-feather="eye"></i>
                    </div>
                    {% if connect.thumbnail %}
                    <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{connect.thumbnail}}" alt="Pic">
                    {% else %}
                    <img src="{% static 'img/user.png' %}" width="40px"
                      style="width:40px;height:40px;border-radius: 50%;" alt="No Pic"
                      class="mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" />
                    {% endif %}
                  </div>
                  <h3>{{ connect.get_profile_name|title }}</h3>
                  <p>From {{connect.city|title}}</p>
                </a>
              </div>
              <!--Friend item-->
              {% endfor %}

            </div>
          </div>
          <!-- Load more users -->
          <!-- <div class=" load-more-wrap has-text-centered">
            <a href="#" class="load-more-button">Load More</a>
          </div> -->

          <div class="box-heading">
            <div class="dropdown friends-dropdown is-spaced is-neutral dropdown-trigger">
              <div>

                <h4> {% trans "Contacts" %} </h4>

              </div>

            </div>
          </div>
          <!--Friends grid-->
          <div class="friends-grid">
            <div class="columns is-multiline d-flex">

              {% for f in friends %}
              <!--Friend item-->
              <div class="column is-3 is-6-mobile">
                <a class="friend-item has-text-centered" href="{% url 'messager:conversation_detail' f.username  %}">
                  <div class="avatar-wrap">
                    <div class="circle"></div>
                    <div class="chat-button">
                      <i data-feather="message-circle"></i>
                    </div>

                    {% if f.thumbnail %}
                    <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{f.thumbnail}}" alt="Pic">
                    {% else %}
                    <img src="{% static 'img/user.png' %}" width="40px"
                      style="width:40px;height:40px;border-radius: 50%;" alt="No Pic"
                      class="mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" />
                    {% endif %}
                  </div>
                  <h3>{{ f.username | title}}</h3>
                  <p>From {{connect.city|title}}</p>

                </a>

                {% empty %}
                <p class="p-3">Sorry {{ request.user.username }}, you have no friends</p><br>
                {% endfor %}
                <!--Friend item-->
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-dark " onclick="javascript:history.back()"> <i
                class="fa fa-chevron-left" aria-hidden="true"></i> Back </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}