{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
<link href="{% static 'css/messager.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
{% load friendshiptags %}


<div class="view-wrapper">
    
  <div class="questions col-12 col-md-9 m-auto">
      <ul class="nav nav-tabs justify-content-between">
        <li class="nav-item">
          <a  href="{% url 'connections:friendship_followers'  request.user.username %}">
            {% trans "Followers" %}
          </a>
        </li>
          <li class="nav-item">
            <a  href="{% url 'connections:friendship_following' request.user.username  %}">
              {% trans "Following" %}
            </a>
          </li>
            <li class="nav-item">
              <a   href="{% url 'connections:friendship_request_list' %}">
                {% trans "Friend Requests" %}
              </a>
          </li>
      </ul>
            
      <div class="col-md-3 mb-5 mt-5">
          <div class="justify-content-end ml-auto d-flex flex-row">
            <form class="searchbar" id="classifiedsearch" action="{% url 'connections:users_search_results' %}" style="display:inline;">
              <input type="text" name="query" placeholder="Search...">
              <div class="search"></div>
            </form>
      
          </div>
       </div>
  </div>
  
  {% for f in friends %}
      {% if f.thumbnail %}
        <a href="{% url 'users:detail' f.username %}">
          <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{f.thumbnail}}" alt="Picture Profile"
            style="width:40px;height:40px;border-radius: 50%;"
            class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic"> </a>
        {% else %}
              <a href="{% url 'users:detail' f.username %}">
              <img src="{% static 'img/user.png' %}" height="40px" alt="No Profile Picture" /> </a>
        {% endif %}
            
        <strong> <a href="{% url 'users:detail' f.username %}"> {{ f.username | title}} </a>
        <a class="btn btn-outline-dark" href="{% url 'messager:conversation_detail' f.username  %}">{% trans '💬chat' %}</a></strong>
        <br>
    {% empty %}
      <p>Sorry {{ request.user.username }}, you have no friends</p><br>
    {% endfor %}

  <h4> Discover people </h4>

  {%  for connect in recommended_connects %}
      <a href="{% url 'users:detail' connect.username %}"
        class="card p-4 mb-3 d-flex flex-row ">
        {% if connect.thumbnail %}
        <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{connect.thumbnail}}" alt="Pic" width="40px"
          style="width:40px;height:40px;border-radius: 50%;"
          class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid">
        {% else %}
        <img src="{% static 'img/user.png' %}" width="40px" style="width:40px;height:40px;border-radius: 50%;"
          alt="No Pic" class="mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" />
        {% endif %}

        <strong class="username"> {{ connect.get_profile_name|title }} </strong>
      </a>
      
  {% endfor %}
  <div>
    <button type="button" class="btn btn-dark " onclick="javascript:history.back()"> <i class="fa fa-chevron-left"
        aria-hidden="true"></i> Back </button>
   </div> 
</div>


{% endblock content %}

{% block extra_js %}

{% endblock extra_js %}