{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
{% endblock head %}

{% block content %}
<div class="view-wrapper">
  <div class="container ">
    <!-- Profile page main wrapper -->
    <div id="profile-friends" class="view-wrap is-headless">


      <div class="columns">
        <div class="column">
          <strong>
            <p>
              {% if request.user.thumbnail %}
              <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{request.user.thumbnail}}" alt="Picture Profile"
                style="width:40px;height:40px;border-radius: 50%;"
                class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic"> </a>
              {% else %}
              <a href="{% url 'users:detail' request.user.username %}">
                <img src="{% static 'img/user.png' %}" height="40px" alt="No Profile Picture" /> </a>
              {% endif %}
              <a href="{% url 'users:detail' request.user  %}"> {{ request.user.username | title}} </a>Hello
            </p>
            your request is on pending,
            please wait for the other user to accept your request
          </strong>
          <br />

          <button type="button" class="btn btn-dark " onclick="javascript:history.back()"> <i class="fa fa-chevron-left"
              aria-hidden="true"></i> BACK</button>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
{% endblock extra_js %}