{% extends "base.html" %}
{% load static i18n %}
{% block title %}{% trans 'Contacts' %}{% endblock %}

{% block head %}
<link href="{% static 'css/messager.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
<div class="view-wrapper">
    <div class="container ">
        <!-- Profile page main wrapper -->
        <div id="profile-friends" class="view-wrap is-headless">


            <div class="columns">
                <div class="column">
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="blocked_username" value="{{ blocked_username }}" />
                        <input type="submit" value="remove {{ blocked_username }} from block list" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/messager.js' %}" type="text/javascript"></script>
{% endblock extra_js %}