@import "partials/layout-colors";
@import "partials/layout-extra-colors";
@import "partials/components-cards";
@import "partials/components-buttons";

@import "partials/components-dropdowns";
@import "partials/components-modals";
@import "partials/components-forms";
@import "partials/components-popovers";
@import "partials/components-checkboxes";
@import "partials/components-utils";
@import "partials/app-feed";
@import "partials/app-stories";
@import "partials/layout-responsive";

body {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

.view-wrapper {
    margin-top: 58px;
}

.tags-card-wrapper {
    display: flex;
    justify-content: center;
}

.small-cards-listing {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-left: 4%;
   margin-right: 4%;
}

.ribbon {
  font-size: 14px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. 
    If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 50%;
  position: relative;
  background: #c03004;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
  /* Adjust to suit */
  margin: 2em auto 3em;
  /* Based on 24px vertical rhythm. 48px bottom margin -
    normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.sidebar-overlay {
    background: rgba(54, 25, 25, 0.5);
    height: 100%;
    left: -100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.sidebar {
    float: left;
    width: 280px;
    margin: auto;
    text-align: left;
    line-height: 1.35em;
    position: sticky;
    top: 180px;
    z-index: 5;
}

.sidebar .card-header {
    background-color: #01baef;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 82'%3E%3Cpolygon fill='%23f0fdff' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23139daa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e0eced' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2333999f' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d0dbdc' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23459595' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c0cacb' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%2352918d' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b0b9ba' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%235d8c86' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a1a9aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23658880' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background: linear-gradient(72.29deg, #01BAEF -0.13%, rgba(1, 186, 239, 0) 95.48%);
    height: 120px;
}

.sidebar {
    position: absolute;
    display: none;
    width: 80%;
    top: 80px;
    z-index: 2;
    z-index: 2;
    -webkit-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -moz-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.sidebar .card-body {
    min-height: 480px;
}

.mw-100 {
    width: 100% !important;
}

.open-sidebar {
    overflow: hidden;
    overflow-y: hidden;
    height: 70vh;
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #491104;
  z-index: -1;
}

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #c03004 transparent transparent transparent;
  bottom: -1em;
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

.btn-red {
  color: #fff;
  background: linear-gradient(45deg, #491104, #c03004);
}

.btn-red:hover {
  color: #0aeee3;
}

.classified-card {
  width: 156px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 369px) {
  .classified-card {
    width: 126px;
  }
}

.card-img {
  width: 100%;
  /* or any custom size */
  height: 100%;
  object-fit: contain;
}

/* Classified details swap thumbnails */
@media (max-width: 600px) {
  .thumbs > img {
    width: 60px;
    height: 60px;
  }
}

.toggle-off.btn {
  padding-right: 0 !important;
}

.toggle-on.btn {
  padding-left: 0 !important;
}

.price-label {
  background-color: gray;
  padding: 4px;
}

.numberinput {
  width: 70%;
}

.sp-selected-button {
  background-color: #0aacec !important;
}
.sp-button {
  border: 2px solid #0aacec !important;
}
.sp-arrow::before,
.sp-arrow::after {
  background-color: #0aacec !important;
}
/* .card.is-highlighted {
  height: 100%;
  position: fixed !important;
  width: 100%;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  overflow: scroll;
} */
