@import "partials/layout-colors";
@import "partials/layout-extra-colors";
@import "partials/components-cards";

.is-fixed-top-cls {
    height: 4.5em;
    padding-top: 1em;
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    z-index: 30;

    .nav-inner {
        align-items: stretch;
        display: flex;
        font-size: 1rem;
        justify-content: space-between;
        overflow: hidden;
        white-space: nowrap;

        .tp-nav-ul {
            display: flex;
            justify-content: space-between;
            width: 100%;

        }
    }
}

#search-item {
    display: list-item;
    width: 80%;
}

body {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

#search-input, #search-btn
{
    font-family: Nunito;
    border: 0;
    background-color: transparent;
}

#search-form{
    background-color: #def0fd;
    border-radius: 10px;
    height: 2.45em;
    margin: .6em 0 .6em .8em;
}

#search-input{
    width: 100%;
    height: 100%;
    margin-left: 6px;
    font-size: 18px;
    line-height: 1;
    border: none;
    border-width: 0;
    box-shadow: none;

    &:focus{
      background-color: #def0fd;
      font-size: 18px;
      margin-left: 6px;
      border: none;
      border-radius: 10px;
    }

}

.base-notif {
    margin-top: 4em;
    margin-bottom: 1em;
}

#not-found {
    display: none;
    flex-direction: column;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 0 0.5em 1em -0.125em rgba(0, 0, 0, .01), 0 0 0 1px rgba(0, 0, 0, .1);
}

.small-cards-listing {
   display: flex;
   flex-wrap: wrap;
}

.pagination {
    align-content: center;
}

.item-link {
    color:black;
    background-color:none;
}

.card-title {
  height: 53px;
  width: auto;
  white-space: pre-wrap;
  overflow: hidden;
}

.card-subtitle {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin-bottom: 2px;
}

.card-body small,
.small {
    font-size: 70%;
}

.divider {
    width: 100%;
    height: 5px;
    background: linear-gradient(267.54deg, #3EC4E2 0%, #A1DBD2 101.73%);
}

.classifieds-list-wrapper {
    padding-top: 0rem;
    margin-bottom: 4em;
}

.card-meta {
   display: flex;
   justify-content: space-between;
 }

.priority {
   text-align: center;
   padding-bottom: 2;
}

.end-classifieds {
     text-align: center;
     font-size: 13px;
}

.classified-card {
  width: 45%;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
}

.card-img {
  width: 100%;
  /* or any custom size */
  height: 100%;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


//Classifieds details.......

article {
  margin: auto auto 4rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.slides {
  display: flex;
  max-height: 70vh;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  
  a {
      width: 100%;
      object-fit: contain;
      position: relative;
      scroll-snap-align: start;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, .88);
    }

  .classified-image {
      transform-origin: center center;
      transform: scale(1);
      transition: transform 0.5s;
      width: 100%;
  }
}

.slides::-webkit-scrollbar {
    display: none;
}

.classified-meta {
    border-radius: 0;
    position: relative;

   .paging-wrapper {
        content: '';
        border-radius: 50px 50px 0 0;
        position: absolute;
        top: -34px;
        left: 0;
        right: 0;
        height: 35px;
        background: #fff;

        .slide__paging {
            position: absolute;
            z-index: 1;
            bottom: .5em;
            left: 50%;
            transform: translateX(-50%);
            padding: 0;
            display: inline-flex;
            align-items: center;
            width: 95%;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0;

            li {
                list-style-type: none;
                display: inline-block;
                line-height: 1;
                margin: 0;
            }
        }

        .slide__paging__page {
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            margin: 3px;
            padding: 0;
            transition: transform .2s linear;
            border: none;
            opacity: .7;
            background: #3ec4e2;
        }

        .slide__paging__page.is-active {
            transform: scale(1.6);
            background: #1FAECE;
        }
    }
}


.cls-title {
    margin-top: 4px;
    text-align: left;
}

.price {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

.meta-info {
   display: flex;
}

.meta-right {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.meta-right-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-link {
    margin-right: 2px;
}

.location {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

#pic {
  height:35px;
  max-width:35px;
  border-radius: 20%;
}

#classified-user {
    margin-left: 6px;
}

.action-wrapper {
  display: flex;
  align-items: flex-end;
  margin: 0;
  margin-top: 4px;
  justify-content: space-evenly;
  width: 100%;
}

.button {
    padding: 1;
    width: 100%;
}

.card-body small,
.small {
  font-size: 70%;
}

.card-text {
    margin: 14px auto;
}

.pay-button {
    background-color: #1FAECE;
    margin: auto auto auto 6%;
}
    
.chat-button {
   background-color: #3ec4e2;
   margin: auto 6% auto auto;
   padding: 0;
 }

#payError {
    font-size: 14px;
    color: red;
    text-align: center;
    margin-top: 6px;
}

.classified-tags {
    width: 100%;
    margin: 4px auto;
}

.tag-item {
    align-items: center;
    border-radius: 4px;
    display: inline-flex;
    font-size: .80rem;
    height: 2em;
    line-height: 1.5;
    padding-left: .75em;
    padding-right: .75em;
    white-space: nowrap;
    background-color: #3EC4E2;
}

.related {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 2px auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.related::-webkit-scrollbar {
  display: none;
}

.related-title {
    font-size: 1rem;
    margin: auto auto auto 2px !important;
}


@media screen and (max-width: 570px) {
  .meta-right a {
    font-size: 12px;
  }

  .meta-left span,
  small {
    font-size: 12px;
  }
}


a {
  color: rgba(13, 157, 219, 0.55);
  font-weight: 500;
  text-decoration: none;
}

.vd-container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

#off-ac {
    background-color: $accent;
    color: white;
    padding: 0.5em;
    display: none;

    span {
        margin-left: 14px;
        text-align: center;
    }
} 
