@import "partials/layout-colors";
@import "partials/layout-navbar";

nav {
  font-family: "Montserrat", sans-serif;
}

.navbar-expand-md > .container,
.navbar-expand-md > .container-fluid {
  flex-wrap: wrap;
}

.navbar-brand {
  font-weight: 600; font-size: 2em; color: #fff;
}

.muted-grey .navbar-nav .nav-link {
  font-weight: 600;
  font-size: 15px;
  color: $muted-grey;
}


#notifications {
  font-size: 20px;
  padding: auto;
  color: #fff;
}

.navbar-right {
  flex-direction: row;
}

.navbar-nav a.is-active {
  color: $accent !important;
}

.navbar .navbar-item .is-navbarTop:after {
  display: none;
}

.top-nav-user {
    display: flex;
    justify-content: space-between;
}

.top-nav-user-li {
    display: flex !important;
    justify-content: flex-end;
}


.django-messages {
    margin-top: 4px;
    padding-top: 2px;
    padding-bottom: 4px;
}


#messages {
  margin-top: 3rem;
}

.bt-nav-tab {
    font-size: 1rem;
    white-space: nowrap;
    color: $muted-grey !important;
    /* color: #344258;*/
    display: flex;
    justify-content: space-between;
    overflow: auto hidden;
    padding: 1px 0px 0px 0px;
    margin-top: 1px;
    border: 0px;
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.25);
}

.bt-nav-tab.is-toggle li.is-active a{
  color: $accent !important;
}

.bt-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3px;
}

.nav-icons {
  margin-bottom: -6px;
}

.nav-link {
  margin-top: -5px;
  font-size: 14px;
}


#navbarBottom .navbar .navbar-item .nav-drop:before {
  left: auto !important;
  right: 7% !important;
}

#navbarBottom .navbar .navbar-item .nav-drop {
  right: 0 !important;
  left: auto !important;
}

#navbarBottom .navbar .navbar-item .nav-drop:after,
.navbar .navbar-item .nav-drop:before {
  left: auto !important;
}
