@import "partials/layout-colors";
@import "partials/layout-navbar";
@import "partials/simple-defaults";

.overlay-back-btn {
    position: absolute;
}

.is-top-notif {
    margin-top: 4em;
    margin-bottom: 1em;
}

.nav-back-btn {
  margin-top: 0.7em;
  margin-left: 1em;
  position: fixed;
  z-index: 5;
}

.notification {
    margin-top: 8px;
}

.notif-li {
    display: flex;
    justify-content: center;
}

//standard slim
.has-slimscroll {
    overflow: hidden !important;

    &::-webkit-scrollbar {
        width: 4px !important;
    }

    &::-webkit-scrollbar-track-piece {
        background: $opt-accent !important;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px !important;
        color: $accent !important;
    }
}

a {
  color: #202024 !important;
}

.nav-logo {
    svg {
        margin-top: 1em;
        margin-left: .5em;
    }
}

.muted-grey .navbar-nav .nav-link {
  font-weight: 600;
  font-size: 15px;
  color: $muted-grey;
}

.top-nav-user {
    display: flex;
    justify-content: space-between;
}

.top-nav-user-li {
    display: flex !important;
    justify-content: flex-end;
}

.guest-user {
    justify-content: flex-end;
}

.is-auth-user {
    justify-content: space-between;
}

.account-item {
    border-color: #dbdbdb;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 0;
}

.navbar .navbar-item .is-navbarTop:after {
  display: none;
}

.bt-nav-ul {
    display: flex;
    justify-content: space-around;
    font-size: 1rem;
    white-space: nowrap;
    color: $muted-grey !important;
    overflow: auto hidden;
    padding: 1px 0px 0px 0px;
    border: 0px;
    border-radius: 8px;
    box-shadow: 0px -4px 5px 0px rgba(0, 0, 0, 0.25);
}

.bt-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
    font-size: 13px;
    
   .is-active & {
      color: darken($accent, 10%) !important;
    }
}

.nav-icons {
  margin-bottom: -6px;
}

#navbarBottom .navbar .navbar-item .nav-drop:before {
  left: auto !important;
  right: 7% !important;
}

#navbarBottom .navbar .navbar-item .nav-drop {
  right: 0 !important;
  left: auto !important;
}

#navbarBottom .navbar .navbar-item .nav-drop:after,
.navbar .navbar-item .nav-drop:before {
  left: auto !important;
}

.msg-notification {
    position:absolute;
    right: 12%;
}

.new-msgs-icon {
    display: none;
    position: absolute;
    right: 20px;
    position: absolute;
    left: 25px;
    color: #fb4133;
    font-size: 12px;
}

.iphone-nav-bt {
    bottom: -5px !important; 
    margin-bottom: 4px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

input:-webkit-autofill {
    -webkit-box-shadow:0 0 0 50px #ffffff inset;
}

.form-control:focus, .form-control:active {
    background: #def0fd;
    border-radius: 10px;
}
