@import "partials/bulma-base";
@import "bulma_partials/elements/image";
@import "bulma_partials/elements/title";
@import "partials/layout-colors";
@import "partials/components-cards";


$white: #FCFCFC;
$dark: #777777;

html { 
  background:  linear-gradient(to bottom right, #20a9e6 40%, #3ec4e2 100%);
  height: 100vh;
}

.cls-back-btn {
    margin: 1.5em;
}

.home-svg {
    margin-top: 2em;
}


.face-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
}

.face {
  width: 14rem;
  height: 14rem;
  background: $white;
  border-radius: 50%;
  border: 1px solid $dark;
  top: 24%;
  left: 39%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}

.eye {
  position: absolute;
  width: 12px;
  height: 8px;
  background: $dark;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}

.right {
  left: 68%;
}

.mouth {
  position:absolute;
  top: 58%;
  left: 39%;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.happy {
  border: 4px solid;
  border-color: transparent $dark $dark transparent;
  transform: rotate(45deg);
}

.sad {
  top: 49%;
  border: 2px solid;
  border-color: $dark transparent transparent $dark;
  transform: rotate(45deg);
}

.shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: .5;
  background: $dark;
  left: 40%;
  top: 28%;
  border-radius: 50%;
  z-index: 1;
}

.scale {
  animation: scale 1s ease-in infinite;
}

@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}

@keyframes bounce {
  50% {
     transform: translateY(-10px);
  }
}


.order-item {
  position: relative;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: -10px -10px 20px -10px rgba(0, 0, 0, 0.2);
  margin: 2rem;

  display: flex;
  align-items: center;
  flex-direction: row;

  .card-img {
      border: 5px solid #fff;
      border-radius: 10%;
      object-fit: cover;
      background-color: #fff;
  }

  #order-summary-meta {
    font-size: 100%;
    font-weight: 400;
    margin-left: 1em;

    .item-details {
      font-size: 2em;
    }
  }

}

.action-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 0;
    margin-top: 6rem;
    justify-content: space-evenly;
    width: 100%;

    .button {
        padding: 1.4em;
        border-radius: 1rem;
    }
}

.black-link {
    color: #202024!important;
}

#notes {
  font-size: 2.5em;
  margin: 1em;
  color: white;
}



//Snow
@function random_range($min, $max) {
  $rand: random();
  $random_range: $min + floor($rand * (($max - $min) + 1));
  @return $random_range;
}

.snow {
  $total: 200;
  position: absolute;
  width: 25px;
  height:25px;
  background: white;
  border-radius: 50%;

  @for $i from 1 through $total {
    $random-x: random(1000000) * 0.0001vw;
    $random-offset: random_range(-100000, 100000) * 0.0001vw;
    $random-x-end: $random-x + $random-offset;
    $random-x-end-yoyo: $random-x + ($random-offset / 2);
    $random-yoyo-time: random_range(30000, 80000) / 100000;
    $random-yoyo-y: $random-yoyo-time * 100vh;
    $random-scale: random(10000) * 0.0001;
    $fall-duration: random_range(10, 30) * 1s;
    $fall-delay: random(30) * -1s;

    &:nth-child(#{$i}) {
      opacity: random(10000) * 0.0001;
      transform: translate($random-x, -10px) scale($random-scale);
      animation: fall-#{$i} $fall-duration $fall-delay linear infinite;
    }

    @keyframes fall-#{$i} {
      #{percentage($random-yoyo-time)} {
        transform: translate($random-x-end, $random-yoyo-y) scale($random-scale);
      }

      to {
        transform: translate($random-x-end-yoyo, 100vh) scale($random-scale);
      }
    }
  }
}


