#Destination /etc/systemd/system/celerybeat.service
[Unit]
Description=Celery beat daemon
After=network.target

[Service]
PIDFile=/home/ubuntu/run/celerybeat/pid
Type=simple
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/obdev2018
ExecStart=/home/ubuntu/obdev2018/venv_obrisk/bin/celery -A config beat -l CRITICAL


[Install]
WantedBy=multi-user.target
