#Destination /etc/systemd/system/celery.service
[Unit]
Description=Celery daemon
After=network.target

[Service]
PIDFile=/home/ubuntu/run/celery/pid
Type=simple
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/obdev2018
ExecStart=/home/ubuntu/obdev2018/venv_obrisk/bin/celery -A config worker -l INFO -P gevent


[Install]
WantedBy=multi-user.target
