#Destination /etc/systemd/system/celery.service
[Unit]
Description=Celery daemon
After=network.target

[Service]
Type=forking
User=obdev-user
Group=www-data
WorkingDirectory=/home/obdev-user/obdev2018
ExecStart=/home/obdev-user/obdev2018/venv_obrisk/bin/celery -A config worker -l CRITICAL -P gevent


[Install]
WantedBy=multi-user.target
