[Unit]
Description=Gulp process to update serviceWorker
Requires=gunicorn.socket
After=network.target

[Service]
PIDFile=/home/ubuntu/run/gulp/pid
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/obdev2018/frontend/node_modules/gulp/bin
ExecStart=/home/ubuntu/obdev2018/frontend/node_modules/gulp/bin/gulp.js watch


[Install]
WantedBy=multi-user.target
