[Unit]
Description=uvicorn daemon
Requires=uvicorn.socket
After=network.target

[Service]
PIDFile=/home/obdev-user/run/uvicorn/pid
User=obdev-user
Group=www-data
WorkingDirectory=/home/obdev-user/obdev2018
Environment="DJANGO_SETTINGS_MODULE=config.settings.production"
ExecStart=/home/obdev-user/venv_obrisk/bin/gunicorn \
          -k uvicorn.workers.UvicornWorker \
          --workers 6 \
          --bind unix:/home/obdev-user/run/gunicorn.sock \
          --log-level critical \
	  --access-logfile '/home/obdev-user/logs/gunicorn-error.log' \
	  --error-logfile '/home/obdev-user/logs/gunicorn-error.log' \
          config.asgi:application

[Install]
WantedBy=multi-user.target
