{% load humanize i18n static humanize %}
{% load thumbnail %}

<div class="mt-4 questions-card">
  <div class="card-body">
    <div>
      <div class="question-title h-auto">
        <h4 class="word-break ">
          <a href="{% url 'qa:question_detail' question.pk %}"> {{ question.title }}</a>
        </h4>
      </div>
      <div class="question-body word-break h-auto">
        <a href="{% url 'qa:question_detail' question.pk %}">
          {{ question.get_markdown|safe|truncatechars:100 }}
        </a>
      </div>

      <div class="question-meta">
        <p class="question-info pull-left text-center">
          <span>{{ question.count_answers }}</span>
          <small class="text-secondary">{% trans 'Answers' %}</small>
          <span>{{ question.total_votes }}</span>
          <small class="text-secondary">{% trans 'Votes' %}</small>
        </p>
        <div class="question-user">
          <small class="text-secondary">{% trans 'Asked' %} {{ question.timestamp|naturaltime }} {% trans 'by' %}
            <a href="{% url 'users:detail' question.user.username  %}">{{ question.user.get_profile_name|title }}</a>
          </small>
        </div>
      </div>
    </div>
  </div>
</div>