/*! _buttons.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Friendkit button styles
========================================================================== */

/*
    1. Main Class
    2. Like button
    3. Circle button
    4. Load more button
*/

/* ==========================================================================
1. Main Class
========================================================================== */

button.button {
    line-height: 0;
}

.button {
    font-size: .8rem;
    font-weight: 500;
    padding: 20px 26px;
    transition: all .3s;

    &.is-rounded {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    //Squared icon button
    &.icon-button {
        width: 32px;
        height: 32px;
        padding: 0;

        svg {
            height: 16px !important;
            width: 16px !important;
            stroke: $sidebar;
        }

        &.is-solid {
            svg {
                stroke: $white !important;
            }
        }
    }

    &.has-icon {
        svg {
            height: 16px;
            width: 16px;
            min-height: 16px;
            min-width: 16px;
            margin-right: 4px;
        }
    }

    //Phantom buttons
    &.is-phantom {
        background: transparent;
        border: 2px solid transparent;

        &.primary-button {
            color: $primary;

        }

        &.accent-button {
            color: $accent;

        }
    }

    //Reversed phantom buttons
    &.is-reversed-phantom {
        background: transparent;
        border: 1px solid transparent;

        &.primary-button {
            color: $primary;
        }

        &.accent-button {
            color: $accent;
        }
    }

    //Solid buttons
    &.is-solid {
        //Primary button
        &.primary-button {
            background: $primary;
            border-color: $primary;

        }

        //Secondary button
        &.secondary-button {
            background: $secondary;
            border-color: $secondary;
        }

        //Accent button
        &.accent-button {
            background: $accent;
            border-color: $accent;

        }

        //Accent button
        &.opt-accent-button {
            background: $opt-accent;
            border-color: $opt-accent;
        }

        //Red button
        &.red-button {
            background: $red;
            border-color: $red;
            color: $white;
        }


        //Blue button
        &.blue-button {
            background: $blue;
            border-color: $blue;
            color: $white;

        }

        //Grey button
        &.grey-button {
            background: lighten($fade-grey, 6%);
            border-color: lighten($fade-grey, 6%);

            svg {
                stroke: $sidebar !important;
            }
        }

        //Dark grey button
        &.dark-grey-button {
            background: lighten($fade-grey, 2%);
            border-color: lighten($fade-grey, 2%);

            svg {
                stroke: $sidebar !important;
            }
        }
    }

    //Light button
    &.light-button {
        background: transparent;
        border-color: $white;
        color: $white;
        font-weight: 500;

    }
}
