/*! _buttons.scss | Friendkit | © Css Ninja. 2018-2019 */

/* ==========================================================================
Friendkit button styles
========================================================================== */

/*
    1. Main Class
    2. Like button
    3. Circle button
    4. Load more button
*/

/* ==========================================================================
1. Main Class
========================================================================== */

button.button {
    line-height: 0;
}

.button {
    font-size: .8rem;
    font-weight: 500;
    padding: 20px 26px;
    transition: all .3s;

    &.is-rounded {
        padding-left: 1.5em;
        padding-right: 1.5em;
    }

    &.has-icon {
        svg {
            height: 16px;
            width: 16px;
            min-height: 16px;
            min-width: 16px;
            margin-right: 4px;
        }
    }

    //Solid buttons
    &.is-solid {
        //Primary button
        &.primary-button {
            background: $primary;
            border-color: $primary;

        }

        //Accent button
        &.accent-button {
            background: $accent;
            border-color: $accent;

        }

        //Accent button
        &.opt-accent-button {
            background: $opt-accent;
            border-color: $opt-accent;
        }
    }

    //Light button
    &.light-button {
        background: transparent;
        border-color: $white;
        color: $white;
        font-weight: 500;

    }
}
