/*! _utils.scss | Obrisk team */

/* ==========================================================================
CSS utilities
========================================================================== */

/*
    0. Links
    1. Helpers
    2. Background images
    3. Slimscroll
    4. Animated checkmark
    5. Fancybox
    6. Loaders
    7. Code highlight
*/

/* ==========================================================================
0. Links
========================================================================== */

a {
    color: darken($accent, 5%);
    transition: all .3s;


    &.is-inverted {
        color: $accent;
    }

    &.standard-link {
        color: $blue;
        text-decoration: underline;
    }
}

/* ==========================================================================
1. Helpers
========================================================================== */

var {
    font-style: normal;
}

code {
    word-break: break-all;
}

.is-disabled {
    pointer-events: none;
    opacity: 0.4;
    cursor: default !important;
}

.no-click {
    pointer-events: none;
}

.is-vhidden {
    visibility: hidden !important;
}

.is-hidden {
    display: none !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.ml-auto {
    margin-left: auto !important;
}

.mt-10 {
    margin-top: 10px !important;
}

.mb-10 {
    margin-bottom: 10px !important;
}

/* ==========================================================================
2. Background images
========================================================================== */

.has-background-image {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center;

    &.is-top {
        background-position: top !important;
    }

    &.is-bottom {
        background-position: bottom !important;
    }
}

/* ==========================================================================
4. Animated checkmark
========================================================================== */

//Variables
$color--green: #7ac142;
$curve: cubic-bezier(0.65, 0, 0.45, 1);

//Wrapper
.checkmark-wrapper {
    //circle
    .checkmark__circle {
        stroke-dasharray: 166;
        stroke-dashoffset: 166;
        stroke-width: 2;
        stroke-miterlimit: 10;
        stroke: $accent;
        fill: none;
        animation: stroke 0.6s $curve forwards;
        animation-delay: .4s;
    }

    //Checkmark
    .checkmark {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        display: block;
        stroke-width: 2;
        stroke: #fff;
        stroke-miterlimit: 10;
        margin: 10% auto;
        box-shadow: inset 0px 0px 0px $accent;
        animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
        animation-delay: .8s;

        //Size modifiers
        &.is-small {
            height: 36px;
            width: 36px;
        }

        &.is-xs {
            height: 24px;
            width: 24px;
        }
    }

    //Check
    .checkmark__check {
        transform-origin: 50% 50%;
        stroke-dasharray: 48;
        stroke-dashoffset: 48;
        animation: stroke 0.3s $curve 0.8s forwards;
        animation-delay: .8s;
    }
}

//Keyframes
@keyframes stroke {
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes scale {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: scale3d(1.1, 1.1, 1);
    }
}

@keyframes fill {
    100% {
        box-shadow: inset 0px 0px 0px 30px $accent;
    }
}

/* ==========================================================================
5. Fancybox
========================================================================== */

//Demo styles

.fancybox-content {
    display: inline-block;

    &.hidden {
        display: none;
    }
}

//Morphing button
.morphing-btn-wrap, #morphing {
    width: 111.425px;
}

@media all and (min-width: 600px) {
    //Custom lightbox layout
    .fancybox-custom-layout {
        //Background
        .fancybox-bg {
            background: $accent;
        }

        .fancybox-slide {
            background: darken($sidebar, 15%);
            padding: 0 40px;

            img {
                border-radius: 6px;
            }
        }

        .fancybox-custom-layout.fancybox-is-open .fancybox-bg {
            opacity: 1;
        }

        //Caption
        .fancybox-caption {
            background: $white;
            bottom: 0;
            color: #6c6f73;
            left: auto;
            padding: 10px 0;
            right: 44px;
            top: 0;
            width: 350px;

            &:before {
                display: none;
            }

            a {
                text-decoration: none;
            }

            //Comments
            .comment-controls {
                position: absolute;
                bottom: 0;
                left: 0;
                background: lighten($light-grey, 2%);
                height: 50px;
                width: 100%;
                border-radius: 0 0 6px 0;
                border-top: 1px solid darken($light-grey, 8%);

                //Textarea
                .controls-inner {
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    padding: 0 16px;

                    img {
                        height: 32px;
                        width: 32px;
                        border-radius: 50%;
                    }

                    .control {
                        width: 100%;

                        .textarea, .emojionearea-editor {
                            resize: none;
                            height: 36px;
                            max-height: 36px;
                            min-height: 36px;
                            border-radius: 100px;
                            overflow: hidden;
                            line-height: 1.6;
                            font-size: .8rem;
                            padding-left: 16px;
                            margin: 0 6px;
                        }
                    }

                    //Emojis
                    .emojionearea-editor {
                        padding-left: 0 !important;

                        img {
                            height: 18px;
                            width: 18px;
                            min-height: 18px;
                            max-height: 18px;
                        }
                    }

                    .emojionearea {
                        overflow: visible !important;
                    }

                    .emojionearea-picker {
                        top: -230px;
                        position: absolute;
                        left: -50px;
                        width: 310px;

                        .emojionearea-wrapper {
                            width: 310px;

                            img {
                                height: 22px;
                                width: 22px;
                                min-height: 22px;
                                max-height: 22px;
                            }
                        }
                    }

                    .emojionearea-scroll-area {
                        width: 310px;
                    }

                    .emojionearea .emojionearea-button > div.emojionearea-button-open {
                        background-position: 0 -22px;
                    }

                    .emojionearea .emojionearea-picker .emojionearea-scroll-area .emojibtn {
                        width: 24px !important;
                        height: 24px !important;
                    }
                }
            }

            //Header
            .header {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 12px;
                width: 100%;

                //User meta
                img {
                    height: 42px;
                    width: 42px;
                    border-radius: 50%;
                }

                .user-meta {
                    margin: 0 10px;

                    span {
                        display: block;

                        &:first-child {
                            font-size: .9rem;
                            font-weight: 500;

                            small {
                                color: $muted-grey;
                            }
                        }

                        &:nth-child(2) {
                            text-align: left;
                            font-size: .8rem;
                            color: $muted-grey;
                        }
                    }
                }

                .button {
                    line-height: 0;
                    margin-left: auto;
                    padding: 14px 18px;
                }

                //Dropdown
                .dropdown {
                    .button {
                        padding: 18px 6px;
                        border: none;
                        background: transparent;

                        svg {
                            height: 18px;
                            width: 18px;
                        }
                    }

                    .dropdown-menu {
                        margin-top: 10px;
                    }
                }
            }

            //Content
            .inner-content {
                padding: 12px;

                .control {
                    width: 100%;

                    input {
                        padding-left: 34px;

                        &:focus {
                            + .icon svg {
                                stroke: $accent;
                            }
                        }
                    }

                    .icon {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 32px;
                        width: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        svg {
                            height: 18px;
                            width: 18px;
                            stroke: $placeholder;
                            transition: all .3s;
                        }
                    }
                }
            }

            //Statistics
            .live-stats {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0 20px 0;
                border-bottom: 1px solid $fade-grey;

                .social-count {
                    display: flex;
                    align-items: stretch;

                    .shares-count, .comments-count, .likes-count, .views-count {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin: 0 3px;

                        span {
                            display: block;
                            font-size: .8rem;
                            color: $grey-text;
                            margin: 0 5px;

                            &.views {
                                margin: 0 2px;
                            }
                        }

                        svg {
                            height: 14px;
                            width: 14px;
                            stroke: $grey-text;
                        }
                    }
                }
            }

            //Actions
            .actions {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 12px 0 0 0;

                .action {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    span {
                        display: block;
                        font-size: .8rem;
                        margin: 0 4px;
                        transition: all .3s;
                    }

                    svg {
                        height: 16px;
                        width: 16px;
                        stroke: $grey-text;
                        transition: all .3s;
                    }

                }
            }

            //Comments List
            .comments-list {
                background: $light-grey;
                height: calc(100% - 200px);
                padding: 20px 14px;
                overflow-y: auto;

                //Single comment
                .is-comment {
                    border: none !important;
                    padding-top: 0 !important;

                    &.is-nested {
                        margin-left: 40px;
                    }

                    .media-left {
                        margin-right: 10px;

                        img {
                            border-radius: 50%;
                        }
                    }

                    .media-content {
                        background: $white;
                        padding: 12px;
                        border-radius: 8px;

                        //Meta
                        .username {
                            font-size: .8rem;
                            font-weight: 500;
                        }

                        p {
                            font-size: .75rem;
                            color: $muted-grey;
                        }

                        //Actions
                        .comment-actions {
                            display: flex;
                            align-items: center;
                            padding-top: 8px;

                            span, a {
                                display: block;
                                font-size: .75rem;
                            }

                            span {
                                margin: 0 10px;
                                color: $muted-grey;
                            }

                            .likes-count {
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                margin-left: auto;

                                span {
                                    display: block;
                                    font-size: .75rem;
                                    color: $grey-text;
                                    margin: 0 5px;

                                    &.views {
                                        margin: 0 2px;
                                    }
                                }

                                svg {
                                    height: 12px;
                                    width: 12px;
                                    stroke: $grey-text;
                                }
                            }
                        }
                    }
                }
            }
        }

        .fancybox-stage {
            right: 394px;
        }

        //Toolbar
        .fancybox-toolbar {
            background: $accent;
            bottom: 0;
            left: auto;
            right: 0;
            top: 0;
            width: 44px;
        }

        //Button
        .fancybox-button {
            background: transparent;

            div {
                padding: 2px;
            }
        }

        .fancybox-button[disabled] {
            color: $white;
        }

        .fancybox-button:not([disabled]) {
            color: $white;
        }

        .fancybox-button--arrow_right {
            right: 308px;
        }
    }
}

//Tabs
.tabs.is-boxed li.is-active a {
    border-color: $fade-grey;
}

/* ==========================================================================
6. Loaders
========================================================================== */

.subloader {
    position: fixed;
    top: 107px;
    left: 0;
    height: calc(100% - 107px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1;
    transition: all .3s;

    &.is-active {
        opacity: 1;
        z-index: 8;
    }

    &.is-grey {
        background: lighten(#eaeaea, 4%);
    }

    &.is-white {
        background: $white;
    }

    .loader {
        height: 5rem;
        width: 5rem;
    }
}
