/*! _colors.scss | Obrisk-team */

/* ==========================================================================
1. Main colors
========================================================================== */

$white: #fff;
$white-smoke: #fcfcfc;
$white-light: #fafafa;
$accent-grey: #ccc;
$grey-text: #888da8;
$blueish-grey: #ecf0f7;
$dark-text: #393a4f;
$medium-grey: #ddd;

$medium-text: #757a91;

$accent: #3EC4E2; /* Obrisk's azure blue */
$opt-accent: #1faece;  
$primary: #ff5f59;

$fade-grey: #e8e8e8;
$muted-grey: #999;
$light-grey: #f5f6f7;

$red: #FF7273;
$blue: #039BE5;

/* ==========================================================================
4. Box shadows
========================================================================== */
$base-shadow: rgba(0, 0, 0, 0.12);

//Primary box shadow
$primary-shadow-from: rgba($primary, 0.42);
$primary-shadow-to: rgba($primary, 0.2);
$primary-box-shadow: 0 14px 26px -12px $primary-shadow-from,
0 4px 23px 0px $base-shadow,
0 8px 10px -5px $primary-shadow-to !important;

//Accent box shadow
$accent-shadow-from: rgba($accent, 0.42);
$accent-shadow-to: rgba($accent, 0.2);
$accent-box-shadow: 0 14px 26px -12px $accent-shadow-from,
0 4px 23px 0px $base-shadow,
0 8px 10px -5px $accent-shadow-to !important;


//Blue box shadow
$blue-shadow-from: rgba($blue, 0.42);
$blue-shadow-to: rgba($blue, 0.2);
$blue-box-shadow: 0 14px 26px -12px $blue-shadow-from,
0 4px 23px 0px $base-shadow,
0 8px 10px -5px $blue-shadow-to !important;

//Light box shadow
$light-box-shadow: -1px 3px 10px 0 rgba(0, 0, 0, 0.06);
