$accent: #3EC4E2; /* Obrisk's azure blue */
$opt-accent: #1faece;  
$white: #fff;
$red: #FF7273;

.accent-button {
    background: $accent;
    border-color: $accent;
}

.opt-accent-button {
    background: $opt-accent;
    border-color: $opt-accent;
}

.red-button {
    background: $red;
    border-color: $red;
    color: $white;
}
