{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}

<div class="col-md-10"> 
    <p> Obrisk is a long-term project determined to provide a robust solutions to major challenges 
    facing foreiners in China. These challenges falls in the range from the tourism tips and city maps for the people visiting China 
    for the first time to a fast, reliable and almost zero-fee money remittance platform for permanent residents working in China.</p>

    <p>This project is still under development and we will truly appreciate any feedback, suggestions or other contibutions.</p>
    <p> Please send your feedback to the development team, just click here: <a href="mailto:obriskdesk@obrisk.com" >  obriskdesk@obrisk.com</a></p>
   
</div>

{% endblock content %}