{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}

<div class="col-md-10"> 
    <br>
    <h2> Introduction </h2>
    <p> </p>
    <p> Obrisk is a software project based upon the use of advanced web technologies to provide robust solutions to challenges 
        of sharing and connection that are lacking in other widely used social networks. Currently, we are focusing on foreigners 
        living in China, giving them a powerful platform where they can share, relate and help one another to conquer different
        problems that foreigners in China face, mostly because of language barrier and a wide range of cultural differences.
    </p>

    <p> Obrisk was founded in 2018 by a very small team of passionate software developers in China. We are working so hard to make
        this platform the best place ever in the entire internet. 
        This project is still under development and we will truly appreciate any feedback, suggestions or other contibutions.</p>
    <p> Please send your feedback to the development team, just <a href="mailto:obrisk@obrisk.com" > click here to email us </a></p>

    <p> We are also actively looking for experienced professionals in the software related fields, that are willing to work in a startup. 
        We will prefer the people that are living in China.
        If you think that you are one then you are very welcomed. Please send us your resume/CV <a href="mailto:obrisk@obrisk.com" > here. </a> </p> 
   
</div>

{% endblock content %}