{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}

<div class="col-md-10"> 
    <br>
    <h2> Introduction </h2>
    <p> </p>
    <p> Obrisk is a project determined to provide a high level service to the customers. These challenges falls in the range of tourism tips and city maps for the people visiting China 
    for the first time to a fast, reliable and almost zero-fee money remittance platform for permanent residents working in China.</p>

    <p>This project is still under development and we will truly appreciate any feedback, suggestions or other contibutions.</p>
    <p> Please send your feedback to the development team, just <a href="mailto:obrisk@obrisk.com" > click here to email us </a></p>
   
</div>

{% endblock content %}