{% load static i18n %}
{% load pwa_webpush %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="google-site-verification" content="NVNmEgtDfFzJD89nlq7dQDSCMAGj-q_d3JI0buqyxJ4" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description"
    content="classifieds website for foreigners in China to buy and sell secondhand items and find apartments for rent">
  <meta name="author" content="Obrisk team">
  <meta name="keywords" content="secondhand Hangzhou, secondhand China, China Classifieds, secondhand, classifieds, China expats, foreigners in China">
  <meta name="apple-mobile-web-app-title" content="obrisk">
  <meta name="locale" content="en">
  <meta name="theme-color" content="#3EC4E2">

  {% block icon %}
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}?v=1">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}?v=1">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}?v=1">

  {% endblock icon %}

  <title>疾风社交网络</title>

  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

  <script>
    // Initialize the service worker
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/serviceworker.js', {
        scope: '/'
      }).then(function (registration) {
        // Registration was successful
        console.log(': ServiceWorker registration successful with scope: ', registration.scope);
      }, function (err) {
        // registration failed :(
        console.log(': ServiceWorker registration failed: ', err);
      });
    }
  </script>
  <!-- pwa settings -->
  {% progressive_web_app_meta %}


</head>

<body id="page-top">

  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="banner">

        <br/>
        <br/>
        <br/>

        <div class="main_title text-center">
            <h2> {% trans 'Obrisk Secondhand Marketplace' %} </h2>
            <h5>{% trans 'Easy way to sell, give and buy secondhand items in China ' %}</h5>
            <br/>
        </div>

        <div class="is-flex call-to-action">
          <a class="button is-solid is-rounded text-dark"
            href="{% url 'account_signup' %}">{% trans 'Sign up' %}
          </a>
          <a class="button is-solid is-rounded text-dark"
            href="{% url 'account_login' %}">{% trans 'Login' %}
          </a>
        </div>

        </div>
    </div>

    <div class='btm-md-bg'>

      <p class="title is-5">{% trans 'Long press/Scan the QR code & Follow our Wechat official account for more' %}</p>

      <img src="{% static 'img/qrcode.jpg' %}"
           width="250" height="250" alt="Obrisk QRcode"/>
  </div>

    <div class='btm-bg'>

      <p class="title is-6">{% trans 'Buy or sell stuff closer or far from your location, It is completely free & very simple to use' %}</p>

      <p class="title is-6">{% trans 'It is the best marketplace for expats in China' %}</p>

      <a href="{% url 'classifieds:list' %}"
          class="button is-solid is-rounded accent-button">
          {% trans 'View the platform' %}
      </a>
  </div>


  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="text-secondary text-center text-muted">
        <!-- <a href="{% url 'about' %}"> about </a> -->
        <a class="text-center text-muted p-2" href="{% url 'about' %}"> {% trans 'About ' %}</a>
        <a class="text-center text-muted p-2" href="{% url 'terms_and_conditions' %}"> {% trans 'Terms and condition' %} </a>
        <a class="text-center text-muted p-2" href="{% url 'privacy_policy' %}"> {% trans 'Privacy policy ' %} </a>
      </div>

      <div class="small text-center text-muted"> Copyright &copy; 2021 - Obrisk </div>
      <div class="small text-center text-muted"> All rights reserved </div>
      <div class="small text-center text-muted"> <a href="http://beian.miit.gov.cn">  浙ICP备20003551号</a>  </div>
    </div>
  </footer>

  </div>

</body>

</html>
