{% load static i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="google-site-verification" content="NVNmEgtDfFzJD89nlq7dQDSCMAGj-q_d3JI0buqyxJ4" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A Location-based social network. In here you will find Classifieds, events, jobs, and many more posts based on your location.">
    <meta name="author" content="Obrisk team">
    <meta name="keywords" content="Buy and sell , Classifieds, Expat, foreigners in China, China, forums">
    <meta name="apple-mobile-web-app-title" content="obrisk">
    <meta name="locale" content="en">
    <meta name="theme-color" content="#3EC4E2">

    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}?v=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}?v=1">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}?v=1">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}?v=1">
    <link rel="manifest" href="{% static 'img/site.webmanifest' %}?v=1">
    <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}?v=1" color="#5bbad5">
   
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <title>Obrisk</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">   

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link href="{% static 'css/creative.css' %}" rel="stylesheet">
  </head>
  <body id="page-top">
 
  <!-- Masthead -->
  <header class="masthead">
     <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
              <h1 class="text-uppercase text-primary font-weight-bold"><strong>{% trans 'Hi! Welcome to Obrisk' %}</strong></h1>
              <hr class="divider my-4">
            </div>

            <div class="col-lg-8 align-self-baseline mb-2">
              <p class="text-faded text-primary mb-5">{% trans 'In here we make things simple and brisk...' %} </p>
              <a class="btn btn-dark btn-xl js-scroll-trigger text-dark" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
              <hr class="divider my-4">
            </div>

            <div class="col-md-8 align-self-baseline">
                <h5 class="text-center text-primary mt-0"> Are you new here?! </h5>
                <h4 class="text-center text-secondary h4 mb-2" >
                  <a class="btn btn-dark  btn-xl js-scroll-trigger text-dark"  href="{% url 'users:signup' %}">{% trans 'Sign up now' %} </a> 
                </h4>
            </div>

        </div>
        
     </div>
  </header>

  <!-- Services Section -->
  
  <div class="container" id="services">

  <div class="row">
      <div class="col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-gem text-primary mb-4"></i>
          <h3 class="h4 mb-2"> Connect and Share </h3>
        <p class="text-muted mb-0">Keep up with what is happening in the City.</p>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
          <h3 class="h4 mb-2"> Apprise and Broaden </h3>
          <p class="text-muted mb-0"> Live beyond boundaries.</p>
        </div>
      </div>

  </div>

  <div class="row">
        <div class="col-md-4 text-center">
            <div class="mt-5">
              <h5 class="h4 mb-2"> Powerful Secondhand platform </h5>
            </div>
              <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/static/img/classifieds.png" class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid"
              style="height: 270px" alt="{% trans 'classifieds page' %}">
        </div>


        <div class="col-md-4 text-center">
            <div class="mt-5">
              <h5 class="h4 mb-2"> Handy Built-in Chat </h5>
            </div>
              <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/static/img/chat.png" class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid"
              style="height: 270px" alt="{% trans 'Stories Profile' %}">
        </div>

        <div class="col-md-4 text-center">
          <div class="mt-5">
            <h5 class="h4 mb-2"> Valuable Posts & public chats.  </h5>
          </div>
            <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/static/img/stories.png" class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid"
            style="height: 270px" alt="{% trans 'Stories Profile' %}">
        </div>
    
        <div class="col-md-12 text-center mb-5 mt-5" >
            <h5 class="h4 mb-2"> And much more... </h5>    
          <a class="btn btn-cyan btn-xl js-scroll-trigger text-dark mt-4 "  href="{% url 'users:signup' %}">{% trans 'Sign up now' %} </a>     
        </div>
  </div>

    
        
  </div>


  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white">
    <div class="container text-center">
      <h6 class="mb-4 text-secondary"> Obrisk is a location-based platform where you will find Classifieds, events, jobs, and many more posts based on your location. It is very easy and convenient to use. </h6>
      
      <p class=" text-secondary" >  You can view the blog posts and Q&A platform without signing up. </p>
      <br> <br>
      <a class="btn btn-cyan text-faded text-dark mb-5" href="{% url 'posts:list' %}">
      {% trans 'Blog Posts' %}  </a> <span style="padding: 5px"> </span>
      <a class="btn btn-cyan text-faded text-dark mb-5" href="{% url 'qa:index_all' %}">
      {% trans 'Q&A Forum' %} </a>
         
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
        <div class="text-secondary text-center text-muted">
          <!-- <a href="{% url 'about' %}"> about </a> -->
          <a class="text-center text-muted" href="{% url 'about' %}" style="padding: 10px" > about </a>
          <a class="text-center text-muted" href="{% url 'terms_and_conditions' %}" style="padding: 10px"> terms and condition</a>
          <a class="text-center text-muted" href="{% url 'privacy_policy' %}" style="padding: 10px"> privacy policy </a>
        </div>

      <div class="small text-center text-muted">Copyright &copy; 2019 - Obrisk </div>
    </div>
  </footer>

  </body>
</html>
