{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="/static/css/classified-create.css" />
<script src="{% static 'js/vendor/jquery.min.js' %}" type="text/javascript"></script>
{% endblock head %}

{% block content %}
    {% include 'nav_modal.html' %}

    <form action="{% url 'classifieds:edit_classified' form.instance.pk %}"
          name="classifiedForm" enctype="multipart/form-data" class="edit-form"
          id="classified-form" method="post" role="form">
          {% csrf_token %}

          <div class="notification is-danger is-hidden" role="alert">
            <button type="button" class="delete close-dj-messages"></button>
            <p id="notf-msg"></p>
          </div>

          <div class="column">
                  <div class="field">
                        <label>
                            {% trans 'Title*' %}
                        </label>
                        <div class="control">
                          <input type="text" id="id_title" name="title" maxlength="80" class="input" required
                           placeholder="Enter your item title" value="{{ form.title.value|default_if_none:'' }}">
                        </div>
                  </div>

                  <div class="field">
                        <label>
                            {% trans 'Details' %}
                        </label>
                        <div class="control">
                          <textarea name="details" id="id_details" cols="40" rows="3" class="textarea"
                          >{{ form.details.value|default_if_none:"" }}
                          </textarea>
                        </div>
                  </div>

                  <div class="price">
                      <label>
                          {% trans 'Price*' %}
                      </label>
                      <span> ¥
                          <input type="number" id="id_price" name="price" class="numberinput input" id="id_price"
                            required step=".01" value="{{ form.price.value|default_if_none:'' }}" placeholder="Item price">
                      <span>
                  </div>
                  <small> {% trans '0 for GIVEAWAY, empty for BID PRICE' %}
                  </small>

                  <br/>
                  <div class="field address-field">
                        <label>
                            {% trans 'Address (English)' %}
                        </label>
                        <div class="control">
                              <input type="text" name="english_address" value="{{ form.english_address.value|default_if_none:'' }}"
                              class="input" id="id_english_address">
                        </div>
                  </div>

                  <div class="hidden-fields">
                    <input type="hidden" id="id_edited" name="edited" class="input">
                    <input type="hidden" id="id_status" name="status" maxlength="20" class="input">
                  </div>

            <br/>

            <div class="form-group">
                <button type="submit" class="button accent-button update">{% trans 'Submit Updates' %}</button>
            </div>

          <br/>

     <!-- close form column -->
     </div>
  </form>


{{ form.media }}

{% endblock content %}

{% block extra_js %}

<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {

    document.querySelector(".update").addEventListener('click', function () {
      document.querySelector("input[name='status']").value = "A";
      document.querySelector("input[name='edited']").value = "True";
      document.getElementById("classified-form").submit();
    });
  });
</script>

{% endblock extra_js %}
