{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="/static/css/classified-create.css" />
<script src="{% static 'js/vendor/jquery.min.js' %}" type="text/javascript"></script>
{% endblock head %}

{% block content %}
    <nav id="navbarTop" class="navbar is-fixed-top">
      <div class="nav-inner is-toggle is-fullwidth">
        <ul class="tp-nav-ul">
          <li>
            <a class="black-link nav-back-btn">
               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                  <path fill="none" d="M0 0h24v24H0z" />
                  <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
               </svg>
            </a>
          </li>

          <li class="top-nav-user-li">
            <a href="#du" class="black-link user-image navbar-item is-account drop-trigger">
                  {% if request.user.thumbnail %}
                    <img   src="{{ oss }}/{{request.user.thumbnail}}" alt="Pic"
                      style="width:30px;height:30px;border-radius: 20%;"
                      class="img-drop-trigger rounded-circle  mb-3 mb-md-0 mr-0 md-3 img-fluid" id="thumb-pic" />
                  {% else %}
                    <img src="{% static 'img/user.png' %}" height="30px" width="30px" alt="No pic" />
                  {% endif %}
            </a>

            <div id="du" class="has-caret">
                  <div class="nav-drop is-account-dropdown">
                    <div class="inner">
                      <div class="nav-drop-header is-auth-user">
                        <span class="username">{{ request.user.username|truncatechars:12}}</span>
                        <a link="black-link" href="#" id="close">❌ 
                            {% trans 'CLOSE' %}
                        </a>
                      </div>

                      <div class="nav-drop-body account-items">
                        <a class="account-item black-link" href="{% url 'classifieds:user_orders' request.user.username %}">
                          <div class="media"> <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-gift">
                                <polyline points="20 12 20 22 4 22 4 12"></polyline>
                                <rect x="2" y="7" width="20" height="5"></rect>
                                <line x1="12" y1="22" x2="12" y2="7"></line>
                                <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
                                <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
                            </svg>

                            </div>
                            <div>
                                <h3>
                                    {% trans 'My Orders' %}
                                </h3>
                                <small>
                                    {% trans 'Bought and sold items' %}
                                </small>
                            </div>
                          </div>
                        </a>

                        <a class="account-item black-link" href="{% url 'users:user_classifieds' request.user.username %}">
                          <div class="media">
                            <div class="icon-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-grid">
                                    <rect x="3" y="3" width="7" height="7"></rect>
                                    <rect x="14" y="3" width="7" height="7"></rect>
                                    <rect x="14" y="14" width="7" height="7"></rect>
                                    <rect x="3" y="14" width="7" height="7"></rect>
                                </svg>
                            </div>
                            <div>
                                <h3>
                                    {% trans 'My items' %}
                                </h3>
                                <small>
                                    {% trans 'The items you uploaded' %}
                                </small>
                            </div>
                          </div>
                        </a>

                        <a class="account-item black-link" href="{% url 'users:detail' request.user.username %}">
                          <div class="media">
                            <div class="icon-wrap">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-user">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                                <circle cx="12" cy="7" r="4" /></svg>
                            </div>
                            <div>
                                <h3>
                                    {% trans 'My Profile' %}
                                </h3>
                                <small>
                                    {% trans 'Access profile & settings' %}
                                </small>
                            </div>
                          </div>
                        </a>

                        <a class="account-item black-link" href="#d">
                          <div class="media">
                            <div class="icon-wrap">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                    viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                    stroke-linecap="round" stroke-linejoin="round"
                                    class="feather feather-map-pin">
                                    <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                    <circle cx="12" cy="10" r="3"></circle>
                                </svg>
                            </div>
                            <div>
                                <h3>
                                    {% trans 'Change City' %}
                                </h3>
                                <small>
                                    {% trans 'List items by city' %}
                                </small>
                            </div>
                          </div>
                        </a>
                      <!-- close nav-drop-body -->
                      </div>

                   <!-- close inner div-->
                   </div>

               <!-- close inner, nav-drop, ac-dropdown -->
              </div>
            </div>
          </li>

        </ul>
      </div>
    </nav>

    <form action="{% url 'classifieds:edit_classified' form.instance.pk %}"
          name="classifiedForm" enctype="multipart/form-data" class="edit-form"
          id="classified-form" method="post" role="form">
          {% csrf_token %}

          <div class="notification is-danger is-hidden" role="alert">
            <button type="button" class="delete close-dj-messages"></button>
            <p id="notf-msg"></p>
          </div>

          <div class="column">
                  <div class="field">
                        <label>
                            {% trans 'Title*' %}
                        </label>
                        <div class="control">
                          <input type="text" id="id_title" name="title" maxlength="80" class="input" required
                           placeholder="Enter your item title" value="{{ form.title.value|default_if_none:'' }}">
                        </div>
                  </div>

                  <div class="field">
                        <label>
                            {% trans 'Details' %}
                        </label>
                        <div class="control">
                          <textarea name="details" id="id_details" cols="40" rows="3" class="textarea"
                          >{{ form.details.value|default_if_none:"" }}</textarea>
                        </div>
                  </div>

                  <div class="price">
                      <label>
                          {% trans 'Price*' %}
                      </label>
                      <span> ¥
                          <input type="number" id="id_price" name="price" class="numberinput input" id="id_price"
                            required step=".01" value="{{ form.price.value|default_if_none:'' }}" placeholder="Item price">
                      <span>
                  </div>
                  <small> {% trans '0 for GIVEAWAY, empty for BID PRICE' %}
                  </small>

                  <br/>
                  <div class="field address-field">
                        <label>
                            {% trans 'Address (English)' %}
                        </label>
                        <div class="control">
                              <input type="text" name="english_address" value="{{ form.english_address.value|default_if_none:'' }}"
                              class="input" id="id_english_address">
                        </div>
                  </div>

                  <div class="field">
                      <label for="id_tags">
                          Tags
                      </label>
                      <div class="">
                          <select name="tags" class="taggitselect2 form-control select2-hidden-accessible"
                              id="id_tags" data-autocomplete-light-language="en"
                              data-autocomplete-light-url="/i/tags-autocomplete/"
                              data-autocomplete-light-function="select2" data-tags="," multiple=""
                              data-select2-id="id_tags" tabindex="-1" aria-hidden="true">
                          </select>
                          <span class="select2 select2-container select2-container--default select2-container--focus select2-container--below"
                              dir="ltr" data-select2-id="3" style="width: 358.4px;">
                              <span class="dropdown-wrapper" aria-hidden="true"></span>
                          </span>
                      </div>
                  </div>

                  <div class="hidden-fields">
                    <input type="hidden" id="id_edited" name="edited" class="input">
                    <input type="hidden" id="id_status" name="status" maxlength="20" class="input">
                  </div>

            <br/>

            <div class="form-group">
                <button type="submit" class="button accent-button update">{% trans 'Submit Updates' %}</button>
            </div>

          <br/>

     <!-- close form column -->
     </div>
  </form>


{{ form.media }}

{% endblock content %}

{% block extra_js %}

<script type="text/javascript">

document.addEventListener('DOMContentLoaded', function() {

    document.querySelector(".update").addEventListener('click', function () {
      document.querySelector("input[name='status']").value = "A";
      document.querySelector("input[name='edited']").value = "True";
      document.getElementById("classified-form").submit();
    });


    document.querySelector(".nav-back-btn").addEventListener('click', function () {
        window.location.replace("{% url 'classifieds:classified' form.instance.slug %}");
    });

  });
</script>

{% endblock extra_js %}
