{% extends 'base.html' %}
{% load static i18n %}
{% load cloudinary comments crispy_forms_tags thumbnail humanize %}

{% block title %}{{ classified.title|title }}{% endblock %}

{% block content %}
  <!-- Page Content -->
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'posts:list' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'classifieds:list' %}">{% trans 'Classifieds' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ classified.title|title }}</li>
      </ol>
    </nav>
    
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h4 class="mt-4 text-center">{{ classified.title|title }}</h4>
        <!-- Location -->
        <i class="lead fa fa-map-marker"></i> <span class="card-subtitle mb-2"> {{ classified.located_area }} </span>
            <br> <small class="card-subtitle mb-2"  >  {{ classified.city }}</small>
            

        <hr>
        <!-- Date/Time -->
        <p>{% trans 'Posted' %} {{ classified.timestamp|naturaltime }}  </p>

        <hr>
        <section class="col s12 m12 l10 offset-l1">
            <p class="card-text text-justify">{{ classified.details }}</p>

                <div class="container">
                    <div class="row">
                      {% for photo in images %}
                      <div class="photo mr-2 mb-3">
                          {% cloudinary photo.image width=270 height=270  %}
                      </div>
                      {% endfor %}
                    </div>
                </div>
            </section>
       
            <hr>
            <!-- Classified more Content -->
            <p class="lead">{% trans 'by' %}
            <a href="{% url 'users:detail' classified.user.username %}">{{ classified.user.get_profile_name|title }}</a>
            </p>
            <h5 class="card-title " style="color: #5a0303" > {% trans 'CNY' %} {{ classified.price }} </h5> <br> 

            <hr>
            {% if request.user == classified.user%}
              <a class="btn btn-dark" href="{% url 'classifieds:edit_classified' classified.id %}" title="{% trans 'Edit this classified' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Edit' %}</a>
              <a href="{% url 'classifieds:list' %}" class="btn btn-dark">{% trans 'Back' %} </a> <br> <br>   
            {% else %}
            Do you want this item?
            <a href="{% url 'messager:conversation_detail' user.username  %}" class="btn btn-dark">{% trans ' Chat with seller' %} </a> 
            <a href="{% url 'classifieds:list' %}" class="btn btn-dark">{% trans 'Back' %} </a> <br>
            
            <!-- <a href="{% url 'classifieds:report_classified' classified.id %}" class="btn btn-danger" title="{% trans 'Report this classified' %}">{% trans 'Report' %} </a> -->
            {% endif %}
  
      </div>


      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Cloud Tag Widget -->
        <div class="card my-4">
          <h5 class="card-header">{% trans 'tags' %}</h5>
          <div class="card-body">
            {% for tag in classified.tags.all %}
              <a href="#"><span class="badge badge-info">{{ tag }}</span></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
   
  </div>
{% endblock content %}













