{% extends 'base.html' %}
{% load static i18n %}
{% load humanize thumbnail %}
{% block title %} {% trans 'Classifieds' %} {% endblock %}

{% block head %}
<link href="{% static 'css/classifieds.css' %}" rel="stylesheet">

<style> .container { margin-top: 6em; }  </style>
<title>Items for sale </title>
{% endblock head %}

{% block content %}

<nav id="navbarTop" class="navbar is-fixed-top-cls">
  <div class="nav-inner is-toggle is-fullwidth">
    <ul class="tp-nav-ul">
    <li id="search-item">
      <form id="search-form" method="get" action="#" >
          <input id="search-input" type="search" placeholder="🔍The best & the cheapest🤔"/>
      </form>
    </li>

    {% if request.user.is_authenticated %}
      <li class="top-nav-user-li">
        <a href="#du" class="user-image navbar-item is-account drop-trigger">
              {% if request.user.thumbnail %}
                <img   src="{{ oss }}/{{request.user.thumbnail}}" alt="Pic"
                  style="width:30px;height:30px;border-radius: 20%;"
                  class="img-drop-trigger rounded-circle  mb-3 mb-md-0 mr-0 md-3 img-fluid" id="thumb-pic" />
              {% else %}
                <img src="{% static 'img/user.png' %}" height="30px" width="30px" alt="No pic" />
              {% endif %}
        </a>

        <div id="d" class="has-caret">
          <div class="nav-drop is-navbarTop is-account-dropdown">
            <div class="inner">
                  <div class="nav-drop-header is-auth-user">
                    <span class="username">POPULAR CITIES </span>
                    <a href="#" id="close">❌ CLOSE</a>
                  </div>

                  <div class="nav-drop-body account-items">
                    {% for city in popular_cities %}
                        <a class="account-item" href="{% url 'classifieds:list_by_city' city %}">
                          <div class="media">
                            <div class="icon-wrap">
                                <img class="user-image" src="{% static 'img/city_icon.png' %}"
                                    height="20px" width="20px" alt="No Pic" />
                            </div>
                            <div>
                            <h3> {{ city }}</h3>
                            </div>
                          </div>
                        </a>
                    {% endfor %}

                    </div>
             <!-- close inner, nav-drop, ac-dropdown -->
            </div>
          </div>
        </div>

        <div id="du" class="has-caret">
              <div class="nav-drop is-account-dropdown">
                <div class="inner">
                  <div class="nav-drop-header is-auth-user">
                    <span class="username">{{ request.user.username|truncatechars:12}}</span>
                    <a href="#" id="close">❌ 
                        {% trans 'CLOSE' %}
                    </a>
                  </div>

                  <div class="nav-drop-body account-items">
                    <a class="account-item" href="{% url 'users:detail' request.user.username %}">
                      <div class="media">
                        <div class="icon-wrap">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-user">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                            <circle cx="12" cy="7" r="4" /></svg>
                        </div>
                        <div>
                            <h3>
                                {% trans 'My Profile' %}
                            </h3>
                            <small>
                                {% trans 'Access profile & settings' %}
                            </small>
                        </div>
                      </div>
                    </a>

                    <a class="account-item" href="{% url 'users:user_classifieds' request.user.username %}">
                      <div class="media">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-grid">
                                <rect x="3" y="3" width="7" height="7"></rect>
                                <rect x="14" y="3" width="7" height="7"></rect>
                                <rect x="14" y="14" width="7" height="7"></rect>
                                <rect x="3" y="14" width="7" height="7"></rect>
                            </svg>
                        </div>
                        <div>
                            <h3>
                                {% trans 'My items' %}
                            </h3>
                            <small>
                                {% trans 'The items you uploaded' %}
                            </small>
                        </div>
                      </div>
                    </a>

                    <a class="account-item" href="#d">
                      <div class="media">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-map-pin">
                                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                <circle cx="12" cy="10" r="3"></circle>
                            </svg>
                        </div>
                        <div>
                            <h3>
                                {% trans 'Change City' %}
                            </h3>
                            <small>
                                {% trans 'List items by city' %}
                            </small>
                        </div>
                      </div>
                    </a>
                  <!-- close nav-drop-body -->
                  </div>

               <!-- close inner div-->
               </div>

           <!-- close inner, nav-drop, ac-dropdown -->
          </div>
        </div>
      </li>

    {% else %}
        <li class="top-nav-user-li">
        <a href="#d" class="user-image navbar-item is-account drop-trigger">
            <img src="{% static 'img/location.png' %}" height="34px" width="34px" alt="No Profile Picture" />
        </a>

        <div id="d" class="has-caret">
              <div class="nav-drop is-navbarTop is-account-dropdown">
                <div class="inner">
                      <div class="nav-drop-header is-auth-user">
                        <span class="username">POPULAR CITIES </span>
                        <a href="#" id="close">❌ CLOSE</a>
                      </div>

                      <div class="nav-drop-body account-items">
                        {% for city in popular_cities %}
                            <a class="account-item" href="{% url 'classifieds:list_by_city' city %}">
                              <div class="media">
                                <div class="icon-wrap">
                                    <img class="user-image" src="{% static 'img/city_icon.png' %}"
                                        height="20px" width="20px" alt="No Pic" />
                                </div>
                                <div>
                                <h3> {{ city }}</h3>
                                </div>
                              </div>
                            </a>
                        {% endfor %}

                        </div>
                 <!-- close inner, nav-drop, ac-dropdown -->
                </div>
              </div>
            </div>
      </li>
   {% endif %}

    </ul>
  </div>
</nav>

  <div class="box" id="not-found">
      <img id="notfound-img" width="160px" height="160px"
          src="{% static 'img/query-not-found.gif' %}">
      <h1 class="title is-6"> Oh boy! nobody is selling this </h1>
  </div>

  <div class="is-9-fullhd classifieds-list-wrapper">
      <div id="classifieds" class="small-cards-listing">
         {% for classified in classifieds %}
            <div class="card classified-card">
              <!--Display image-->
              <a href="{% url 'classifieds:classified' classified.slug %}" class="item-link">
                <div class="card-img-top img-responsive">
                  {% if classified.thumbnail %}
                  <img class="card-img lazyload" src="{{oss}}/{{ classified.thumbnail }}"
                    width="154px" height="154px">
                  {% else %}
                  <img class="card-img lazyload" src="{% static 'img/nophoto.jpg' %}"
                    width="154px" height="154px">
                  {% endif %}
                </div>

                <div class="card-body">
                  <p class="card-title"> {{ classified.title | title}} </p>

                  {% if classified.price == 0.00 %}
                      <p class="card-subtitle"> {% trans 'FREE' %} </p>
                  {% elif classified.price is None %}
                      <p class="card-subtitle">  {% trans 'BID PRICE' %} </p>
                  {% else %}
                      <p class="card-subtitle"> ¥{{ classified.price|title }} </p>
                  {% endif %}

                <span class="card-text small "><small>📍</small> {{ classified.city|safe }}</span>

                </div>
              </a>
              <script type="application/ld+json">
              {
                 "@context":"http://schema.org/",
                 "@type":"Product",
                 "name":"{{ classified.title}}",
                 "description":"Visit https://obrisk.com{% url 'classifieds:classified' classified.slug %} for more details",
                 "image":[
                    "https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{ classified.thumbnail }}"
                 ],
                 "brand":"",
                 "offers":{
                    "@type":"Offer",
                    "priceCurrency":"CNY",
                    "price":{{ classified.price|title }},
                    "availability":"http://schema.org/InStock",
                    "itemCondition":"http://schema.org/UsedCondition",
                    "url":"{% url 'classifieds:classified' classified.slug %}"
                 }
              }
              </script>

            </div>

        {% empty %}
            <small class="empty-ad">{% trans '😃 Welcome' %} {{ request.user.username }}.
              {% trans 'It looks like there are no items near you.' %}
              <a href="{% url 'classifieds:write_new' %}"> {% trans ' Be the first to post' %}</a>
            </small>
            <br />
        {% endfor %}

      </div>
      <div class="loading classified-card is-hidden">
        <div class="stage">
          <div class="dot-pulse"></div>
        </div>
      </div>

{% endblock content %}

{% block extra_js %}

<script type="text/javascript">
    const oss_url = "{% url 'get_oss_auth' %}"; //classifieds/get_oss_auth/
    const user = "{{ request.user.username }}";
    const app = "classifieds";

    const title_id = "{{ form.title.auto_id }}";
    const details_id = "{{ form.details.auto_id }}";
    const address = "{{ form.address.auto_id }}";

    var page = 1;
    var empty_page = false;
    var block_request = false;
    var lastScrollTop = 0;
    var is_search = false;

    function renderClassifieds(classifieds) {
      for (const cls of classifieds) {
          let img, price; 
	      let t = typeof(cls.thumbnail); 

	      if (t != "null" && t != "object" && cls.thumbnail != "" ) {
	        img = `<img class="card-img lazyload" src="{{oss}}/${cls.thumbnail}" width="154px" height="154px">`;
          }else {
                img = "<img class='card-img lazyload' src='{% static 'img/nophoto.jpg' %}' width='154px' height='154px'>";
          }

          if (cls.price == 0.00){
              price = "<p class='card-subtitle'> FREE </p>";
          } else if (typeof(cls.price) == 'object') {
              price = "<p class='card-subtitle'> BID PRICE </p>";
          } else {
              price = `<p class="card-subtitle"> ¥${cls.price} </p>`;
          }

          template = `
            <div class="card classified-card">
              <a href="${window.location.origin}/classifieds/${cls.slug}"
                    style="color:black; text-decoration:none; background-color:none">

                <div class="card-img-top img-responsive">
                    ${img}
                </div>

                <div class="card-body">
                  <h6 class="card-title"> ${cls.title} </h6>
                   ${price}

                <span class="card-text small "><small>📍</small> ${ cls.city}</span>

                </div>
              </a>
            </div>
                `;
          document.getElementById('classifieds').insertAdjacentHTML('beforeend', template);
       }
     }

    function searchSubmit(e, formInput) {
      e.preventDefault();                                                                                                          
      if (formInput.value.length > 1) {
	  try{
	      fetch("{% url 'classifieds:classifieds_results' %}?query=" + formInput.value, {
		    credentials: 'same-origin',
		    headers: {
			"X-Requested-With": "XMLHttpRequest"
		    },
		    redirect: 'follow',
		  }).then (resp => resp.json())
		    .then (data => {
                if (data.code == 201) {
                    document.getElementById('not-found').style.display = 'none';
                    document.getElementById('classifieds').remove();
                    document.querySelector(
                            '.classifieds-list-wrapper'
                        ).insertAdjacentHTML(
                            'afterbegin', '<div id="classifieds" class="small-cards-listing">'
                    );
                    renderClassifieds(data.classifieds);
		    is_search = true;
                } else {
                    if (data.code == 602) {
                        document.getElementById('not-found').style.display = 'flex';
                    }
                }
		    })
	  }catch (e){
	      console.log(e);
	      document.getElementById('not-found').style.display = 'flex';
         }
      }
    }

    if ( !iPhone && sessionStorage["restoreScroll"] === "true" ) {
        page = parseInt(sessionStorage["page"]);
    is_search = JSON.parse(sessionStorage["is_search"]);
        document.getElementById('classifieds').remove();
        document.querySelector(
                '.classifieds-list-wrapper'
            ).innerHTML = JSON.parse(localStorage.getItem('loadedPosts'));
        
        const end = document.querySelector('.end-classifieds')
        if (end !== null) end.remove();

        document.body.scrollTop = sessionStorage.getItem("scrollPosition");
        document.documentElement.scrollTop = sessionStorage.getItem("scrollPosition");
        sessionStorage.removeItem("restoreScroll");
        sessionStorage.setItem("scrollPosition", "0");
        sessionStorage.setItem("page", "0");
        sessionStorage.setItem("page", "false");
    }

    document.addEventListener('DOMContentLoaded', function() {

        document.querySelector('.classifieds-list-wrapper').addEventListener('click', e => {
           sessionStorage.setItem("restoreScroll", true);
        });


       window.addEventListener('scroll', function () {
          if (!iPhone && document.getElementById('navbarBottom').style.display === 'none'){
               //if(visualViewport.height + 30 > document.scrollingElement.clientHeight) {
	       document.getElementById('navbarBottom').style.display = 'block';
          }

          if (document.getElementById('search-input').value === "" || is_search === false) {
              let st = window.pageYOffset || document.documentElement.scrollTop;

              if (empty_page == false && block_request == false && st > lastScrollTop) {
                block_request = true;
                page += 1;
                document.querySelector('.loading').classList.remove('is-hidden')

                window.requestAnimationFrame(function() {
                    fetch(`${window.location.href.split('#')[0]}?page=${page}`,
                    {
                      headers: {
                    "X-Requested-With": "XMLHttpRequest"
                      }
                    }).then (resp => resp.json())
                    .then (data => {

                        document.querySelector('.loading').classList.add('is-hidden');
                        block_request = false;
                        renderClassifieds(data.classifieds) 

                          if (data.end === "end") {
                            empty_page = true;
                            document.querySelector('.loading').classList.add('is-hidden');
                          } 

                    }).catch (err => {
                       console.log(err);
                    });
                });
              }
              lastScrollTop = st <= 0 ? 0 : st;
         }
        });

        const searchForm = document.getElementById('search-form');
        const formInput = document.getElementById("search-input");

      window.onbeforeunload = function (event) {
          sessionStorage.setItem(
              "scrollPosition",
              Math.max(document.body.scrollTop, document.documentElement.scrollTop)
          );
          sessionStorage.setItem(
              "page",
               page
          );
          sessionStorage.setItem(
              "is_search",
               is_search
          );
        const htmlContents = document.querySelector(
                        '.classifieds-list-wrapper'
                    ).innerHTML;
        localStorage.setItem('loadedPosts', JSON.stringify(htmlContents));
      }

      searchForm.addEventListener('submit', function(e) {
          searchSubmit(e, formInput);
      });

      wx.ready(function(){
          try {
              wx.onMenuShareAppMessage({ 
                    title: "Obrisk Secondhand Marketplace", 
                    desc: "Check out lots of stuff selling right now or post yours", 
                    link: location.href, 
                    imgUrl: "{{oss}}/{{ classifieds.0.thumbnail }}", 
                    trigger: function (res) {
                        console.log(JSON.stringify(res));
                    },
                    success: function (res) {
                        console.log(JSON.stringify(res));
                    },
                    fail: function (res) {
                        console.log(JSON.stringify(res));
                    }
                })

              wx.onMenuShareTimeline({ 
                    title: "Obrisk Secondhand Marketplace", 
                    desc: "Check out lots of stuff selling right now or post yours", 
                    link: location.href, 
                    imgUrl: "{{oss}}/{{ classifieds.0.thumbnail }}", 
                    trigger: function (res) {
                        console.log(JSON.stringify(res));
                    },
                    success: function (res) {
                        console.log(JSON.stringify(res));
                    },
                    fail: function (res) {
                        console.log(JSON.stringify(res));
                    }
                })
            }catch (e) {
                console.log(e);
            }
      });

      wx.error(function(res){
        console.log(res);
      });
});

</script>

{% endblock extra_js %}
