{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock head %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'posts:list' %}">{% trans 'Home' %}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'classifieds:list' %}">{% trans 'Classifieds' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Write a new classified' %}</li>
    </ol>
  </nav>
  <form action="{% url 'classifieds:write_new' %}" name="classifiedForm" enctype="multipart/form-data"  id="classified-form" method="post" role="form">
    {% csrf_token %}
    {{ form|crispy }}


    <div class="form-group"> <br>
      <button type="button" class="btn btn-dark create" >{% trans 'Submit' %}</button>
      <!--button type="button" class="btn btn-default draft">{% trans 'Save as draft' %}</button-->
      <a href="{% url 'classifieds:list' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>
  {{ form.media }}


{% endblock content %}

{% block javascript %}


<script type="text/javascript">

  const url = "{% url 'classifieds:write_new' %}" ///classifieds/write-new-classified/
  const user = "{{ request.user.username }}";

  $(function () {
    $(".create").click(function (event) {
        console.log("Here")
        $("input[name='status']").val("A");
        $("#classified-form").submit();
      
    }); 
    
    $(".draft").click(function () {
        $("input[name='status']").val("E");
        $("#classified-form").submit();
    });
});
    
</script>

{% endblock javascript %}

  
