{% extends 'base.html' %}
{% load static i18n %}
{% load humanize thumbnail %}
{% block title %} {% trans 'Classifieds' %} {% endblock %}

{% block head %}
<link href="{% static 'css/listing.css' %}" rel="stylesheet">
<link href="{% static 'css/classifieds.css' %}?v=21" rel="stylesheet">
<link href="{% static 'css/classifieds-list.css' %}?v=1908301" rel="stylesheet">
<title>Obrisk Classifieds </title>
{% endblock head %}

{% block content %}
<div class="view-wrapper">
  <!-- Container -->
  <div id="main-feed" class="container">
    <div id="" class="view-wrap true-dom">
      <div class="columns">

        <!-- Left side column -->
        <div class="column is-3 is-hidden-mobile is-hidden-desktop-only"
          style="height: 500px;position: sticky;top: 0px;">
          <!-- Sidebar Widgets Column -->
          <!-- Cloud Tag Widget -->
          <div class="card is-weather-card position-fixed" style="width: 300px;">
            <div class="card-heading">
              <h5 class="has-text-weight-medium	 has-text-white	">{% trans 'Popular tags' %}</h5>

            </div>
            <div class="card-body">


              <div class="previsions d-block">
                {% for tag, count in popular_tags %}
                <a href="{% url 'classifieds:list_by_tag' tag %}"><span class="tag is-white">{{ count }}
                    {{ tag }}</span></a>
                {% endfor %}

              </div>

            </div>
          </div>
        </div>
        <!-- /Left side column -->

        <!-- Middle column -->
        <div class="column is-9-fullhd">

          <div class="d-flex flex-end mb-4" style="justify-content: flex-end;">

            <!-- <div class="justify-content-center mt-5 mr-0">
            <div class="justify-content-end ml-auto d-flex flex-row">
            <form class="form-inline navbar-left" role="search" action="/classifieds/classifieds-search-results/">
              <div class="input-group">
                <input name="query" type="search" id="searchInput" class="form-control" aria-label="Search">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                </div>
              </div>
            </form>
            </div>
        
            <div class="d-flex justify-content-center h-100">
        
            </div> -->


            <!-- Write Classified Widget -->

            <a class="btn btn-dark align-self-center" href="/classifieds/write-new-classified/"
              title="Write a new classified">➕Add new item</a>

          </div>
          <div id="classifieds" class="p-0 row justify-content-center justify-content-lg-start">
            {% include "classifieds/classified_list_ajax.html" %}

          </div>
          <div class="loading classified-card m-auto d-none">
            <div class="stage">
              <div class="dot-pulse"></div>
            </div>
          </div>


        </div>

      </div>
      <!-- /Middle column -->

      <!-- official ads for pc sized-->
      {% if official_ads %}
      <div class="right-sidebar d-none d-lg-block">
        {% include 'classifieds/ads.html' %}
      </div>
      {% endif %}

    </div>
  </div>
</div>




{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/listing.js' %}?v=1908191" type="text/javascript"></script>
<script>
  var page = 1;
  var empty_page = false;
  var block_request = false;
  $(window).scroll(function () {
    if (empty_page == false && block_request == false) {
      block_request = true;
      page += 1;
      $('.loading').removeClass('d-none')
      $.get('?page=' + page, function (data) {
        if (data == '') {
          empty_page = true;
          $('.loading').addClass('d-none')
          $('.classifieds-container').append('<div class="m-auto"> End of Classifieds</div>')
        } else {
          $('.loading').addClass('d-none');
          block_request = false;
          $('#classifieds').append(data);
        }
      });
    }
  });
</script>

<script>
  /**
   * Vic Shóstak <truewebartisans@gmail.com>
   * Copyright (c) 2019 True web artisans https://1wa.co
   * http://opensource.org/licenses/MIT The MIT License (MIT)
   *
   * a2hs.js v0.4.5 at 13/05/2019
   *
   * Add to Home Screen
   *
   * A useful modern JavaScript solution for adding a progressive
   * web application (PWA) to the home screen of your mobile
   * iOS device.
   *
   * @param settings Initial settings.
   * @return {HTMLElement}
   *
   * @example
   * import AddToHomeScreen from "a2hs.js";
   * AddToHomeScreen({
   *  brandName: "Demo",
   *  fontFamily: "Tahoma, sans-serif",
   *  backgroundColor: "red",
   *  color: "white"
   * });
   */
  var AddToHomeScreen = function (settings = {}) {
    // Container styles
    var backgroundColor = settings.backgroundColor || "#f9f9f9";
    var padding = settings.padding || "10px";
    var shadowColor = settings.shadowColor || "#e9e9e9";
    var shadowSize = settings.shadowSize || "10px";
    // Content styles
    var fontFamily = settings.fontFamily || "-apple-system, sans-serif";
    var color = settings.color || "#5d5d5d";
    var fontSize = settings.fontSize || "0.9rem";
    // Content
    var brandName = settings.brandName || "";
    var logoImage =
      settings.logoImage ||
      `<svg enable-background="new 0 0 1952.00 734.93" height="25" viewBox="0 0 1952 734.93" width="70" xmlns="http://www.w3.org/2000/svg">
                <g stroke-linejoin="round" stroke-width=".2">
                  <path d="m1436.62 603.304 56.39-142.599h162.82l-77.27-216.315 96.64-244.38947166 276.8 734.93247166h-204.13l-47.3-131.629z" fill="#3d3d3d"/>
                  <path d="m1262.47 734.935 296.32-734.93343407-196.45.00097657-202.7 474.9304575-144.14-474.92948094h-151.001l-154.768 474.92948094-109.146-216.416-98.773 304.302 100.284 172.116h193.331l139.857-425.91 133.346 425.91z" fill="#5a0fc8"/>
                  <path d="m186.476 482.643h121.003c36.654 0 69.293-4.091 97.917-12.273l31.293-96.408 87.459-269.446c-6.664-10.5625-14.272-20.5493-22.824-29.9591-44.905-49.7049-110.605-74.55649373-197.102-74.55649373h-304.22200381v734.93259373h186.47600381zm160.166-313.564c17.54 17.653 26.309 41.276 26.309 70.871 0 29.822-7.713 53.474-23.138 70.956-16.91 19.425-48.047 29.137-93.409 29.137h-69.928v-197.445h70.442c42.277 0 72.185 8.827 89.724 26.481z" fill="#3d3d3d"/>
                </g>
              </svg>`;
    var htmlContent =
      settings.htmlContent ||
      `Install ${brandName} app on your device: On safari, tap share and Add to Home Screen ↓`;
    // Define iOS User-Agent variable
    var iOS = /iphone|ipad|ipod/.test(window.navigator.userAgent.toLowerCase());
    var isSafari = !!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/);
    var isWX = /wxwork/gi.test(window.navigator.userAgent);
    var isWeixin = /MicroMessenger/gi.test(window.navigator.userAgent)
    // Define standalone mode variable
    var standalone =
      "standalone" in window.navigator && window.navigator.standalone;
    // Check localStorage before render a2hs container
    if (iOS && !standalone && isSafari && !isWX && !isWeixin && !window.localStorage.a2hs_message) {
      // Define container variable
      var div = document.createElement("div");
      // Define style variable
      var style = document.createElement("style");
      // Create styles
      style.innerHTML = `
              .a2hs__container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: fixed;
                box-sizing: border-box;
                box-shadow: ${shadowColor} 0 0 ${shadowSize};
                background-color: ${backgroundColor};
                padding: ${padding};
                width: 100%;
                bottom: 50px;
                right: 0;
                left: 0;
              }
              .a2hs__container .a2hs__logo {
                padding: ${padding};
              }
              .a2hs__container .a2hs__text {
                font-family: ${fontFamily};
                font-size: ${fontSize};
                color: ${color};
              }`;
      // Create message
      div.innerHTML = `
              <div class="a2hs__text">${htmlContent}</div>`;
      // Add class to container
      div.setAttribute("class", "a2hs__container");
      // Add onClick function
      div.onclick = function (event) {
        // Prevent default click
        event.preventDefault();
        // Hide a2hs_message
        window.localStorage.setItem("a2hs_message", "hide");
        // Remove a2hs container from DOM
        document.querySelector(".a2hs__container").remove();
      };
      // Render elements
      document.head.appendChild(style);
      document.body.appendChild(div);
    }
  };
  AddToHomeScreen({
    brandName: "Obrisk",
    fontFamily: "Tahoma, sans-serif",
    backgroundColor: "#3ec4e2",
    color: "white",

  });
  var NugUser = function (settings = {}) {
    // Container styles
    var backgroundColor = settings.backgroundColor || "#f9f9f9";
    var padding = settings.padding || "10px";
    var shadowColor = settings.shadowColor || "#e9e9e9";
    var shadowSize = settings.shadowSize || "10px";
    // Content styles
    var fontFamily = settings.fontFamily || "-apple-system, sans-serif";
    var color = settings.color || "#5d5d5d";
    var fontSize = settings.fontSize || "0.9rem";
    // Content
    var brandName = settings.brandName || "";
    var logoImage =
      settings.logoImage ||
      `<svg enable-background="new 0 0 1952.00 734.93" height="25" viewBox="0 0 1952 734.93" width="70" xmlns="http://www.w3.org/2000/svg">
                <g stroke-linejoin="round" stroke-width=".2">
                  <path d="m1436.62 603.304 56.39-142.599h162.82l-77.27-216.315 96.64-244.38947166 276.8 734.93247166h-204.13l-47.3-131.629z" fill="#3d3d3d"/>
                  <path d="m1262.47 734.935 296.32-734.93343407-196.45.00097657-202.7 474.9304575-144.14-474.92948094h-151.001l-154.768 474.92948094-109.146-216.416-98.773 304.302 100.284 172.116h193.331l139.857-425.91 133.346 425.91z" fill="#5a0fc8"/>
                  <path d="m186.476 482.643h121.003c36.654 0 69.293-4.091 97.917-12.273l31.293-96.408 87.459-269.446c-6.664-10.5625-14.272-20.5493-22.824-29.9591-44.905-49.7049-110.605-74.55649373-197.102-74.55649373h-304.22200381v734.93259373h186.47600381zm160.166-313.564c17.54 17.653 26.309 41.276 26.309 70.871 0 29.822-7.713 53.474-23.138 70.956-16.91 19.425-48.047 29.137-93.409 29.137h-69.928v-197.445h70.442c42.277 0 72.185 8.827 89.724 26.481z" fill="#3d3d3d"/>
                </g>
              </svg>`;
    var htmlContent =
      settings.htmlContent |
      `Install <strong>${brandName}`;
    // Define iOS User-Agent variable
    var iOS = /iphone|ipad|ipod/.test(window.navigator.userAgent.toLowerCase());
    var isSafari = !!navigator.userAgent.match(/Version\/[\d\.]+.*Safari/);
    var isWX = /wxwork/gi.test(window.navigator.userAgent);
    var isWeixin = /MicroMessenger/gi.test(window.navigator.userAgent)
    // Define standalone mode variable
    var standalone =
      "standalone" in window.navigator && window.navigator.standalone;
    // Check localStorage before render a2hs container
    if (isWeixin) {
      // Define container variable
      var div = document.createElement("div");
      // Define style variable
      var style = document.createElement("style");
      // Create styles
      style.innerHTML = `
              .weixin__container {
                display: flex;
                align-items: center;
                justify-content: center;
                position: fixed;
                box-sizing: border-box;
                box-shadow: ${shadowColor} 0 0 ${shadowSize};
                background-color: ${backgroundColor};
                padding: ${padding};
                width: 30%;
                bottom: 0;
                left: 0;
              }
              .weixin__container .weixin__logo {
                padding: ${padding};
              }
              .weixin__container .weixin__text {
                font-family: ${fontFamily};
                font-size: ${fontSize};
                color: ${color};
              }`;
      // Create message
      div.innerHTML = `
              <div class="weixin__text"> Install Obrisk </div>`;
      // Add class to container
      div.setAttribute("class", "weixin__container");
      // Add onClick function
      div.onclick = function (event) {
        // Prevent default click
        event.preventDefault();
        // Hide a2hs_message
        location.replace('/download-pwa/');
      };
      // Render elements
      document.head.appendChild(style);
      document.body.appendChild(div);
    }
  };
  NugUser({
    brandName: "Obrisk",
    fontFamily: "Tahoma, sans-serif",
    backgroundColor: "#3ec4e2",
    color: "white"

  });
</script>
{% endblock extra_js %}