{% extends "base.html" %}

{% load i18n %}

{% block content %}

{% include 'nav_modal.html' %}
<div class="view-wrapper">
    <h1 class="title is-5">{% trans "Remove the item" %}</h1>

    <p>{% trans 'This action will remove this post from any listing on the platform, the post wont be deleted immediately' %}</p>
    <p>{% trans ' Are you sure you want to continue?' %} </p>

    <form method="post" action="{% url 'classifieds:delete_classified' classified.pk %}">
      {% csrf_token %}
      
      <div class="is-flex">
      <button class="button is-solid raised accent-button" type="submit" style="margin-right:6px;">
          {% trans 'Delete' %}
      </button>
      <a href="{% url 'classifieds:classified' classified.slug %}" class="button is-solid raised red-button">Cancel</a>
    </div>

    </form>
</div>
{% endblock %}
