<!-- Page Content -->
{% load static i18n %}
{% load humanize thumbnail %}

<!-- Classified Entries Column -->
<!-- <div class="col-md-9"> -->
{% for classified in classifieds %}
<!-- Classified ad. -->
<div class="card classified-card mr-2 mb-3 justify-content-center">
  <!--Display image-->

  <a href="{% url 'classifieds:classified' classified.slug %}"
    style="color:black; text-decoration:none; background-color:none">
    <div class="card-img-top img-responsive"> 
  
      {% if classified.image_thumb %}
          <img class="card-img" src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{ classified.image_thumb }}">
      {% else %}
          <img class="card-img" src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/classifieds/default.jpg">
      {% endif %}

    </div>
    <div class="divider"></div>
    <div class="card-body">
      <h6 class="card-title"> {{ classified.title}} </h6>
      <p class="card-subtitle O-cl-red"> CNY {{ classified.price|title }} </p>
      <div class="card-meta d-flex justify-content-between">
        <div class="d-flex location">
          <small>📍</small>
          <span class="card-text small "> {{ classified.city|safe }}</span>
        </div>
        <div class="share-card">
          <small>🔗</small>
        </div>
      </div>

    </div>
  </a>
</div>
<!-- official ads for phones-->
{% if official_ads %}
{% if forloop.counter == 6 %}
<div class="ads d-lg-none" style="height: 250px; width:80%;">
  <iframe class="h-100 w-100" src="{% url 'classifieds:mobile-ads'%}" frameborder="0"></iframe>
</div>
{% endif %}
{% endif %}

{% empty %}
<h6 class="no-data">{% trans 'Dear '%} {{ request.user.username }}
  {% trans 'you are welcome😃. Mmh🤔! It looks like there are no classifieds items near you😥.' %}
  <a href="{% url 'classifieds:write_new' %}"> {% trans ' Be the first one to post😃' %}!</a>
  {% trans 'Or you can navigate to other sections of the website by the menu on the top⬆️, or check what we have found from other places😊. '%} </h6>
<br />
{% endfor %}



<!--Will be using ajax in near future.-->
{% for classified in other_classifieds %}
<!-- Classified ad. -->
<div class="card classified-card mr-2 mb-3 justify-content-center">
  <!--Display image-->
  <div class="card-img-top img-responsive">
    <a href="{% url 'classifieds:classified' classified.slug %}"
      style="color:black; text-decoration:none; background-color:none">

      {% if classified.image_thumb %}
          <img class="card-img" src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{ classified.image_thumb }}">
      {% else %}
          <img class="card-img" src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/classifieds/default.jpg">
      {% endif %}
  </div>

  <div class="divider"></div>
  <div class="card-body">
    <h6 class="card-title"> {{ classified.title}} </h6>
    <p class="card-subtitle O-cl-red"> CNY {{ classified.price|title }} </p>
    <div class="card-meta d-flex justify-content-between">
      <div class="location">
        <small>📍</small>
        <span class="card-text small "> {{ classified.city|safe }}</span>
      </div>
      <div class="share-card">
        <small>🔗</small>
      </div>
    </div>

  </div>
  </a>
</div>
{% endfor %}