{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
<link rel="stylesheet" href="/static/css/classified-create.css" />

{% endblock head %}

{% block content %}
<div class="mt-1">
  <form class="mb-5" action="{% url 'classifieds:edit_classified' form.instance.pk %}" enctype="multipart/form-data"
    id="classified-form" method="post" role="form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
      <a href="{% url 'classifieds:list' %}" class="button red-button">{% trans 'Cancel' %}</a>
      <button type="submit" class="button accent-button update">{% trans 'Update' %}</button>
    </div>
  </form>

  <a href="{% url 'classifieds:delete_classified' classified.pk %}">
    <span class="pull-right" aria-hidden="true" title="{% trans 'Delete this classified post' %}"> 🗑️Delete </span>
  </a>

</div>

{{ form.media }}

{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/vendor/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">

  $(function () {
    $(".update").click(function () {
      $("input[name='status']").val("A");
      //This image below is just to pass the form validation, but it is not saved.
      $("input[name='images']").val("samples/ecommerce/accessories-bag.jpg");
      //$("input[name='edited']").prop("checked");
      $("input[name='edited']").val("True");
      $("#classified-form").submit();
    });
  });
</script>

{% endblock extra_js %}
