{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block head %}
  <link href="{% static 'css/classifieds.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock head %}

{% block title %}{{ classified.title|title }}{% endblock %}

{% block content %}
  <!-- Page Content -->
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'posts:list' %}">{% trans 'Home' %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'classifieds:list' %}">{% trans 'Classifieds' %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ classified.title|title }}</li>
      </ol>
    </nav>
    
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h4 class="mt-4 text-center">{{ classified.title|title }}</h4>
        <!-- Location -->
        <i class="lead fa fa-map-marker"></i> <span class="card-subtitle mb-2"> {{ classified.located_area }} </span>
            <br> <small class="card-subtitle mb-2"  >  {{ classified.city }}</small>
            

        <hr>
        <!-- Date/Time -->
        <p>{% trans 'Posted' %} {{ classified.timestamp|naturaltime }}  </p>

        <hr>
        <section class="col s12 m12 l10 offset-l1">
            <p class="card-text text-justify">{{ classified.details }}</p>

                <div class="container">
                    <div class="slider">
                    <div>
                    <div class="image">
                      {% for photo in images %}
                        <img src="http://obrisk.oss-cn-hangzhou.aliyuncs.com/{{ photo.image_thumb }}">   
                        <img src="http://obrisk.oss-cn-hangzhou.aliyuncs.com/{{ photo.image }}">  
                      </div> 
                      {% endfor %}
                      </div>
                      </div>
                </div>
            </section>
       
            <hr>
            <!-- Classified more Content -->
            <h3 class="ribbon">
              <strong class="ribbon-content">{% trans 'CNY' %} {{ classified.price }}</strong>
           </h3> 
           

            <p style="overflow-y: auto;"> <a href="{% url 'users:detail' classified.user.username %}">
                  {% thumbnail classified.user.picture "x35" as im %}
                    <img src="{{ im.url }}" class="pull-left" style="border-radius: 50%;" alt="{% trans 'User Image' %}" class="user-image">
                  {% empty %}
                    <img src="{% static 'img/user.png' %}" class="pull-left" height="35px" alt="{% trans 'No Profile Picture' %}" />
                  {% endthumbnail %} 
                  <strong>  {{ classified.user.get_profile_name|title }} </strong> </a>
              </p>

            <hr>
            {% if request.user == classified.user%}
              <a class="btn btn-dark" href="{% url 'classifieds:edit_classified' classified.id %}" title="{% trans 'Edit this classified' %}">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Edit' %}</a>
              <a href="{% url 'classifieds:list' %}" class="btn btn-dark">&larr;{% trans 'Back' %} </a> <br> <br>   
            {% else %}
            Do you want this item?
            <a href="{% url 'messager:conversation_detail' classified.user.username  %}" class="btn btn-action">
            <i class="lead fa fa-shopping-cart"></i>   <strong >  {% trans ' Chat with seller' %} </strong></a>  <br> <br>
            <a href="{% url 'classifieds:list' %}" class="btn btn-dark"> &larr;{% trans 'Back' %} </a> <br> <br>
            
            <!-- <a href="{% url 'classifieds:report_classified' classified.id %}" class="btn btn-danger" title="{% trans 'Report this classified' %}">{% trans 'Report' %} </a> -->
            {% endif %}
  
      </div>


      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Cloud Tag Widget -->
        <div class="card my-4">
          <h5 class="card-header">{% trans 'tags' %}</h5>
          <div class="card-body">
            {% for tag in classified.tags.all %}
              <a href="#"><span class="badge badge-info">{{ tag }}</span></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
   
  </div>
<script type="text/javascript">
       $('.slider,.slider-nav').slick({
  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear'
});
    </script>
{% endblock content %}













