{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
  <link href="{% static 'css/classifieds.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="{% url 'classifieds:list' %}">{% trans 'Classifieds' %}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{% trans 'Write a new classified' %}</li>
    </ol>
  </nav>
  <form action="{% url 'classifieds:write_new_official' %}" name="classifiedForm" enctype="multipart/form-data"  id="classified-form" method="post" role="form">
    {% csrf_token %}
    {{ form|crispy }}
  
     <button id="upload_widget" class="cloud-button"> Upload images </button> 

    <div class="form-group"> <br>
      <button type="button" class="btn btn-dark create" >{% trans 'Submit' %}</button>
      <!--button type="button" class="btn btn-default draft">{% trans 'Save as draft' %}</button-->
      <a href="{% url 'classifieds:list' %}" class="btn btn-danger">{% trans 'Cancel' %}</a>
    </div>
  </form>
  {{ form.media }}

{# I have to add the images upload features like in the classifieds #}
{% endblock content %}



  
