{% extends "base.html" %}
{% load static i18n %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/orders-list.css' %}">
<title>{% trans 'Orders' %}</title>
{% endblock head %}

{% block content %}
    {% include 'nav_modal.html' %}

    <div class="items-list">
        <div class="order-toggle">
            <a class="toggle-link" href="#" id="b"> Bought </a>
            <a class="toggle-link" href="#" id="s"> Sold </a>
        </div>

        <div id="bought">
          {% for order in orders.items_bought %}
                  <a href="{% url 'classifieds:order_detail' order.slug %}"
                    id="{{ order.slug }}" class="card contact-card open-chat">
                        {% if order.classified.thumbnail %}
                            <img src="{{oss}}/{{order.classified.thumbnail}}"
                              class="rounded-circle contact-profile-avatar img-fluid">
                        {% else %}
                            <img src="{% static 'img/nophoto.jpg' %}"
                              alt="pic" class="contact-profile-avatar img-fluid" />
                        {% endif %}

                        <div class="contact-card-meta">
                            <p class="subtitle is-6"> {{ order.classified.title|title }} </p>

                            <div class="name-time-section">
                              <small class="timestamp" id="last-timestamp">
                                {{ order.timestamp |date:'N d G:i' }}
                              </small>
                              <small class="msg" id="last-msg"> 
                                      {{ order.classified.price }}
                              </small>
                           </div>
                        </div>
                  </a>

          {% empty %}
              <div class="card">
                  <div class="card-body">
                      <strong> {% trans "No Bought Items" %} </strong>
                      <p> {% trans "Hey, buy youself something...😊" %}</p>
                  </div>
              </div>
          {% endfor %}
      </div>

      <div id="sold">
          {% for order in orders.items_sold %}
              <a href="{% url 'classifieds:order_detail' order.slug %}"
                id="{{ order.slug }}" class="card contact-card open-chat">
                    {% if order.classified.thumbnail %}
                        <img src="{{oss}}/{{order.classified.thumbnail}}"
                          class="rounded-circle contact-profile-avatar img-fluid">
                    {% else %}
                        <img src="{% static 'img/nophoto.jpg' %}"
                          alt="pic" class="contact-profile-avatar img-fluid" />
                    {% endif %}

                    <div class="contact-card-meta">
                        <p class="subtitle is-6"> {{ order.classified.title|title }} </p>

                        <div class="name-time-section">
                          <small class="timestamp" id="last-timestamp">
                            {{ order.timestamp |date:'N d G:i' }}
                          </small>
                          <small class="msg" id="last-msg"> 
                                  {{ order.classified.price }}
                          </small>
                       </div>
                    </div>
              </a>

          {% empty %}
              <div class="card">
                  <div class="card-body">
                      <strong> {% trans "No Sold Items" %} </strong>
                      <p> {% trans "Post great offers & watch this page change 🤑 " %}</p>
                  </div>
              </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
              const bought = document.getElementById('bought');
              const sold = document.getElementById('sold');

              document.getElementById('b').addEventListener('click', () => {
                  sold.style.display = 'none';
                  bought.style.display = 'block';
              });
              document.getElementById('s').addEventListener('click', () => {
                  bought.style.display = 'none';
                  sold.style.display = 'block';
              });
        });
    </script>
{% endblock extra_js %}
