{% extends "base.html" %}
{% load static i18n %}

{% block title %}{{ classified.title }}{% endblock %}

{% block head %}
<link href="{% static 'css/classified_order.css' %}" rel="stylesheet">

{% endblock head %}

{% block content %}

{% include 'nav_modal.html' %}

<div class="notification is-danger is-hidden" role="alert">
    <button type="button" class="delete close-dj-messages"></button>
    <p id="notf-msg"></p>
</div>

<div class="order-box">
      {% if classified.thumbnail %}
          <img class="card-img lazyload" src="{{oss}}/{{ classified.thumbnail }}"
                width="250px" height="250px">
      {% else %}
          <img class="card-img lazyload" src="{{oss}}/classifieds/default.jpg"
                width="250px" height="250px">
      {% endif %}

      <h1 class="title is-4">{{ classified.title }}</h1>

      {% if classified.english_address %}
          <h1> Address: {{ classified.english_address }}</h1>
      {% endif %}
      <h1 class="title is-6"> {{ classified.city }}</h1>

      </br>
      <h1 > Price: {{ classified.price }} CNY</h1>

      <div class="radio-tile-group">
            <div class="input-container">
              <input id="offline" class="radio-button" type="radio" name="radio"/>
              <div class="radio-tile">
                <div class="icon walk-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                </div>
                <label for="walk" class="radio-tile-label">Offline pickup</label>
              </div>
            </div>

            <div class="input-container">
              <input id="delivery" class="radio-button"  type="radio" name="radio" />
              <div class="radio-tile">
                <div class="icon bike-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                        stroke-linecap="round" stroke-linejoin="round" class="feather feather-box">
                        <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                        </path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                        <line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
                </div>
                <label for="bike" class="radio-tile-label">Express Delivery</label>
              </div>
            </div>
      </div>
  </div>

{% endblock content %}

{% block extra_js %}

<script type="text/javascript">
    var slugURL = "{% url 'classifieds:classified' classified.slug %}";
    var slug = "{{classified.slug}}";
    var dataError = "{{data.error}}";
    var timestamp = "{{data.timestamp}}"; 
    var nonceStr = "{{data.nonceStr}}";
    var packge = "{{data.package}}";
    var signType = "{{data.signType}}";
    var paySign = "{{data.sign}}";
    var paySuccessURL = "{% url 'classifieds:wxpyjs_success' %}";
</script>
<script src="{% static 'js/pay-order.js' %}" type="text/javascript"></script>
{% endblock extra_js %}
