{% load static i18n humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Confirm Order </title>

  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/seller-confirm-order.css' %}">
</head>

<body>

    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>


    <div class="content">

        <div class="face">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>

    </div>
</body>
