{% load static i18n humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Confirm Order </title>

  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/seller-confirm-order.css' %}">
</head>

<body>

    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>
    <div class="snow"></div>

    <div class="face-wrapper">
        <div class="face">
          <div class="eye"></div>
          <div class="eye right"></div>
          <div class="mouth happy"></div>
        </div>
        <div class="shadow scale"></div>
    </div>

    <a class="order-item black-link" href="{% url 'classifieds:classified' order.classified.slug %}">
          {% if order.classified.thumbnail %}
              <img class="card-img lazyload" src="{{oss}}/{{ order.classified.thumbnail }}"
                    width="200px" height="200px">
          {% else %}
              <img class="card-img lazyload" src="{% static 'img/nophoto.jpg' %}"
                    width="200px" height="200px">
          {% endif %}

          <div id="order-summary-meta"> 
              <h1> {{ order.classified.title|title }}</h1>
              <h3> {{ order.classified.city }}</h3>
              <h3> Price: CNY {{ order.classified.price }}</h3>
          </div>
   </a>


</body>
