{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}

{% block head %}
<link href="{% static 'css/delivery-pickup-create.css' %}" rel="stylesheet"/>
{% endblock head %}

{% block content %}
<div class="page-wrapper">
    <div class="page-head">
      {% if request.META.HTTP_REFERER %}
        <a  href="javascript:history.back()" class="cls-back-btn">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z" />
              <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
           </svg>
        </a>
      {% endif  %}
    </div>

    <form class="main-top" action="{% url 'classifieds:set_delivery_pickup' %}" name="deliveryForm"
           enctype="multipart/form-data" id="delivery-form" method="post" role="form">
          {% csrf_token %}

          <div class="column form-inner">
              <div class="input-group">
                  <input type="text" id="sender_name" name="sender_name" maxlength="80"
                   class="form-field" required placeholder="{% trans 'Name' %}" value="{{request.user.username | title}}">
                  <input type="text" id="sender_phone" name="sender_phone" maxlength="11" class="form-field" required
                    placeholder="{% trans 'Your Phone no.' %}" value="{{request.user.phone_number.national_number}}">
               </div>

               <textarea name="sender_address" id="sender_address" cols="40" rows="2" maxlength="2000"
                class="form-field" placeholder="{% trans 'Your Full Address' %}"
                >{{ request.user.chinese_address | default_if_none:'' }}</textarea>

                <div id="province_city" class="form-group">
                    <select name="province_region" id="province"
                        class="custom-select selectwidget form-control" autocomplete="on">
                            <option value="">Change</option>
                            <option value="Anhui">Anhui</option>
                            <option value="Beijing">Beijing</option>
                            <option value="Chongqing">Chongqing</option>
                            <option value="Fujian">Fujian</option>
                            <option value="Gansu">Gansu</option>
                            <option value="Guangdong">Guangdong</option>
                            <option value="Guangxi">Guangxi</option>
                            <option value="Guizhou">Guizhou</option>
                            <option value="Hainan">Hainan</option>
                            <option value="Hebei">Hebei</option>
                            <option value="Heilongjiang">Heilongjiang</option>
                            <option value="Henan">Henan</option>
                            <option value="Hubei">Hubei</option>
                            <option value="Hunan">Hunan</option>
                            <option value="Inner Mongolia">Inner Mongolia</option>
                            <option value="Jiangsu">Jiangsu</option>
                            <option value="Jiangxi">Jiangxi</option>
                            <option value="Jilin">Jilin</option>
                            <option value="Liaoning">Liaoning</option>
                            <option value="Ningxia">Ningxia</option>
                            <option value="Qinghai">Qinghai</option>
                            <option value="Shaanxi">Shaanxi</option>
                            <option value="Shandong">Shandong</option>
                            <option value="Shanghai">Shanghai</option>
                            <option value="Shanxi">Shanxi</option>
                            <option value="Sichuan">Sichuan</option>
                            <option value="Tianjin">Tianjin</option>
                            <option value="Tibet">Tibet</option>
                            <option value="Xinjiang">Xinjiang</option>
                            <option value="Yunnan">Yunnan</option>
                            <option value="Zhejiang">Zhejiang</option>
                    </select>


                    <select name="city" id="city" class="custom-select selectwidget form-control" autocomplete="on">
                        <option value="">Change</option>
                    </select>
                </div>


              <div class="input-group receiver-divider">
                  <input type="text" id="receiver_name" name="receiver_name" maxlength="80" class="form-field" required
                    placeholder="{% trans 'Receiver name' %}" value="{{order.full_name | title }}">
                  <input type="text" id="receiver_phone" name="receiver_phone" maxlength="11" class="form-field" required
                    placeholder="{% trans 'Phone number' %}" value="{{order.phone_number}}" >
               </div>

               <textarea name="receiver_address" id="receiver_address" cols="40" rows="2" maxlength="2000"
                    class="form-field" placeholder="{% trans 'Contact us for recipient address' %}"
                    >{{ order.recipient_chinese_address | default_if_none:'' }}</textarea>

                <div id="province_city" class="form-group">
                    <select name="province_region" id="province"
                        class="custom-select selectwidget form-control" autocomplete="on">
                            <option value="">Change</option>
                            <option value="Anhui">Anhui</option>
                            <option value="Beijing">Beijing</option>
                            <option value="Chongqing">Chongqing</option>
                            <option value="Fujian">Fujian</option>
                            <option value="Gansu">Gansu</option>
                            <option value="Guangdong">Guangdong</option>
                            <option value="Guangxi">Guangxi</option>
                            <option value="Guizhou">Guizhou</option>
                            <option value="Hainan">Hainan</option>
                            <option value="Hebei">Hebei</option>
                            <option value="Heilongjiang">Heilongjiang</option>
                            <option value="Henan">Henan</option>
                            <option value="Hubei">Hubei</option>
                            <option value="Hunan">Hunan</option>
                            <option value="Inner Mongolia">Inner Mongolia</option>
                            <option value="Jiangsu">Jiangsu</option>
                            <option value="Jiangxi">Jiangxi</option>
                            <option value="Jilin">Jilin</option>
                            <option value="Liaoning">Liaoning</option>
                            <option value="Ningxia">Ningxia</option>
                            <option value="Qinghai">Qinghai</option>
                            <option value="Shaanxi">Shaanxi</option>
                            <option value="Shandong">Shandong</option>
                            <option value="Shanghai">Shanghai</option>
                            <option value="Shanxi">Shanxi</option>
                            <option value="Sichuan">Sichuan</option>
                            <option value="Tianjin">Tianjin</option>
                            <option value="Tibet">Tibet</option>
                            <option value="Xinjiang">Xinjiang</option>
                            <option value="Yunnan">Yunnan</option>
                            <option value="Zhejiang">Zhejiang</option>
                    </select>


                    <select name="city" id="city" class="custom-select selectwidget form-control" autocomplete="on">
                        <option value="">Change</option>
                    </select>
                </div>

                
                <div class="content">
                      <div class="input-group date" id="datepicker">
                        <input class="form-control" placeholder="MM/DD/YYYY"/>
                        <span class="input-group-append input-group-addon">
                            <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                        </span>
                      </div>

                      <div class="input-group time" id="timepicker">
                        <input class="form-control" placeholder="HH:MM AM/PM"/>
                        <span class="input-group-append input-group-addon">
                            <span class="input-group-text"><i class="fa fa-clock"></i></span>
                        </span>
                      </div>
                </div>


                <a id="submit"
                    class="button is-rounded is-solid accent-button raised is-fullwidth"
                    data-step="step-dot-4">{% trans 'Confirm' %}
                </a>
     </div>

  </form>
  {{ form.media }}

{% endblock content %}

{% block extra_js %}

<link href="{% static 'css/wnoty.css' %}" rel="stylesheet"/>
<script src="{% static 'js/vendor/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
  const phone_no_url = "{% url 'account_login' %}";

  $(".date input").attr("type", "date");
  $(".time input").attr("type", "time");
</script>

<script src="{% static 'js/location.js' %}" type="text/javascript"> </script>
<script defer src="{% static 'js/wnoty.js' %}" type="text/javascript"></script>
{% endblock extra_js %}
