
          <ul class="nav navbar-nav navbar-right">
            {% if not hide_search %}
            <form class="form-inline navbar-left" role="search" action="{% url 'stories:results' %}">
                      <div class="input-group">
                        <input name="query" type="search" id="searchInput" class="form-control" placeholder="{% trans 'Search' %}" aria-label="Search">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                      </div>
                    </form>
            {% endif %}
            