{% load i18n %}
{% load humanize static %}


{% for reply in thread %}

<div class="media is-comment">

  <!-- User image -->
  <div class="media-left">
    <div class="image">
      <a href="/users/{{stories.user}}">
        {% if reply.user.thumbnail %}

        <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{reply.user.thumbnail}}" alt="Picture Profile"
          style="width:30px;height:30px;border-radius: 50%;"
          class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
        {% else %}
        <img src="{% static 'img/user.png' %}" class="pull-left" height="30px" alt="No Profile Picture" />
        {% endif %}
      </a>
    </div>

  </div>
  <!-- Content -->
  <div class="media-content">
    <a href="/users/{{ reply.user.get_profile_name }}">{{ reply.user.get_profile_name|title }}</a>
    <span class="time">{{ reply.timestamp|naturaltime }}</span>
    <p>{{ reply }}</p>
    <!-- Comment actions -->

    {% comment %} <div class="controls">
      <div class="like-count">

        {% if request.user in stories.get_likers %}
        <a href="javascript:void(0);" class="like-button is-active">
          <i class="mdi mdi-heart is-liked bouncy"></i>
          <span class="like-overlay"></span>
        </a>
        {% else %}
        <a href="javascript:void(0);" class="like-button is-active">
          <i class="mdi mdi-heart not-liked bouncy"></i>
          <span class="like-overlay"></span>
        </a>
        {% endif %}
        <span>0</span> {% endcomment %}

      </div>
    </div>
  </div>

  <div class="media-right">
    {% if reply.user == request.user %}
    <a href="{% url 'stories:delete_stories' reply.pk %}">

      <i title="{% trans 'Click to delete this reply' %}"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round" class="feather feather-trash-2">
          <polyline points="3 6 5 6 21 6"></polyline>
          <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
          <line x1="10" y1="11" x2="10" y2="17"></line>
          <line x1="14" y1="11" x2="14" y2="17"></line>
        </svg></i>
    </a>
    {% endif %}
  </div>

</div>
{% endfor %}