{% load i18n %}
{% load humanize static %}
<div class="card is-post is-simple" data-id="{{ stories.uuid_id }}" stories-id="{{ stories.uuid_id }}">
  <!-- Main wrap -->
  <div class="content-wrap">
    <!-- Header -->
    <div class="card-heading">
      <!-- User image -->
      <div class="user-block">
        <div class="image">
          <a href="/users/{{stories.user}}">
            {% if stories.user.thumbnail %}
            <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{stories.user.thumbnail}}" alt="Picture Profile"
              style="width:35px;height:35px;border-radius: 50%;"
              class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
            {% else %}
            <img class="pull-left mr-2" src="{% static 'img/user.png' %}" height="35px" alt="No Profile Picture" />
            {% endif %}
          </a>

        </div>
        <div class="user-info">
          <a href="/users/{{ stories.user.get_profile_name}}">{{ stories.user.get_profile_name|title }}</a>
          <span class="time">{{ stories.timestamp|naturaltime }}</span>
        </div>
      </div>
      <!-- /includes/pages/feed/dropdowns/feed-post-dropdown.html -->
      <!-- <div class="dropdown is-spaced is-right is-neutral dropdown-trigger">
        <div>
          <div class="button">
            <i data-feather="more-vertical"></i>
          </div>
        </div>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content border-0">
            {% if reply.user == request.user %}
            <a href="#" class="dropdown-item">
              <div class="media">
                <i data-feather="trash-2"></i>
                <div class="media-content">
                  <h3>Delete</h3>
                  <small>Delete this story</small>
                </div>
              </div>
            </a>
            {% endif %}
          </div>
        </div>
      </div> -->
    </div>
    <!-- /Header -->


    <!-- Post body -->
    <div class="card-body">
      <!-- Post body text -->
      <div class="post-text">
        <p>{{ stories }}</p>
      </div>



      <!-- Post image  -->

      <div
        class="{% if stories.img4 %}grid-4{% elif stories.img3 %} grid-3 {% elif  stories.img2 %} grid-2{% else  %} grid-1{%endif%}">
        <!-- CSS masonry wrap -->
        {% if stories.img1 %}
        <figure class="img1 image is-square">



          <img src="{{oss}}/{{stories.img1}}" data-demo-src="{{oss}}/{{stories.img1}}" alt="">

        </figure>
        {%endif%}
        {% if stories.img2%}
        <figure class=" img2 image is-square">


          <img src="{{oss}}/{{stories.img2}}" data-demo-src="{{oss}}/{{stories.img2}}" alt="">

        </figure>
        {%endif%}
        {% if stories.img3 %}
        <figure class="img3 image is-square">


          <img src="{{oss}}/{{stories.img3}}" data-demo-src="{{oss}}/{{stories.img3}}" alt="">

        </figure>
        {%endif%}
        {% if stories.img4 %}
        <figure class="img4 image is-square">


          <img src="{{oss}}/{{stories.img4}}" data-demo-src="{{oss}}/{{stories.img4}}" alt="">

        </figure>
        {%endif%}



      </div>

      <!-- /Post image  -->

      <!-- Post actions -->
      <div class="d-flex justify-content-between post-actions">
        <div class="align-items-center d-flex like-wrapper">

          {% if request.user in stories.get_all_likers %}
          <a href="javascript:void(0);" class="like-button is-active">
            <i class="mdi mdi-heart not-liked bouncy"></i>
            <i class="mdi mdi-heart is-liked bouncy"></i>
            <span class="like-overlay"></span>
          </a>
          {% else %}
          <a href="javascript:void(0);" class="like-button">
            <i class="mdi mdi-heart not-liked bouncy"></i>
            <i class="mdi mdi-heart is-liked bouncy"></i>
            <span class="like-overlay"></span>
          </a>
          {% endif %}


          <small class="likes-count ml-2">
            <span class="count">{{ stories.likes_count }}</span> <span class="m-0">Liked</span>
          </small></div>

        <div class="align-items-center d-flex fab-wrapper is-comment">
          <a href="javascript:void(0);" class="small-fab comment-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
              class="feather feather-message-circle">
              <path
                d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z">
              </path>
            </svg>
          </a>
          <small class="comments-count">
            <span class="count ml-2">{{ stories.thread_count }}</span>
            <span class="m-0">Comments</span>
          </small></div>
      </div>

      <!-- /Post actions  -->
    </div>
    <!-- /Post body -->
    <!-- Post footer -->
    <div class="card-footer justify-content-end">
      <!-- Followers -->
      {% if stories.get_likers %}
      <div class="likers-group">
        {% for liker in stories.get_likers %}
        <a href="/users/{{liker}}">
          <img src="{{oss}}/{{liker.thumbnail|default_if_none:'/static/img/user.png' }}" alt="User profile picture">
        </a>
        {% endfor %}
      </div>
      <div class="likers-text">
        {% if stories.likes_count > 3%}
        <p><a href="javascript:void(0);" class="view-all-likers" data-toggle="modal"
            data-target=".{{ stories.uuid_id }}"> {{ stories.likes_count|add:"-3" }} More </a></p>
        <!-- popup box modal starts here -->
        <div class="modal fade demo-popup {{ stories.uuid_id }}" tabindex="-1" role="dialog"
          aria-labelledby="myLargeModalLabel-1" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="ml-2 modal-title"> ALL LIKES </h3>
              </div>
              <div class="modal-body likers-group">
                <P> {% for liker in stories.get_all_likers %}
                  <a href="/users/{{liker}}">
                    <img src="{{oss}}/{{liker.thumbnail|default_if_none:'/static/img/user.png' }}"
                      alt="User profile picture">
                  </a>
                  {% endfor %} </P>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal-->
        <!-- popup box modal ends -->
        {% endif%}
      </div>
      {% else %}
      <div class="likers-text">
        <p>Be the first to like</p>
      </div>
      {% endif %}
    </div>
    <!-- /Post footer -->
  </div>

  <!-- /Main wrap -->

  <!-- Post #6 comments -->
  <div class="comments-wrap is-hidden">
    <!-- Header -->
    <div class="comments-heading">
      <h4>
        Comments
        (<small>{{ stories.thread_count }}</small>)
      </h4>
      <div class="close-comments">
        <i data-feather="x"></i>
      </div>
    </div>
    <!-- /Header -->

    <!-- Comments body -->
    <div class="comments-body has-slimscroll">
      <div class="comments-placeholder">
        <img src="{% static 'frontend/assets/images/icons/feed/bubble.svg' %}" alt="">
        <h3>Nothing in here yet</h3>
        <p>Be the first to post a comment.</p>
      </div>
    </div>
    <!-- /Comments body -->

    <!-- Comments footer -->
    <div class="card-footer">
      <div class="media post-comment">
        <!-- Textarea -->
        <div class="media-content">
          <div class="field textarea-parent">
            <p class="counter" style="font-size: .8rem;color: #999;float: right;">Remaining: <span class="count">400
              </span>Character
            </p>
            <p class="control">
              <form role="form" method="post" action="#" onsubmit="return false" class="replyStoriesForm">
                {% csrf_token %}
                <input type="hidden" name="parent" value="">
                <textarea class="textarea" name="reply" rows="2" class="textarea comment-textarea"
                  placeholder="Write a comment...">
                  </textarea>

              </form>
            </p>
          </div>
          <!-- Additional actions -->
          <div class="actions">
            <a id="post-comment-button" class="button primary-button is-solid raised">Post Comment</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /Comments footer -->
  </div>
  <!-- /Post #6 comments -->
</div>

<!-- Todo: Create json ld for stories -->