{% load i18n static %}
{% load thumbnail %}

<div class="modal fade" id="storiesThreadModal" tabindex="-1" role="dialog" aria-labelledby="storiesThreadModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Body -->
      <div class="modal-body">
        <ul class="stream" id="storiesContent"></ul>
        <ul class="stream">
          <li class="card">
            <div class="card-body">
              <div class="profile-picture">
                {% thumbnail request.user.picture "30x30" crop="center" upscale="true"  as im %}
                <img src="{{ im.url }}" class="pull-left" height="35px" style="border-radius: 50%;"
                  alt="{% trans 'User Image' %}" class="user-image">
                {% empty %}
                <img src="{% static 'img/user.png' %}" class="pull-left" height="35px"
                  alt="{% trans 'No Profile Picture' %}" />
                {% endthumbnail %}
              </div>
              <div class="post">
                <form id="replyStoriesForm" role="form" method="post" action="#" onsubmit="return false">
                  {% csrf_token %}
                  <input type="hidden" name="parent" value="">
                  <div class="form-group">
                    <textarea id="replyInput" name="reply" rows="2" class="form-control" maxlength="280"
                      required></textarea>
                    <span id="replyCounter" class="pull-right">280</span>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" id="replyStories" class="btn btn-dark pull-right">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> {% trans 'Reply' %}
              </button>
            </div>
          </li>
        </ul>
        <ul class="stream" id="threadContent"></ul>
      </div>
    </div>
  </div>
</div>

{% block extra_js %}
<script>
  $(document).ready(function () {
    $('#replyStories').prop('disabled', true);
    $('#replyInput').keyup(function () {
      $('#replyStories').prop('disabled', this.value == "" ? true : false);
    })
  });
</script>
{% endblock extra_js %}