{% load i18n static %}

<div class="modal fade" id="storiesThreadModal" tabindex="-1" role="dialog" aria-labelledby="storiesThreadModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header story-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Body -->
      <div class="modal-body">
        <ul class="stream" id="storiesContent"></ul>
        <ul class="stream">
          <li class="card">
            <div class="card-body">
              <div class="profile-picture">
                {% if request.user.picture %}
                <img src="{{ oss }}/{{request.user.picture}}" alt="Picture Profile"
                  style="width:30px;height:30px;border-radius: 50%;"
                  class="rounded-circle  mb-3 mb-md-0 mr-md-3 profile-header-avatar img-fluid" id="pic">
                {% else %}
                <img src="{% static 'img/user.png' %}" class="pull-left" height="30px" width="30px"
                  alt="No Profile Picture" />
                {% endif %}

              </div>
              <div class="post">
                <form id="replyStoriesForm" role="form" method="post" action="#" onsubmit="return false">
                  {% csrf_token %}
                  <input type="hidden" name="parent" value="">
                  <div class="form-group">
                    <textarea id="replyInput" name="reply" rows="2" class="form-control" maxlength="280"
                      required></textarea>
                    <span id="replyCounter" class="pull-right">280</span>
                  </div>
                </form>
              </div>
            </div>
            <div class="card-footer">
              <button type="button" id="replyStories" class="btn btn-dark pull-right">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> {% trans 'Reply' %}
              </button>
            </div>
          </li>
        </ul>
        <ul class="stream" id="threadContent"></ul>
      </div>
    </div>
  </div>
</div>
