{% extends 'base.html' %}
{% load static i18n humanize %}


{% block head %}
<link href="{% static 'css/stories.css' %}?v=1" rel="stylesheet">
{% endblock head %}


{% block content %}
<!-- Container -->
<div class="container mt-4">
  <div class="col-md-8 m-auto d-flex align-items-center flex-column flex-md-row justify-content-around">
    <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#storiesFormModal">
      📝 {% trans 'Share something' %}
    </button>

  </div>

  <div class="row mt-4">
    
    <div class="col-md-6 m-auto mt-0">
    <h3 >{% trans 'Recent stories' %}</h3>
      <!-- Modals -->
      {% include 'stories/stories_form_modal.html' %}
      {% include 'stories/stories_thread_modal.html' %}
      <!-- End Modals -->

      <!-- Stories List -->
      <div class="stream-update">
        <a href="{% url 'stories:list' %}"><span class="new-posts"></span> {% trans 'There are new stories' %}</a>
      </div>
      <div class="infinite-container">
        <ul class="stream">
          {% for stories in stories_list %}
          {% include 'stories/stories_single.html' with stories=stories %}
          {% endfor %}
        </ul>
      </div>
      <div class="load">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"><img
            src="{% static 'img/loading.gif' %}"></a>
        {% endif %}
      </div>
      <!-- End Stories List -->
    </div>
  </div>
</div>
<!-- End container -->

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/infinite.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/stories.js' %}" type="text/javascript"></script>
    <script>
      var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        onBeforePageLoad: function () {
          $('.load').show();
        },
        onAfterPageLoad: function ($items) {
          $('.load').hide();
        }
      });
    </script>
{% endblock extra_js %}