{% extends 'base.html' %}
{% load static i18n humanize %}


{% block head %}
<link href="{% static 'css/stories.css' %}" rel="stylesheet">
<link rel="stylesheet" href="/static/css/uploader.css" />
<link rel="stylesheet" href="/static/css/plyr.min.css" />

<title>Obrisk Stories</title>
{% endblock head %}


{% block content %}
<div class="app-overlay"></div>

<!-- Container -->
{% comment %}
<div>
  <ul class="nav navbar-nav navbar-right">
    {% if not hide_search %}
    <form class="form-inline navbar-left" role="search" action="{% url 'stories:results' %}">
      <div class="input-group">
        <input name="query" type="search" id="searchInput" class="form-control" placeholder="{% trans 'Search' %}"
          aria-label="Search">
        <div class="input-group-append">
          <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
        </div>
      </div>
    </form>
    {% endif %}
  </ul>
</div>

{% endcomment %}


<div class="container mt-5">
  <div class="row mt-4">

    <div class="col-md-6 m-auto mt-0 p-sm-0">
      <!-- Stories List -->
      <div class="stream-update">
        <a href="{% url 'stories:list' %}"><span class="new-posts"></span> {% trans 'There are new stories' %}</a>
      </div>
      <div class="infinite-container">
        <ul class="stream">
          {% include "stories/stories_single.html" with stories=story%}
        </ul>
      </div>
      <div class="load">
        {% if page_obj.has_next %}
        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"><img
            src="{% static 'img/loading.gif' %}"></a>
        {% endif %}
      </div>
      <!-- End Stories List -->
    </div>
  </div>
</div>
<!-- End container -->

{% endblock content %}

{% block extra_js %}
<link rel="stylesheet" href="{% static 'css/share.css' %}">
<script src="{% static 'js/share.js' %}" type="text/javascript"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/infinite.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/aliyun-oss.min.js' %}" type="text/javascript"></script>
<link rel="stylesheet" href="https://obrisk.oss-cn-hangzhou.aliyuncs.com/static/css/fancybox.min.css">
<script src="{% static 'js/multipleUploader.js' %}" type="text/javascript"></script>
<script src="{% static 'js/stories.js' %}" type="text/javascript"></script>
<script src="{% static 'js/plyr.min.js' %}" type="text/javascript"></script>
        
<script>

  var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
  const oss_url = "{% url 'get_oss_auth' %}"; //classifieds/get_oss_auth/
  const app = "stories";
  const user = "{{ request.user.username }}";
  var infinite = new Waypoint.Infinite({
    element: $('.infinite-container')[0],
    onBeforePageLoad: function () {
      $('.load').show();
    },
    onAfterPageLoad: function ($items) {
      $('.load').hide();
    }
  });
  //Load videos
  var loadvideo = function () {
    Array.from(document.querySelectorAll('.js-player')).map(p => new Plyr(p, {
      ratio: '16:9',
      controls: ['play-large', 'progress', 'mute', 'volume', 'fullscreen']
    }));
  }
  loadvideo();
</script>
{% endblock extra_js %}
