body {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

.ribbon {
  font-size: 14px !important;
  /* This ribbon is based on a 16px font side and a 24px vertical rhythm. 
    If you want to use a different font size you may have to play with the position of the ribbon elements */
  width: 50%;
  position: relative;
  background: #c03004;
  color: #fff;
  text-align: center;
  padding: 1em 2em;
  /* Adjust to suit */
  margin: 2em auto 3em;
  /* Based on 24px vertical rhythm. 48px bottom margin -
    normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -1em;
  border: 1.5em solid #491104;
  z-index: -1;
}

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
}

.ribbon:after {
  right: -2em;
  border-left-width: 1.5em;
  border-right-color: transparent;
}

.ribbon .ribbon-content:before,
.ribbon .ribbon-content:after {
  content: "";
  position: absolute;
  display: block;
  border-style: solid;
  border-color: #c03004 transparent transparent transparent;
  bottom: -1em;
}

.ribbon .ribbon-content:before {
  left: 0;
  border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
  right: 0;
  border-width: 1em 1em 0 0;
}

.btn-red {
  color: #fff;
  background: linear-gradient(45deg, #491104, #c03004);
}

.btn-red:hover {
  color: #0aeee3;
}

.classified-card {
  width: 156px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-img {
  width: 100%;
  /* or any custom size */
  height: 100%;
  object-fit: contain;
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media (max-width: 330px) {
  .classified-card {
    /*140*/
    width: 137px;
  }
}

/* Classified details swap thumbnails */
@media (max-width: 600px) {
  .thumbs > img {
    width: 60px;
    height: 60px;
  }
}

.toggle-off.btn {
  padding-right: 0 !important;
}

.toggle-on.btn {
  padding-left: 0 !important;
}

.price-label {
  background-color: gray;
  padding: 4px;
}

.numberinput {
  width: 70%;
}

@media (min-width: 1200px) {
  .is-9-fullhd {
    margin-left: 7%;
  }
}
.sp-selected-button {
  background-color: #0aacec !important;
}
.sp-button {
  border: 2px solid #0aacec !important;
}
.sp-arrow::before,
.sp-arrow::after {
  background-color: #0aacec !important;
}

.fa-weixin {
  color: #25bb5f;
}