.similar-ads {
    background:  rgb(224, 223, 223);
}

.swiper-container {
    width: 100%;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .gallery-top {
    height: 400px;
    width: 100%;
  }

  .gallery-thumbs {
    height: 140px;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .gallery-thumbs .swiper-slide {
    height: 100%;
    opacity: 0.4;
  }

  .gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
  }

#classified-user {
  color: black;
}

.btn-action {
    background:linear-gradient(45deg, #491104, #c03004)
} 
