.right-sidebar {
    float: right;
    width: 156px;
    margin: auto;
    text-align: left;
    line-height: 1.35em;
    position: sticky;
    top: 180px;
    z-index: 5;
}

.w-95 {
    width: 95%;
}


.toggle-tags {
    line-height: 0;
}

.categories {
    font-size:14px !important;
}

.sidebarBtnOpen {
    display: flex;
    align-content: center;
}

.fa-times {
    font-size: 1.3rem;
    color: #0ae6ee;
}

