.right-sidebar {
    float: right;
    width: 156px;
    margin: auto;
    text-align: left;
    line-height: 1.35em;
    position: sticky;
    top: 180px;
    z-index: 5;
}

.w-95 {
    width: 95%;
}


.toggle-tags {
    line-height: 0;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    padding: 8px;
}

.categories {
    font-size: 14px !important;
}

.sidebarBtnOpen {
    display: flex;
    align-content: center;
}

.fa-times {
    font-size: 1.3rem;
    color: #0ae6ee;
}

.priority {
    background: #3ec4e2;
    color: #fff;
    font-size: 9px;
    font-weight: 700;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border-radius: 0px 0px 0.3em 0.3em;
    height: 12px;
}