.messages-container {
  height: 300px;
  /* border: 1px solid #DDD; */
  position: relative;
}

.messages {
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
  position: relative;
  height: 300px;
}

.user-list {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 498px;
  overflow: auto;
  background: #EFEFEF;
  margin: 0;
  padding: 20px;
  border-left: 1px solid #DDD;
}

.user-list li {
  display: block;
  color: orange;
  font-weight: bold;
}

.username {
  font-weight: bold;
}

.stamp {
  font-size: 12px;
  color: #1b191fc2;
}

.away span {
  color: #666;
  font-style: italic;
  font-weight: normal;
}

.msg-read {
  background-color: lightgray;
}

.msg-unread {
  background-color: #d6b9b9e8;
}


.messages .right-picture {
  border-radius: 5px;
  float: right;
}

.chat-box {
  position: fixed;
  bottom: 0;
  background-color: white;
}

.row {
  position: relative;
} 

.pull-right{
  position: absolute;
  right: 0;
}

.right-brk {
  right: 0;
  bottom: 0;
  height: 80px;
}

.left-msg {
  position: absolute; 
  left: 40px;
  border-top: 2px;
}

