body {
    background: rgb(224, 223, 223);
}

.pagination {
    align-content: center;
}

.card-subtitle {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.card-body small,
.small {
    font-size: 70%;
}

.divider {
    width: 100%;
    height: 5px;
    background: linear-gradient(267.54deg, #3EC4E2 0%, #A1DBD2 101.73%);
}


.toggle-tags {
    font-size: 30px;
    color: #01BAEF;

}

.card-title {
    height: 40px;
    width: auto;
    overflow: hidden;
}


.sidebar-overlay {
    background: rgba(54, 25, 25, 0.5);
    height: 100%;
    left: -100%;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.sidebar {
    float: left;
    width: 280px;
    margin: auto;
    text-align: left;
    line-height: 1.35em;
    position: sticky;
    top: 180px;
    z-index: 5;
}

.sidebar .card-header {
    background-color: #01baef;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240 82'%3E%3Cpolygon fill='%23f0fdff' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23139daa' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e0eced' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%2333999f' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d0dbdc' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23459595' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c0cacb' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%2352918d' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b0b9ba' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%235d8c86' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a1a9aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23658880' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background: linear-gradient(72.29deg, #01BAEF -0.13%, rgba(1, 186, 239, 0) 118.48%);
    height: 120px
}

/* sidebar to handle tags */
@media (max-width: 992px) {
    .sidebar {
        position: absolute;
        display: none;
        width: 80%;
        top: 80px;
        z-index: 2;
        z-index: 2;
        -webkit-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        -moz-transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
        transition: all 0.2s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    }

    .sidebar .card-body {
        min-height: 480px;
    }

    .mw-100 {
        width: 100% !important;
    }
}

.open-sidebar {
    overflow: hidden;
    overflow-y: hidden;
    height: 70vh;
}

/*
loading animation from:
https: //nzbin.github.io/three-dots
*/
.snippet {
    position: relative;
    background: #fff;
    padding: 2rem 5%;
    margin: 1.5rem 0;
    box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px #f0f2f7;
    border-radius: .25rem;
}

.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin: 0 -5%;
    overflow: hidden;
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3ec4e2;
    color: #3ec4e2;
    box-shadow: 9999px 0 0 -5px #3ec4e2;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #3ec4e2;
    color: #3ec4e2;
}

.dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #3ec4e2;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
}

.dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #3ec4e2;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
}

@keyframes dotPulseBefore {
    0% {
        box-shadow: 9984px 0 0 -5px #3ec4e2;
    }

    30% {
        box-shadow: 9984px 0 0 2px #3ec4e2;
    }

    60%,
    100% {
        box-shadow: 9984px 0 0 -5px #3ec4e2;
    }
}

@keyframes dotPulse {
    0% {
        box-shadow: 9999px 0 0 -5px #3ec4e2;
    }

    30% {
        box-shadow: 9999px 0 0 2px #3ec4e2;
    }

    60%,
    100% {
        box-shadow: 9999px 0 0 -5px #3ec4e2;
    }
}

@keyframes dotPulseAfter {
    0% {
        box-shadow: 10014px 0 0 -5px #3ec4e2;
    }

    30% {
        box-shadow: 10014px 0 0 2px #3ec4e2;
    }

    60%,
    100% {
        box-shadow: 10014px 0 0 -5px #3ec4e2;
    }
}