.custom-select {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  font-family: inherit;
  padding-left: 0px;
  padding-right: 26px;
  padding-bottom: 8px;
  background-color: transparent;
  font-size: 25px;
  line-height: 28px;
  box-shadow: rgba(172, 181, 191, 0.3) 0px 1px;
  border-radius: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: all 0.2s ease 0s;
  outline: none;
  height: auto;
}

input {
  line-height: 28px;
  display: block;
  width: 100%;
  font-family: inherit;
  -webkit-appearance: none;
  box-shadow: none;
  transform: translateZ(0px);
  -webkit-font-smoothing: antialiased;
  line-height: unset;
  padding: 0px 0px 8px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  outline: none;
  border-radius: 0px;
  transition: box-shadow 0.2s ease 0s;
  box-shadow: rgba(172, 181, 191, 0.3) 0px 1px;
  background: none;
  padding: 0.375rem 0.75rem;
}

label {
  font-weight: 600;
}

.hero-body {
  background: #fff;
}

.signup-wrapper .process-panel-wrap .form-panel {
  border: none;
}

.loading {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;

  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }

  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }

  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login-wrapper .hero.is-login .left-caption h2 {
  color: #393a4f;
  text-shadow: 4px 4px #3ec4e2, 8px 8px #20b6d7;
}

.login100-form-title {
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  width: 100%;
}

.pass-graybar {
  height: 3px;
  background-color: #ccc;
  width: 100%;
  position: relative;
}
.pass-colorbar {
  height: 3px;
  background-image: url(/static/img/passwordstrength.jpg);
  position: absolute;
  top: 0;
  left: 0;
}
.pass-percent,
.pass-text {
  font-size: 12px;
}
.pass-percent {
  margin-right: 5px;
}
.red {
  color: #ff5f59;
}
