@charset "UTF-8";
/*! _colors.scss | Obrisk-team */
/* ==========================================================================
1. Main colors
========================================================================== */
/* Obrisk's azure blue */
/* ==========================================================================
4. Box shadows
========================================================================== */
/* ==========================================================================
1. State colors
========================================================================== */
/* ==========================================================================
2. Social colors
========================================================================== */
/*! _buttons.scss | Friendkit | © Css Ninja. 2018-2019 */
/* ==========================================================================
Friendkit button styles
========================================================================== */
/*
    1. Main Class
    2. Like button
    3. Circle button
    4. Load more button
*/
/* ==========================================================================
1. Main Class
========================================================================== */
button.button {
  line-height: 0;
}

.button {
  font-size: .8rem;
  font-weight: 500;
  padding: 18px 22px;
  transition: all .3s;
}

.button.is-rounded {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.button.icon-button {
  width: 32px;
  height: 32px;
  padding: 0;
}

.button.icon-button svg {
  height: 16px !important;
  width: 16px !important;
  stroke: #344258;
}

.button.icon-button.is-solid svg {
  stroke: #fff !important;
}

.button.has-icon svg {
  height: 16px;
  width: 16px;
  min-height: 16px;
  min-width: 16px;
  margin-right: 4px;
}

.button.default-raised:hover {
  box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  opacity: 0.8;
}

.button.is-phantom {
  background: transparent;
  border: 2px solid transparent;
}

.button.is-phantom.primary-button {
  color: #ff5f59;
}

.button.is-phantom.primary-button:hover {
  border-color: #ff5f59;
}

.button.is-phantom.accent-button {
  color: #3EC4E2;
}

.button.is-phantom.accent-button:hover {
  border-color: #3EC4E2;
}

.button.is-reversed-phantom {
  background: transparent;
  border: 1px solid transparent;
}

.button.is-reversed-phantom.primary-button {
  color: #ff5f59;
}

.button.is-reversed-phantom.primary-button:hover {
  border-color: transparent !important;
  background: #ff5f59;
  color: #fafafa;
}

.button.is-reversed-phantom.accent-button {
  color: #3EC4E2;
}

.button.is-reversed-phantom.accent-button:hover {
  border-color: transparent !important;
  background: #3EC4E2;
  color: #fafafa;
}

.button.is-solid.primary-button {
  background: #ff5f59;
  border-color: #ff5f59;
}

.button.is-solid.primary-button.raised:hover {
  box-shadow: 0 14px 26px -12px rgba(255, 95, 89, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 95, 89, 0.2) !important;
  opacity: 0.8;
}

.button.is-solid.secondary-button {
  background: #757a91;
  border-color: #757a91;
}

.button.is-solid.secondary-button.raised:hover {
  box-shadow: 0 14px 26px -12px rgba(117, 122, 145, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(117, 122, 145, 0.2) !important;
  opacity: 0.8;
}

.button.is-solid.accent-button {
  background: #3EC4E2;
  border-color: #3EC4E2;
}

.button.is-solid.accent-button.raised:hover {
  box-shadow: 0 14px 26px -12px rgba(62, 196, 226, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(62, 196, 226, 0.2) !important;
  opacity: 0.8;
}

.button.is-solid.red-button {
  background: #FF7273;
  border-color: #FF7273;
  color: #fff;
}

.button.is-solid.red-button.raised:hover {
  box-shadow: 0 14px 26px -12px rgba(255, 114, 115, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(255, 114, 115, 0.2) !important;
  opacity: 0.8;
}

.button.is-solid.blue-button {
  background: #039BE5;
  border-color: #039BE5;
  color: #fff;
}

.button.is-solid.blue-button.raised:hover {
  box-shadow: 0 14px 26px -12px rgba(3, 155, 229, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(3, 155, 229, 0.2) !important;
  opacity: 0.8;
}

.button.is-solid.grey-button {
  background: #f7f7f7;
  border-color: #f7f7f7;
}

.button.is-solid.grey-button svg {
  stroke: #344258 !important;
}

.button.is-solid.dark-grey-button {
  background: #ededed;
  border-color: #ededed;
}

.button.is-solid.dark-grey-button svg {
  stroke: #344258 !important;
}

.button.light-button {
  background: transparent;
  border-color: #fff;
  color: #fff;
  font-weight: 500;
}

/* ==========================================================================
4. Load more button
========================================================================== */
.load-more-wrap {
  padding: 40px 0;
}

.load-more-wrap.narrow-top {
  padding-top: 20px 0;
}

.load-more-button {
  box-sizing: border-box;
  display: inline-block;
  width: 8em;
  height: 2.25em;
  padding: 0.5em 1em;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  color: #757a91 !important;
  white-space: nowrap;
  line-height: 1;
  font-size: 1em;
  text-decoration: none;
  transition: width 0.1s ease, height 0.4s ease, border-width 0.4s ease, border-radius 0.4s ease, border-color 0.4s ease, padding 0.4s ease;
}

.load-more-button:focus {
  outline: none;
  border-color: #ddd;
}

.load-more-button:hover {
  background: #fafafa;
}

.load-more-button.loading {
  height: 24px;
  width: 24px;
  padding: 0;
  border-width: 2px;
  border-radius: 17px;
  border-color: #eee #eee #eee #999;
  background: #fff;
  font-size: 0;
  color: transparent;
  pointer-events: none;
  animation: spin 1.2s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*! _forms.scss | Friendkit | © Css Ninja. 2018-2019 */
/* ==========================================================================
Form controls styles
========================================================================== */
/*
    0. Input and textarea shared styles
    1. Input styles
    2. Textarea styles
    3. Control wrappers
    4. Combo Box
    5. Custom select
*/
/* ==========================================================================
1. Input and textarea shared styles
========================================================================== */
.input, .textarea {
  box-shadow: none !important;
}

.input.is-light::-webkit-input-placeholder, .textarea.is-light::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cecece;
}

.input.is-light::-moz-placeholder, .textarea.is-light::-moz-placeholder {
  /* Firefox 19+ */
  color: #cecece;
}

.input.is-light:-ms-input-placeholder, .textarea.is-light:-ms-input-placeholder {
  /* IE 10+ */
  color: #cecece;
}

.input.is-light:-moz-placeholder, .textarea.is-light:-moz-placeholder {
  /* Firefox 18- */
  color: #cecece;
}

.input.is-dark, .textarea.is-dark {
  color: #97a7c1 !important;
}

.input.is-dark::-webkit-input-placeholder, .textarea.is-dark::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #677fa5 !important;
}

.input.is-dark::-moz-placeholder, .textarea.is-dark::-moz-placeholder {
  /* Firefox 19+ */
  color: #677fa5 !important;
}

.input.is-dark:-ms-input-placeholder, .textarea.is-dark:-ms-input-placeholder {
  /* IE 10+ */
  color: #677fa5 !important;
}

.input.is-dark:-moz-placeholder, .textarea.is-dark:-moz-placeholder {
  /* Firefox 18- */
  color: #677fa5 !important;
}

/* ==========================================================================
1. Input styles
========================================================================== */
.input {
  transition: all .3s;
}

.input:focus {
  border-color: #3EC4E2;
}

.input.is-sm {
  height: 32px;
  font-size: .9rem;
}

.input.no-radius {
  border-radius: 1px;
}

.input.is-fade:focus {
  border: 1px solid #ededed;
}

.input.is-bordered:focus {
  border-color: #757a91;
}

/* ==========================================================================
2. Textarea styles
========================================================================== */
.textarea.is-sm {
  font-size: .9rem;
  resize: none;
}

.textarea.no-radius {
  border-radius: 1px;
}

.textarea.is-fade:focus {
  border: 1px solid #ededed;
}

/* ==========================================================================
3. Control wrappers
========================================================================== */
.field label {
  font-size: .9rem;
  font-weight: 500;
  color: #393a4f;
}

.control.has-icon {
  position: relative;
}

.control.has-icon .form-icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.control.has-icon .form-icon svg {
  height: 20px;
  width: 20px;
  stroke: #cecece;
  transition: all .3s;
}

.control.has-icon .input {
  padding-left: 40px;
}

.control.has-icon .input:focus + .form-icon svg {
  stroke: #3EC4E2;
}

.control.has-validation {
  position: relative;
}

.control.has-validation .error-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}

.control.has-validation .error-icon svg {
  height: 16px;
  width: 16px;
  stroke: #FF7273;
}

.control.has-validation .success-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s;
}

.control.has-validation .success-icon svg {
  height: 16px;
  width: 16px;
  stroke: #1CE589;
}

.control.has-validation.has-error input {
  border-color: #FF7273;
}

.control.has-validation.has-error input + label {
  font-size: .75rem;
  color: #FF7273;
}

.control.has-validation.has-error .error-icon {
  opacity: 1;
}

.control.has-validation.has-error .success-icon {
  opacity: 0;
}

.control.has-validation.has-success input {
  border-color: #1CE589;
}

.control.has-validation.has-success .error-icon {
  opacity: 0;
}

.control.has-validation.has-success .success-icon {
  opacity: 1;
}

/* ==========================================================================
4. Combo Box
========================================================================== */
.is-combo .combo-label {
  font-weight: 500;
  font-size: .9rem;
  color: #999;
}

.is-combo .combo-box, .is-combo .image-combo-box, .is-combo .stacked-combo-box, .is-combo .user-combo-box {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 40px;
  margin-top: 4px;
  cursor: pointer;
  transition: all .3s;
}

.is-combo .combo-box.has-rounded-images .combo-item img, .is-combo .combo-box.has-rounded-images .item-icon img, .is-combo .image-combo-box.has-rounded-images .combo-item img, .is-combo .image-combo-box.has-rounded-images .item-icon img, .is-combo .stacked-combo-box.has-rounded-images .combo-item img, .is-combo .stacked-combo-box.has-rounded-images .item-icon img, .is-combo .user-combo-box.has-rounded-images .combo-item img, .is-combo .user-combo-box.has-rounded-images .item-icon img {
  border-radius: 50%;
}

.is-combo .combo-box.is-scrollable .box-dropdown .dropdown-inner, .is-combo .image-combo-box.is-scrollable .box-dropdown .dropdown-inner, .is-combo .stacked-combo-box.is-scrollable .box-dropdown .dropdown-inner, .is-combo .user-combo-box.is-scrollable .box-dropdown .dropdown-inner {
  max-height: 190px;
  overflow-y: auto;
}

.is-combo .combo-box .box-inner, .is-combo .image-combo-box .box-inner, .is-combo .stacked-combo-box .box-inner, .is-combo .user-combo-box .box-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.is-combo .combo-box .box-inner .combo-item, .is-combo .image-combo-box .box-inner .combo-item, .is-combo .stacked-combo-box .box-inner .combo-item, .is-combo .user-combo-box .box-inner .combo-item {
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 8px;
}

.is-combo .combo-box .box-inner .combo-item i, .is-combo .image-combo-box .box-inner .combo-item i, .is-combo .stacked-combo-box .box-inner .combo-item i, .is-combo .user-combo-box .box-inner .combo-item i {
  color: #999;
  font-size: 20px;
  margin-right: 8px;
}

.is-combo .combo-box .box-inner .combo-item .fa, .is-combo .image-combo-box .box-inner .combo-item .fa, .is-combo .stacked-combo-box .box-inner .combo-item .fa, .is-combo .user-combo-box .box-inner .combo-item .fa {
  font-size: 14px;
}

.is-combo .combo-box .box-inner .combo-item .fa.is-green, .is-combo .image-combo-box .box-inner .combo-item .fa.is-green, .is-combo .stacked-combo-box .box-inner .combo-item .fa.is-green, .is-combo .user-combo-box .box-inner .combo-item .fa.is-green {
  color: #1CE589;
}

.is-combo .combo-box .box-inner .combo-item .fa.is-blue, .is-combo .image-combo-box .box-inner .combo-item .fa.is-blue, .is-combo .stacked-combo-box .box-inner .combo-item .fa.is-blue, .is-combo .user-combo-box .box-inner .combo-item .fa.is-blue {
  color: #039BE5;
}

.is-combo .combo-box .box-inner .combo-item .fa.is-orange, .is-combo .image-combo-box .box-inner .combo-item .fa.is-orange, .is-combo .stacked-combo-box .box-inner .combo-item .fa.is-orange, .is-combo .user-combo-box .box-inner .combo-item .fa.is-orange {
  color: #ff9700;
}

.is-combo .combo-box .box-inner .combo-item .fa.is-red, .is-combo .image-combo-box .box-inner .combo-item .fa.is-red, .is-combo .stacked-combo-box .box-inner .combo-item .fa.is-red, .is-combo .user-combo-box .box-inner .combo-item .fa.is-red {
  color: #FF7273;
}

.is-combo .combo-box .box-inner .combo-item img, .is-combo .image-combo-box .box-inner .combo-item img, .is-combo .stacked-combo-box .box-inner .combo-item img, .is-combo .user-combo-box .box-inner .combo-item img {
  display: block;
  height: 22px;
  width: 22px;
  object-fit: contain;
  margin-right: 8px;
}

.is-combo .combo-box .box-inner .combo-item img.is-stacked, .is-combo .image-combo-box .box-inner .combo-item img.is-stacked, .is-combo .stacked-combo-box .box-inner .combo-item img.is-stacked, .is-combo .user-combo-box .box-inner .combo-item img.is-stacked {
  height: 26px;
  width: 26px;
  border: 2px solid #fff;
  margin-right: 0 !important;
}

.is-combo .combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(1), .is-combo .image-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(1), .is-combo .stacked-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(1), .is-combo .user-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(1) {
  margin-left: -9px;
}

.is-combo .combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(2), .is-combo .image-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(2), .is-combo .stacked-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(2), .is-combo .user-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(2) {
  margin-left: -9px;
}

.is-combo .combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(3), .is-combo .image-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(3), .is-combo .stacked-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(3), .is-combo .user-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(3) {
  margin-left: -9px;
}

.is-combo .combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(4), .is-combo .image-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(4), .is-combo .stacked-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(4), .is-combo .user-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(4) {
  margin-left: -9px;
}

.is-combo .combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(5), .is-combo .image-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(5), .is-combo .stacked-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(5), .is-combo .user-combo-box .box-inner .combo-item img.is-stacked:not(:first-child):nth-child(5) {
  margin-left: -9px;
}

.is-combo .combo-box .box-inner .combo-item .avatar-container, .is-combo .image-combo-box .box-inner .combo-item .avatar-container, .is-combo .stacked-combo-box .box-inner .combo-item .avatar-container, .is-combo .user-combo-box .box-inner .combo-item .avatar-container {
  position: relative;
  display: block;
  height: 26px;
  width: 26px;
}

.is-combo .combo-box .box-inner .combo-item .avatar-container .avatar, .is-combo .image-combo-box .box-inner .combo-item .avatar-container .avatar, .is-combo .stacked-combo-box .box-inner .combo-item .avatar-container .avatar, .is-combo .user-combo-box .box-inner .combo-item .avatar-container .avatar {
  display: block;
  height: 26px;
  width: 26px;
  border-radius: 50%;
}

.is-combo .combo-box .box-inner .combo-item .avatar-container .badge, .is-combo .image-combo-box .box-inner .combo-item .avatar-container .badge, .is-combo .stacked-combo-box .box-inner .combo-item .avatar-container .badge, .is-combo .user-combo-box .box-inner .combo-item .avatar-container .badge {
  position: absolute;
  bottom: 0;
  right: -6px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0;
}

.is-combo .combo-box .box-inner .combo-item span, .is-combo .image-combo-box .box-inner .combo-item span, .is-combo .stacked-combo-box .box-inner .combo-item span, .is-combo .user-combo-box .box-inner .combo-item span {
  display: block;
  color: #393a4f;
  font-size: .9rem;
  font-weight: 500;
  margin-left: 8px;
}

.is-combo .combo-box .box-inner .combo-item span.is-pushed, .is-combo .image-combo-box .box-inner .combo-item span.is-pushed, .is-combo .stacked-combo-box .box-inner .combo-item span.is-pushed, .is-combo .user-combo-box .box-inner .combo-item span.is-pushed {
  margin-left: 18px;
}

.is-combo .combo-box .box-chevron, .is-combo .image-combo-box .box-chevron, .is-combo .stacked-combo-box .box-chevron, .is-combo .user-combo-box .box-chevron {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
}

.is-combo .combo-box .box-chevron svg, .is-combo .image-combo-box .box-chevron svg, .is-combo .stacked-combo-box .box-chevron svg, .is-combo .user-combo-box .box-chevron svg {
  height: 18px;
  width: 18px;
  stroke: #393a4f;
  transform: rotate(0);
  transition: all .3s;
}

.is-combo .combo-box .box-dropdown, .is-combo .image-combo-box .box-dropdown, .is-combo .stacked-combo-box .box-dropdown, .is-combo .user-combo-box .box-dropdown {
  position: absolute;
  top: 32px;
  left: 0;
  width: 100%;
  z-index: 50;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: all .3s;
}

.is-combo .combo-box .box-dropdown.is-dropup, .is-combo .image-combo-box .box-dropdown.is-dropup, .is-combo .stacked-combo-box .box-dropdown.is-dropup, .is-combo .user-combo-box .box-dropdown.is-dropup {
  top: -165px;
  height: 148px;
}

.is-combo .combo-box .box-dropdown.is-dropup .dropdown-inner, .is-combo .image-combo-box .box-dropdown.is-dropup .dropdown-inner, .is-combo .stacked-combo-box .box-dropdown.is-dropup .dropdown-inner, .is-combo .user-combo-box .box-dropdown.is-dropup .dropdown-inner {
  overflow-y: auto;
}

.is-combo .combo-box .box-dropdown .dropdown-inner, .is-combo .image-combo-box .box-dropdown .dropdown-inner, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner, .is-combo .user-combo-box .box-dropdown .dropdown-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  max-height: 190px;
  overflow-y: auto;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul {
  padding: 10px 0;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li {
  padding: 6px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  margin-right: 8px;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon i, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon i, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon i, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon i {
  color: #999;
  font-size: 20px;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa {
  font-size: 16px;
  position: relative;
  top: 5px;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-green, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-green, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-green, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-green {
  color: #1CE589;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-blue, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-blue, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-blue, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-blue {
  color: #039BE5;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-orange, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-orange, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-orange, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-orange {
  color: #ff9700;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-red, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-red, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-red, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon .fa.is-red {
  color: #FF7273;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon img, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon img, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon img, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon img {
  display: block;
  height: 22px;
  width: 22px;
  object-fit: contain;
  transition: opacity .3s;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon img.faded-img, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon img.faded-img, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon img.faded-img, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon img.faded-img {
  opacity: .4;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon .avatar, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon .avatar, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon .avatar, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon .avatar {
  display: block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .item-icon .badge, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .item-icon .badge, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .item-icon .badge, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .item-icon .badge {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .checkmark, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .checkmark, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .checkmark, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  margin-right: 8px;
  margin-left: auto;
  opacity: 0;
  transition: all .3s;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li .checkmark svg, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li .checkmark svg, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li .checkmark svg, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li .checkmark svg {
  stroke: #3EC4E2;
  stroke-width: 3px;
  height: 16px;
  width: 16px;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li span, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li span, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li span, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li span {
  display: block;
  color: #999;
  font-size: .9rem;
  font-weight: 500;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li:hover, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li:hover, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li:hover, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li:hover {
  background: #ededed;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li.is-active .item-icon i, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li.is-active .item-icon i, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li.is-active .item-icon i, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li.is-active .item-icon i {
  color: #393a4f;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li.is-active .item-icon .faded-img, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li.is-active .item-icon .faded-img, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li.is-active .item-icon .faded-img, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li.is-active .item-icon .faded-img {
  opacity: 1;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li.is-active span, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li.is-active span, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li.is-active span, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li.is-active span {
  color: #393a4f;
}

.is-combo .combo-box .box-dropdown .dropdown-inner ul li.is-active .checkmark, .is-combo .image-combo-box .box-dropdown .dropdown-inner ul li.is-active .checkmark, .is-combo .stacked-combo-box .box-dropdown .dropdown-inner ul li.is-active .checkmark, .is-combo .user-combo-box .box-dropdown .dropdown-inner ul li.is-active .checkmark {
  opacity: 1;
}

.is-combo .combo-box.is-active, .is-combo .image-combo-box.is-active, .is-combo .stacked-combo-box.is-active, .is-combo .user-combo-box.is-active {
  border-color: #e8e8e8;
}

.is-combo .combo-box.is-active .box-chevron svg, .is-combo .image-combo-box.is-active .box-chevron svg, .is-combo .stacked-combo-box.is-active .box-chevron svg, .is-combo .user-combo-box.is-active .box-chevron svg {
  transform: rotate(180deg);
}

.is-combo .combo-box.is-active .box-dropdown, .is-combo .image-combo-box.is-active .box-dropdown, .is-combo .stacked-combo-box.is-active .box-dropdown, .is-combo .user-combo-box.is-active .box-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.is-combo .help-text {
  font-size: .75rem;
  color: #999;
}

.is-combo .big-combo-box {
  position: relative;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 58px;
  margin-top: 4px;
  cursor: pointer;
  transition: all .3s;
}

.is-combo .big-combo-box .box-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.is-combo .big-combo-box .box-inner .combo-item {
  display: flex;
  align-items: center;
  height: 58px;
  padding-left: 8px;
}

.is-combo .big-combo-box .box-inner .combo-item i {
  color: #3EC4E2;
  font-size: 1.6rem;
}

.is-combo .big-combo-box .box-inner .combo-item .combo-text {
  margin-left: 16px;
}

.is-combo .big-combo-box .box-inner .combo-item .combo-text span {
  display: block;
}

.is-combo .big-combo-box .box-inner .combo-item .combo-text span:first-child {
  color: #393a4f;
  font-size: .9rem;
  font-weight: 500;
}

.is-combo .big-combo-box .box-inner .combo-item .combo-text span:nth-child(2) {
  color: #999;
  font-size: .8rem;
  max-width: 330px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-combo .big-combo-box .box-chevron {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 58px;
}

.is-combo .big-combo-box .box-chevron svg {
  height: 18px;
  width: 18px;
  stroke: #393a4f;
  transform: rotate(0);
  transition: all .3s;
}

.is-combo .big-combo-box .box-dropdown {
  position: absolute;
  top: 54px;
  left: 0;
  width: 100%;
  z-index: 50;
  opacity: 0;
  transform: translateY(20px);
  pointer-events: none;
  transition: all .3s;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  max-height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner ul {
  padding: 10px 0;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner ul li {
  padding: 6px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner ul li .item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  margin-right: 16px;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner ul li .item-icon i {
  color: #999;
  font-size: 1.6rem;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner ul li .item-name span {
  display: block;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner ul li .item-name span:first-child {
  color: #393a4f;
  font-size: .9rem;
  font-weight: 500;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner ul li .item-name span:nth-child(2) {
  color: #999;
  font-size: .8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner ul li:hover {
  background: #ededed;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner ul li.is-active .item-icon i {
  color: #3EC4E2;
}

.is-combo .big-combo-box .box-dropdown .dropdown-inner ul li.is-active span {
  color: #393a4f;
}

.is-combo .big-combo-box.is-active {
  border-color: #e8e8e8;
}

.is-combo .big-combo-box.is-active .box-chevron svg {
  transform: rotate(180deg);
}

.is-combo .big-combo-box.is-active .box-dropdown {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

/* ==========================================================================
5. Custom select
========================================================================== */
.custom-select {
  width: 100%;
  z-index: 3;
}

.custom-select.is-dropup .select-drop {
  top: -100%;
}

.custom-select .select-box {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 40px 0 10px;
  height: 36px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #999999;
  background: #fff;
  cursor: pointer;
  transition: all .3s;
}

.custom-select .select-box:hover {
  border-color: #e8e8e8;
}

.custom-select .select-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  transform: rotate(0);
}

.custom-select .select-icon svg {
  height: 20px;
  width: 20px;
  stroke: #bababa !important;
  transition: all .3s;
}

.custom-select .select-drop {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  min-height: 135px;
  max-height: 138px;
  overflow-y: auto;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  z-index: 5;
  transition: all .3s;
  opacity: 0;
  transform: translateY(10px);
  pointer-events: none;
}

.custom-select .select-drop .drop-inner {
  position: relative;
  height: 100%;
  width: 100%;
  background: #fff;
}

.custom-select .select-drop .drop-inner .option-row {
  position: relative;
  display: flex;
  background: #fff;
}

.custom-select .select-drop .drop-inner .option-row input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-select .select-drop .drop-inner .option-row input:checked + .option-meta {
  background: #f2f2f2;
}

.custom-select .select-drop .drop-inner .option-row input:checked + .option-meta span {
  color: #393a4f;
}

.custom-select .select-drop .drop-inner .option-row input:checked + .option-meta svg.is-purple {
  stroke: #9c2bed;
}

.custom-select .select-drop .drop-inner .option-row .option-meta {
  padding: 12px;
  width: 100%;
  display: flex;
  align-items: center;
}

.custom-select .select-drop .drop-inner .option-row .option-meta img {
  display: block;
  max-height: 20px;
}

.custom-select .select-drop .drop-inner .option-row .option-meta svg {
  height: 20px;
  width: 20px;
  stroke: #cecece;
}

.custom-select .select-drop .drop-inner .option-row .option-meta svg.is-small {
  height: 14px;
  width: 14px;
}

.custom-select .select-drop .drop-inner .option-row .option-meta span {
  display: block;
  font-weight: 500;
  color: #999;
  font-size: .9rem;
  margin-left: 8px;
}

.custom-select.is-active .select-drop {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.custom-select.is-active .select-icon {
  transform: rotate(180deg);
}

.custom-select.is-accounts .option-meta img {
  max-height: 36px !important;
  border-radius: 50%;
}

.login100-form-title {
  padding-bottom: 32px;
}

.login {
  margin: 8px;
}

.signup {
  width: 90%;
}

.custom-select {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  font-family: inherit;
  padding-left: 0px;
  padding-right: 26px;
  padding-bottom: 8px;
  background-color: transparent;
  box-shadow: rgba(172, 181, 191, 0.3) 0px 1px;
  border-radius: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  transition: all 0.2s ease 0s;
  outline: none;
  height: auto;
}

input {
  line-height: 28px;
  display: block;
  width: 100%;
  font-family: inherit;
  -webkit-appearance: none;
  box-shadow: none;
  transform: translateZ(0px);
  -webkit-font-smoothing: antialiased;
  line-height: unset;
  padding: 0px 0px 8px;
  border: none;
  border-bottom: 1px solid rgba(59, 59, 59, 0.7);
  outline: none;
  border-radius: 0px;
  transition: box-shadow 0.2s ease 0s;
  box-shadow: rgba(172, 181, 191, 0.3) 0px 1px;
  background: none;
  padding: 0.375rem 0.75rem;
}

input#terms {
  border-bottom: none;
}

label {
  font-weight: 600;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin: 5%;
}

#send-code, .login-submit-btn {
  margin-top: 14px;
}

.login-submit-btn {
  width: 75%;
  left: 50%;
  transform: translateX(-50%);
}

.phone-options-btn {
  display: flex;
  align-content: space-between;
  margin-top: 2rem;
}

.phone-options-btn a {
  margin: 10px auto;
  width: 35%;
}

#options-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.options-btns {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 30px auto;
  z-index: 100;
}

.options-btns a {
  margin: 10px auto;
  width: 90%;
}

.login-utils-buttons {
  display: flex;
  margin-top: 3rem;
  justify-content: space-around;
}

.signup-wrapper .process-panel-wrap .form-panel {
  border: none;
}

.social-ac {
  display: flex;
  margin: 14px auto;
  justify-content: space-around;
}

.loading {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login100-form-title {
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  line-height: 1.2;
  text-transform: uppercase;
  width: 100%;
}

.pass-graybar {
  height: 3px;
  background-color: #ccc;
  width: 100%;
  position: relative;
}

.pass-colorbar {
  height: 3px;
  background-image: url(/static/img/passwordstrength.jpg);
  position: absolute;
  top: 0;
  left: 0;
}

.pass-percent,
.pass-text, .error-text {
  font-size: 16px;
  margin-bottom: 8px;
}

.pass-text, .pass-percent {
  color: #002bf0;
  font-weight: 400;
}

.error-text {
  color: #FF7273;
}

.pass-percent {
  margin-right: 5px;
}

.red {
  color: #FF7273;
}

#request-unverified-phone {
  display: none;
  align-items: center;
  margin-top: 3px;
  justify-content: center;
  font-size: 14px;
}

#unverify-form {
  display: none;
  margin: auto;
  padding: 20px;
  border-radius: 5%;
  position: absolute;
  width: 80%;
  top: 10%;
  left: 10%;
  z-index: 999;
  background: #1d1d1d;
  color: white;
}

#unverify-form input {
  color: white;
}

#unverify-reason {
  margin-top: 3px;
}

#close-unverify-form {
  float: left;
}

#id_notes, #id_wechat_id {
  border-bottom: black;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.blur-in {
  -webkit-animation: blur 1s forwards !important;
  -moz-animation: blur 1s forwards !important;
  -o-animation: blur 1s forwards !important;
  animation: blur 1s forwards !important;
}

.blur-out {
  -webkit-animation: blur-out 1s forwards;
  -moz-animation: blur-out 1s forwards;
  -o-animation: blur-out 1s forwards;
  animation: blur-out 1s forwards;
}

@-webkit-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@-moz-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@-o-keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
  100% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
}

@-webkit-keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@-moz-keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@-o-keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes blur-out {
  0% {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
  }
}
