.users-list {
  height: 90%;
  overflow-y: auto;
}

.list-group-item {
  background-image: linear-gradient(45deg, #0aacec ,#0aeee3 );
}

.nav {
  padding-top: 0;
  margin-top: 0;
  margin: 0;
  padding: 0; 
} 

.chat-status {
  text-align: center;
  vertical-align: middle;
}

.card-body {
  display: flex;
  flex-direction: column;
  margin-top: -1%;
  margin-bottom: -5px;
  height: 69vh;
  margin: 0;
  padding: 0; 
  overflow-y: auto;
  padding-right: 10px;
  padding-left: 10px;
  overflow-x: hidden;
}

.card {
  width: 100%;
}

.card-body li {
  list-style: none;
  padding: .6em 0;
}

.card-body li h5 {
  margin: 0;
  margin-bottom: .2em;
}

.text-area {
  width: 110px;
}

.msg_send_btn {
  color: #fff;
  height: 35px;
  background-color: #5e1604;
}

.speech-bubble {
  display: flex;
  position: relative;
  border-radius: 0.4em;
  padding: 10px;
  background:  linear-gradient(45deg, #0aacec ,#0aeee3 );
  font-size: 14px;
  
}

.user-msg {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  align-self: flex-end ;
}

.float-right {
  align-self: flex-end ;
}

.user-msg img {
  flex: 0 1 0%;
  align-self: flex-start;
}

.peer-msg {
  margin-left: 1%;
  display: flex;
}

.speech-bubble-peer {
  display: flex;
  flex: 0 1 auto;  /*This line doesn't favor iphone5*/
  margin-top: 4px;
  margin-left: 2%;
  margin-right: auto;
  margin-left: 1%;
}

.subtle-blue-gradient {
  background: linear-gradient(45deg,#5e1604, #a12904);
}

.speech-bubble-user {
  display: flex;
  flex: 1 1 0%;
  margin-top: 4px;
  margin-left: auto;
  margin-right: 1%;
}

.speech-bubble-user:after {
  content: "";
  position: absolute;
  right: 4px;
  top: 10px;
  width: auto;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #a12904;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -13px;
}

.speech-bubble-peer:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 10px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #0aacec;
  border-top: 0;
  border-left: 0;
  margin-top: -10px;
  margin-left: -15px;
}
.chat-section:first-child {
  margin-top: 10px;
}
.chat-section {
  margin-top: 1%;
}

.card-body {
  background-color: #fff;
}




