@charset "UTF-8";

html,
body,
.chat {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}


.chat {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.chat-title {
  flex: 0 1 45px;
  position: relative;
  z-index: 2;
  background: linear-gradient(45deg, #0aacec, #0aeee3);
  color: #fff;
  text-align: left;
  padding: 10px 10px 10px 40px;
}

.chat-title .back-btn {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #fff;
}

.chat-title .name {
  position: absolute;
  top: 10px;
  left: 40px;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #fff;
}

.chat-title .status {
  position: absolute;
  left: 80%;
  color: #fff;
  font-size: 8px;
  letter-spacing: 1px;
}

.messages {
  flex: 1 1px;
  width: 100%;
  background-color: #f7f7f7;
  background-attachment: fixed;
  background-size: cover;
  overflow-y: scroll;
}

.messages .messages-content {
  margin: 0;
  padding: 0 5px;
}

.messages .messages-content::after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

.messages .sender,
.user {
  float: left;
  clear: both;
}

.messages .sender {
  border-bottom-left-radius: 2px;
  display: flex;

}

.messages .user {
  float: right;
  border-bottom-right-radius: 2px;
  display: flex;
}

.message-bubble,
.message-bubble-user {
  color: white;
  clear: both;
  line-height: 1.4em;
  max-width: 220px;
  padding: 0.7em 16px;
  border-radius: 18px;
  font-size: 12px;
  font-family: sans-serif;
  word-wrap: break-word;
}

.message-bubble-user {
  background: linear-gradient(45deg, #0aacec, #0aeee3);
}

.message-bubble {
  background: linear-gradient(267.54deg, #6c757d 0%, #6c757d 101.73%);
}

.message-bubble-user:after {
  content: "";
  position: absolute;
  right: 4px;
  top: 10px;
  width: auto;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #0aacec;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -13px;
}

.message-bubble-peer:after {
  content: "";
  position: absolute;
  left: 3px;
  top: 10px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #a12904;
  border-top: 0;
  border-left: 0;
  margin-top: -10px;
  margin-left: -15px;
}

.chat-section:first-child {
  margin-top: 10px;
}

.chat-section {
  margin-top: 1%;
}

.btn-dark {
  height: 40px;
  width: 60px;
  padding: 1px 0;
  border: 0;
  border-radius: 0 2px 2px 0;
  background: linear-gradient(45deg, #0aacec, #0aeee3);
  border-radius: 12px;
  cursor: pointer;
  color: black;
}

/* .form {
  background: gainsboro;
}

.form-inner {
  height: 40px;
  width: calc(100% - 12px * 2);
  margin: 12px;
  border-radius: 2px;
  background: whitesmoke;
}
 */

.small-screen .contacts {
  display: none;
}

.small-screen .message-box {
  width: 100%;
  padding: 10px;
}

.small-screen textarea {
  height: 40px;
}

.small-screen .btn-dark {
  width: 50px;
  height: 40px;
}

.small-screen .messages {
  left: 66px;
  right: 0;
  width: auto;
}

.small-screen .form {
  width: 100%;
}

.avatar-sender {
  left: -50px;
  border-radius: 30px;
  margin: 0;
  padding: 0;
  border: none;
  align-self: flex-start;
}

.avatar-user {
  z-index: 1;
  bottom: -15px;
  border-radius: 30px;
  margin: 0;
  padding: 0;
  border: none;
  align-self: flex-start;
}


.timestamp {
  font-size: 10px;
  color: #330c04;
}

.message-box {
  flex: 0 1 40px;
  width: 100%;
  background: #f5f1ee;
  padding: 10px;
  position: relative;
}

.message-box .message-input {

  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: rgba(255, 255, 255, 0.7) !important;
  font-size: 11px;
  height: 17px;
  margin: 0;
  /*If want to keep space for (+) attachments to chat: padding-right: 20px; */
  width: 90%;
}

.message-box textarea:focus:-webkit-placeholder {
  color: rgba(255, 255, 255, 0.7) !important;
}

.message-box .message-submit {
  margin: 0 2px;
  color: #fff;
  border: none;
  background: #248A52;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  width: 100%
}

.message-box textarea {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 100%;
  resize: none;
  overflow-x: hidden;
  font-size: 1em;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

.input-group-append {
  flex-basis: 5%
}

.input-group {
  display: flex;
  height: 28px;
}

@media screen and (min-width:1024px) {

  .message-bubble-user,
  .message-bubble {
    max-width: 800px;
    font-size: 14px;
  }
}

/*** Styles added to fix the issue with zoom in on iphone ***/
/* iPhone < 5: */
@media screen and (device-aspect-ratio: 2/3) {

  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],

  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

/* iPhone 6, iPhone 6s, iPhone 7 portrait/landscape */
@media screen and (device-aspect-ratio: 375/667) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],

  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],

  input[type="url"] {
    font-size: 16px;
  }
}

/* iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus portrait/landscape */
@media screen and (device-aspect-ratio: 9/16) {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],

  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"] {
    font-size: 16px;
  }
}

.fa-circle {
  color: #cf0808;
}

h4 {
  color: white;
}

.chat-title {
  text-align: left;
  display: flex;
  align-items: center;
}

h5 {
  font-size: 1.5rem;
}

.status {
  color: black;
}

.word-break {
  word-break: break-all;
}

.btn-dark:disabled {
  color: #cccccc !important;
  background: gray !important;
}

.message-container img,
.message-container-user img {
  max-width: 100%;
  max-height: 200px;
  cursor: pointer;
  -o-object-fit: contain;
  object-fit: contain;
}

.classified-card {
   background: #c3def3;
}