nav {
    font-family: 'Montserrat',
        sans-serif;
}

.navbar-expand-md>.container,
.navbar-expand-md>.container-fluid {
    flex-wrap: wrap;
}

.navbar-brand {
    font-weight: 600;
    font-size: 2em;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: 600;
    font-size: 15px;
    color: #0B4F6C;

}

#notifications {
    font-size: 20px;
    padding: auto;
    color: #fff
}

.navbar-right {
    flex-direction: row;
}

.navbar-nav a.is-active {
    color: rgba(255, 255, 255, .75) !important;
}



/*Larger than mobile*/
@media screen and (min-width: 992px) {

    .navbar-nav a.is-active:after {
        content: "";
        width: 90px;
        display: block;
        border-bottom: 5px solid #fff;
        position: absolute;
        bottom: 0;
        border-radius: 9999px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

}

/*Laptop */
@media screen and (min-width: 1199px) {

    .navbar-nav a.is-active:after {
        content: "";
        width: 90px;
        display: block;
        border-bottom: 5px solid #fff;
        position: absolute;
        bottom: 0;
        border-radius: 9999px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .navbar-brand {
        margin-right: 6rem
    }

}

#search-btn {
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
    border: 0 none;
    font-weight: bold;
}

#search-box {
    background: #fff;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border: 0 none;
}

.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background: linear-gradient(45deg, #0aacec, #0aeee3);
    border-radius: 30px;
    padding: 10px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 35px;
    transition: width 0.1s linear;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 75%;
    caret-color: red;
    transition: width 0.1s linear;
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
}

.search-results .badge {
    font-size: 90% !important;
}