@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
  padding-top: 80px;
  overflow-wrap: break-word;
  word-break: break-word;

}

h1 {
  font-size: calc(29px + (40 - 24) * ((100vw - 300px) / (1600 - 300)));
}

h2 {
  font-size: calc(23px + (30 - 23) * ((100vw - 300px) / (1600 - 300)));

}

h3 {
  font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (1600 - 300)));

}

h4 {
  font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));

}

h5 {
  font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300)));

}

header .navbar-brand {
  font-size: 1.4em;
  font-weight: 200;
  font-family: "Audiowide", cursive;
}

.markdownx .markdownx-editor {
  border-style: none solid solid solid;
  width: 100%;
  margin-bottom: 25px;
}

.page-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.page-header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
}

.no-data {
  text-align: center;
  padding: 1em 0;
}


#notifications.new-notifications {
  color: #0aeee3;
}

a {
  color: #545b62;
}

a:hover {
  color: #0aacec;
  text-decoration: none;
}

.bg-dark {
  background: linear-gradient(45deg, #0aacec, #0aeee3);
  /*45deg,#330c04, #8b2100*/
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #8b2100;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.popover {
  max-width: 350px;
  width: 350px;
}

.popover ul {
  padding: 0;
  margin: 0;
}

.popover ul li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: .4em 0;
}

.popover ul li:last-child {
  border-bottom: none;
}

.popover ul li .user-picture {
  width: 45px;
  float: left;
}

.popover ul li p {
  font-size: .9em;
  padding: 0 0 0 .6em;
  margin-left: 45px;
  margin-bottom: 0;
}

.breadcrumb {
  background: gray;
}

.card-header {
  color: white;
  background: linear-gradient(45deg, #330c04, #8b2100)
}

.card {
  border-radius: 0.3em;
}

.btn-dark {
  background: linear-gradient(45deg, #0aacec, #0aeee3);
  color: white;
  border: none
}

.btn-danger {
  background-color: white;
  color: #8b2100;
  border: none
}

.btn-danger:hover {
  background-color: white;
  border-color: #8b2100;
  color: #0aacec;
}




.card-header {
  color: white;
  background: gray;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.btn {
  font-size: 11px;
  padding: 8px 26px 6px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-radius: 2px;
  outline: none;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;

}

@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: 1.3em
  }
}

.word-break {
  word-break: break-all;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

main .notification {
  position: relative;
  width: 3em;
  height: 3em;
}

main .notification svg {
  width: 3em;
  height: 3em;
}

main .notification svg>path {
  fill: #FFFFFF;
}

main .notification--bell {
  animation: bell 2.2s linear infinite;
  transform-origin: 50% 0%;
}

main .notification--bellClapper {
  animation: bellClapper 2.2s 0.1s linear infinite;
}

main .notification--num {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 1.25rem;
  border-radius: 50%;
  width: 11px;
  height: 10px;
  background-color: #FF4C13;
  border: 4px solid #FF4C13;
  color: #FFFFFF;
  text-align: center;
  animation: notification 2.2s linear;
}


.main-nav li {
  width: 101px;
  flex-basis: calc(25% - -20px);
}