@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
  padding-top: 80px;
  overflow-wrap: break-word;
  word-break: break-word;

}

h1 {
  font-size: calc(29px + (40 - 24) * ((100vw - 300px) / (1600 - 300)));
}

h2 {
  font-size: calc(23px + (30 - 23) * ((100vw - 300px) / (1600 - 300)));

}

h3 {
  font-size: calc(18px + (25 - 18) * ((100vw - 300px) / (1600 - 300)));

}

h4 {
  font-size: calc(16px + (22 - 16) * ((100vw - 300px) / (1600 - 300)));

}

h5 {
  font-size: calc(15px + (18 - 15) * ((100vw - 300px) / (1600 - 300)));

}

header .navbar-brand {
  font-size: 1.4em;
  font-weight: 200;
  font-family: "Audiowide", cursive;
}

.markdownx .markdownx-editor {
  border-style: none solid solid solid;
  width: 100%;
  margin-bottom: 25px;
}

.page-header {
  margin-top: 15px;
  margin-bottom: 15px;
}

.page-header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
}

@media screen and (max-width: 400px) {
  .empty-ad {
    margin-top: -7%;
  }
}


.no-data {
  text-align: center;
  padding: 1em 0;
}


#notifications.new-notifications {
  color: #0aeee3;
}

a {
  color: #0aacec;
}

a:hover {
  color: #0aeee3;
  text-decoration: none;
}

.bg-dark {
  background: linear-gradient(45deg, #0aacec, #0aeee3);
  /*45deg,#330c04, #8b2100*/
}

.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

.alert-error {
  color: #8b2100;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.popover {
  max-width: 350px;
  width: 350px;
}

.popover ul {
  padding: 0;
  margin: 0;
}

.popover ul li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: .4em 0;
}

.popover ul li:last-child {
  border-bottom: none;
}

.popover ul li .user-picture {
  width: 45px;
  float: left;
}

.popover ul li p {
  font-size: .9em;
  padding: 0 0 0 .6em;
  margin-left: 45px;
  margin-bottom: 0;
}

.breadcrumb {
  background: gray;
}

.card-header {
  color: white;
  background: linear-gradient(45deg, #330c04, #8b2100)
}

.card {
  border-radius: 0.3em;
}

.btn-dark {
  background: linear-gradient(45deg, #0aacec, #0aeee3);
  color: white;
  border: none
}

.btn-danger {
  background-color: white;
  color: #8b2100;
  border: none
}

.btn-danger:hover {
  background-color: white;
  border-color: #8b2100;
  color: #0aacec;
}




.card-header {
  color: white;
  background: gray;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.btn {
  font-size: 11px;
  padding: 8px 26px 6px;
  letter-spacing: 1.7px;
  text-transform: uppercase;
  border-radius: 2px;
  outline: none;
  -webkit-transition: 0.15s linear;
  transition: 0.15s linear;

}

@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
  }
}

@media (max-width: 767px) {
  h3 {
    font-size: 1.3em
  }
}

.word-break {
  word-break: break-all;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

main .notification {
  position: relative;
  width: 3em;
  height: 3em;
}

main .notification svg {
  width: 3em;
  height: 3em;
}

main .notification svg>path {
  fill: #FFFFFF;
}

main .notification--bell {
  animation: bell 2.2s linear infinite;
  transform-origin: 50% 0%;
}

main .notification--bellClapper {
  animation: bellClapper 2.2s 0.1s linear infinite;
}

main .notification--num {
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 1.25rem;
  border-radius: 50%;
  width: 11px;
  height: 10px;
  background-color: #FF4C13;
  border: 4px solid #FF4C13;
  color: #FFFFFF;
  text-align: center;
  animation: notification 2.2s linear;
}


.main-nav li {
  width: 101px;
  flex-basis: calc(25% - -20px);
}

.list-group-item.active {
  border-color: #0aeee3 !important;
  background: linear-gradient(45deg, #0aacec, #0aeee3) !important;
}

/*
loading animation from:
https: //nzbin.github.io/three-dots
*/
.snippet {
  position: relative;
  background: #fff;
  padding: 2rem 5%;
  margin: 1.5rem 0;
  box-shadow: 0 .4rem .8rem -.1rem rgba(0, 32, 128, .1), 0 0 0 1px #f0f2f7;
  border-radius: .25rem;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
}

/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3ec4e2;
  color: #3ec4e2;
  box-shadow: 9999px 0 0 -5px #3ec4e2;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before,
.dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3ec4e2;
  color: #3ec4e2;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #3ec4e2;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #3ec4e2;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #3ec4e2;
  }

  30% {
    box-shadow: 9984px 0 0 2px #3ec4e2;
  }

  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #3ec4e2;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #3ec4e2;
  }

  30% {
    box-shadow: 9999px 0 0 2px #3ec4e2;
  }

  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #3ec4e2;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #3ec4e2;
  }

  30% {
    box-shadow: 10014px 0 0 2px #3ec4e2;
  }

  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #3ec4e2;
  }
}

#toast-container {
  position: sticky;
  z-index: 1055;
  top: 0;
}

#toast-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

#toast-container>#toast-wrapper>.toast {
  min-width: 150px;
}

#toast-container>#toast-wrapper>.toast>.toast-header strong {
  padding-right: 20px;
}