body {
  height: 100% !important;
  width: 100% !important;
  overflow: hidden;
}

.post-wrapper {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.single-post {
    border: 1px solid #A1DBD2 !important;
    box-shadow: 2px 2px 0px #3EC4E2 !important;
    background: #fff;
}

.single-post a:hover {
    opacity: 0.8;

}

.card-side {
  justify-content: center;
}

.time {
    font-size: 14px;
    font-weight: bold;
    margin-top: 3.5%;
}


/*  Phone post cards */
@media (max-width: 560px) {

    .post-wrapper {
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .title {
        font-size: 16px;
        font-weight: bold;
    }
    .card-details  {
        margin-left: -4%;
        margin-right: -4%;
        margin-top: -4%;
    }
    .time {
        font-size: 12px;
    }
    .card-img-top {
        height: 150px;
    }
}

#post-user {
    display: inline-block;
    color: black;
}