.similar-ads {
    background: rgb(224, 223, 223);
}

#post-user {
    color: black;
}

.btn-action {
    background: linear-gradient(45deg, #491104, #c03004)
}

.meta-left span {
    color: rgba(0, 0, 0, .54) !important;
}

.post-wrapper {
    border: 1px solid #A1DBD2 !important;
    box-shadow: 2px 2px 0px #3EC4E2 !important;
    background: #fff;
}

.related {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;

}

.post-card {
    display: inline-block;
}

.related::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width:425px) {

    .ribbon-content {
        font-size: 20px;
    }

    .meta-right a {
        font-size: 12px
    }

    .meta-left span,
    small {
        font-size: 12px;
    }
}

.post-comment {
    border: 1px solid #A1DBD2 !important;
    box-shadow: 2px 2px 0px #3EC4E2 !important;
    background: #fff;
}

.comment-wrapper {
    background: #EEF3F4;
    border-radius: 10px;
}