.stream {
  margin: 2em 0 0 0;
  padding: 0;
}

.like-wrapper .like-button {
  background: #e9bdbd;
}

.stream li {
  list-style: none;
  border-style: solid none solid none;
}

.stream li:last-child {
  border-bottom: none;
}

.post {
  margin-left: 10px;
  padding: 0 0 0 1.2em;
  overflow-x: auto;
}

.timestamp {
  font-size: 0.8em;
  color: grey;
  float: right;
}

.profile-picture {
  margin-right: 0.5em;
  float: left;
}

.interaction {
  padding-left: 1.5em;
  margin-bottom: 1em;
}

.interaction a {
  margin-right: 1.3em;
  font-size: 1.1em;
  text-decoration: none;
}

.interaction a span {
  margin-left: 0.5em;
}

.stream-update {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  display: none;
}

.stream-update a {
  display: block;
  padding: 0.6em 0;
  background-color: #f5f8fa;
}

.stream-update a:hover {
  text-decoration: none;
  background-color: #e1e8ed;
}

a {
  color: #202024;
}

.heart,
.comment,
.like-count,
.fa-times {
  color: #8b2100;
}

a:hover {
  color: #424247;
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.compose h2 {
  font-size: 1.4em;
}

.comments {
  margin-top: 0.6em;
  display: none;
}

.comments ol {
  margin: 0.8em 0 0;
  padding: 0.2em 0;
  background-color: #f4f4f4;
  border-radius: 3px;
  overflow-x: auto;
}

.comments ol li {
  list-style: none;
  padding: 0;
}

.comments ol li img.user-comment {
  width: 35px;
  border-radius: 4px;
  float: left;
  margin-left: 10px;
}

.comments ol li div {
  margin-left: 45px;
  padding: 0 0.8em;
  font-size: 0.9em;
}

.comments ol li {
  padding: 0.6em 0.6em 0.6em 0;
  border-bottom: none;
}

.comments ol li h4 {
  margin: 0;
  margin-left: 45px;
  padding: 0 0 0.2em 0.8em;
  font-size: 0.9em;
}

.comments ol li h4 small {
  margin-left: 0.3em;
}

.empty {
  margin: 0 0.8em;
  font-size: 0.9em;
}

.load {
  text-align: center;
  padding-top: 1em;
  border-top: 1px solid #eeeeee;
  display: none;
  padding: 15px 0;
}

.loadcomment {
  text-align: center;
}

.remove-stories {
  color: #bbbbbb;
  font-size: 0.8em;
  padding-top: 0.2em;
  float: right;
  cursor: pointer;
}

.remove-stories:hover {
  color: #333333;
}

.infinite-item {
  border: 1px solid #a1dbd2 !important;
  box-shadow: 2px 2px 0px #3ec4e2 !important;
  background: #fff;
}

.story-modal-header {
  position: sticky;
  top: 0px;
  z-index: 99999;
  background: #3ec4e2;
}

.tabs.is-toggle li.is-active a {
  background: #3ec4e2;
  background-color: #3ec4e2;
}

.block-scroll {
  margin: 0 !important;
  height: 100% !important;
  overflow: hidden !important;
  position: fixed !important;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.img4 {
  grid-area: img4;
}

.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "img1";
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "img1 img2";
}

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img2" "img3 .";
}

.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img1 img2" "img3 img4";
}

@media all and (-ms-high-contrast: none) {
  .grid-container {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
  }

  .img1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .img2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }

  .img3 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }

  .img4 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
  }
}

.card.is-post .content-wrap .card-footer .likers-group a {
  border-radius: 50%;
}

.card.is-post .content-wrap .card-footer .likers-group a:not(:first-child) {
  margin-left: -12px;
}

.card.is-post .content-wrap .post-actions .like-wrapper .like-button {
  width: 28px;
  height: 28px;
}

.card.is-post .content-wrap .post-actions .fab-wrapper .small-fab {
  width: 28px;
  height: 28px;
}

.like-overlay {
  width: 100% !important;
  height: 100% !important;
}
.image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.post-media {
  transition: all 0.2s;
}
.post-media.smaller {
  transform: scale(0.5);
  transform-origin: left top;
}

.grid-4.smaller {
  width: 200%;
  height: 100%;
  margin-bottom: -50px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . . .";
}
.grid-3.smaller {
  width: 200%;
  height: 100%;
  margin-bottom: -150px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". . .";
}
.grid-2.smaller {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ". .";
  margin-bottom: -50px;
}
.grid-1.smaller {
  width: auto;
  height: 300px;
  margin-bottom: -50px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: ".";
}
.smaller .img1,
.smaller .img2,
.smaller .img3,
.smaller .img4 {
  grid-area: auto;
}
