{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}{{ detail_events.title|title }}{% endblock %}

{% block head %}
<link href="{% static 'css/notifications.css' %}" rel="stylesheet">
<link href="{% static 'css/post-details.css' %}" rel="stylesheet">

{% endblock head %}
<div>
  <a href="{% url 'posts:list_events' %}">{% trans 'events' %}
  <a href="{% url 'posts:list_events' %}">{% trans 'jobs' %}
  <a href="{% url 'posts:list' %}">{% trans 'published' %}
</div>


{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="post-wrapper col-lg-8 col-md-10 m-auto">
      <div class="classified-meta mb-4">
        <!-- Title -->
        <h1 class="mt-4 text-center">{{ events.title }}</h1>
       host : <p>{{ events.host }}</p>
       venue : <p>{{ events.venue }}</p>
       details : <p>{{ events.details}}</p>
       start_time : <p>{{ events.start_time }}</p>
       
       sponsors : <p>{{ events.sponsors }}</p>
       posted_at : <p>{{ events.posted_at }}</p>
      </div>

      </div>
      <!-- Featured Image -->
      

    </div>

  
    </div>
  </div>
  <!-- /.container -->
  {% endblock content %}

  {% block javascript %}
  <script type="text/javascript">
    var url = "{% url 'posts:detail_events' events.id %}"
  </script>
  <script src="{% static 'js/posts.js' %}"> </script>

  {% endblock javascript %}