{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}{{ detail_jobs.title|title }}{% endblock %}

{% block head %}
<link href="{% static 'css/notifications.css' %}" rel="stylesheet">
<link href="{% static 'css/post-details.css' %}" rel="stylesheet">

{% endblock head %}
<div>
  <a href="{% url 'posts:list_events' %}">{% trans 'events' %}
  <a href="{% url 'posts:list_jobs' %}">{% trans 'jobs' %}
  <a href="{% url 'posts:list' %}">{% trans 'published' %}
</div>


{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="post-wrapper col-lg-8 col-md-10 m-auto">
      <div class="classified-meta mb-4">
        <!-- Title -->
        <h1 class="mt-4 text-center">{{ jobs.title }}</h1>
        jobs_type: <p>{{ jobs.jobs_type }}</p>
        description :<p>{{ jobs.description }}</p>
        requirements :<p>{{ jobs.requirements }}</p>
        posted_date :<p>{{ jobs.posted_date }}</p>
        start_date :<p>{{ jobs.start_date }}</p>
        deadline :<p>{{ jobs.deadline }}</p>
        contacts :<p>{{ jobs.contacts }}</p>
        </div>

      </div>
      <!-- Featured Image -->
      

    </div>

  
    </div>
  </div>
  <!-- /.container -->
  {% endblock content %}

  {% block javascript %}
  <script type="text/javascript">
    var url = "{% url 'posts:detail_jobs' jobs.id %}"
  </script>
  <script src="{% static 'js/posts.js' %}"> </script>

  {% endblock javascript %}