{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags thumbnail humanize %}

{% block title %}{{ post.title|title }}{% endblock %}

{% block head %}
<link href="{% static 'css/notifications.css' %}" rel="stylesheet">
<link href="{% static 'css/post-details.css' %}" rel="stylesheet">

{% endblock head %}
<div>
  <a href="{% url 'posts:list_events' %}">{% trans 'events' %}
  <a href="{% url 'posts:list_jobs' %}">{% trans 'jobs' %}
  <a href="{% url 'posts:list' %}">{% trans 'published' %}
</div>
{% block meta %}
<meta name="author" content="{{  post.user.get_profile_name }}">
<meta name="keywords" content="{{ post.title|title }} ">
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="container">
  <div class="row">
    <!-- Post Content Column -->
    <div class="post-wrapper col-lg-8 col-md-10 m-auto">
      <div class="classified-meta mb-4">
        <!-- Title -->
        <h1 class="mt-4 text-center">{{ post.title|title }}</h1>

        <div class="meta-details mt-4 d-flex justify-content-center">

          <div class="meta-right d-flex flex-column align-items-center">
            <a href="{% url 'users:detail' post.user.get_profile_name %}">
              {% thumbnail post.user.picture "30x30" crop="center" upscale="true" as im %}
              <img src="{{ im.url }}" class="pull-left" style="border-radius: 50%;" alt="{% trans 'User Image' %}"
                class="user-image">
              {% empty %}
              <img src="{% static 'img/user.png' %}" class="pull-left" height="35px"
                alt="{% trans 'No Profile Picture' %}" />
              {% endthumbnail %}
            </a>
            <div class="d-flex flex-column align-items-center">
              <a href="{% url 'users:detail' post.user.get_profile_name %}"><strong id="classified-user">
                  {{ post.user.get_profile_name|title }} </strong></a>
              <!-- Date/Time -->
              <div class="time"><small>⏲️ </small><span>{{ post.timestamp|naturaltime }} </span></div>
            </div>
          </div>
        </div>

      </div>
      <!-- Featured Image -->
      {% thumbnail post.image "900x300" as im %}
      <div class="featured-img" style="background-size:cover">
        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{% trans 'Featured Image' %}"
          class="card-img-top">
      </div>
      {% endthumbnail %}
      <!-- <img src="{{ MEDIA_URL }}{{ post.image }}" lt="{% trans 'Featured Image' %}" class="card-img-top"> -->
      <hr>
      <!-- Post Content -->
      <p class="card-text text-justify">{{ post.get_markdown|safe }}</p>
      <hr>
      <!-- Cloud Tag Widget -->
      <div class="card my-4">
        <h5 class="card-header">{% trans 'Tags' %}</h5>
        <div class="card-body">
          {% for tag in post.tags.all %}
          <a href="#"><span class="badge badge-info">{{ tag }}</span></a>
          {% endfor %}
        </div>
      </div>

    </div>
    <!-- /.row -->

    <div class="col-lg-8 col-md-10 mr-auto ml-auto post-comment mt-4 pt-4 mb-4">
      <!-- Comments Form  -->
      {% with comments.count as total_comments %}
      <h4>
        {{ total_comments }} comment{{ total_comments|pluralize }}
      </h4>
      {% endwith %}


      {% for comment in comments %}
      <div class="comment-wrapper d-flex align-items-center p-2 m-4">
        <div class="autor-avatar">
          <a href="{% url 'users:detail' post.user.username %}">
            {% thumbnail comment.user.picture "30x30" crop="center" upscale="true" as im %}
            <img class="d-flex mr-3 rounded-circle" src="{{ im.url }}" alt="{% trans 'Picture Profile' %}" id="pic" />
            {% empty %}
            <img class="d-flex mr-3 rounded-circle" src="{% static 'img/user.png' %}" height="30px"
              alt="{% trans 'No Profile Picture' %}" />
            {% endthumbnail %}</a>
        </div>
        <div class="comment-body">
          <div class="comment-author">
            <a href="{% url 'users:detail' post.user.username %}" class="">
              <strong class="mt-0">{{ comment.user.get_profile_name|title }}- </strong>
            </a>
            <small> {{ comment.created }} </small>
          </div>
          <div class="comment-body"> {{ comment.body|linebreaks }} </div>
        </div>
      </div>
      {% empty %}
      <p>There are no comments yet.</p>
      {% endfor %}


      {% if new_comment %}
      <h2>Your comment has been added.</h2>
      {% else %}

      <div id="comment-notify d-none" class="notification"> </div>

      <div class="card my-4">
        <h4 class="card-header">{% trans 'Leave a Comment' %}:</h4>
        <div class="card-body">

          <form method="post" id="commentForm">
            {% csrf_token %}
            {{ comment_form|crispy }}
            {% if user.is_authenticated %}
            <input class="btn btn-dark comment-btn" type="button" value="Add comment">
            {% else %}
            <h6> Please login to post your comment: </h6>
            <a class="btn btn-dark btn-xl js-scroll-trigger text-dark"
              href="{% url 'account_login' %}">{% trans 'Login' %}</a>
          </form>
          {% endif %}
        </div>
      </div>
      {% endif %}

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- As of now, I don't want to encourage users to write posts thus
                    Don't preview option to write new article unless user was the author -->

        {% if request.user == post.user %}
        <div class="row align-items-center mt-4 mb-4">

          <a class="btn btn-dark" href="{% url 'posts:write_new' %}" title="{% trans 'Write a new post' %}">
            <i class="fa fa-pencil" aria-hidden="true"></i> {% trans 'New post' %}</a> <br> <br>
          <a class="btn btn-dark ml-3" href="{% url 'posts:edit_post' post.id %}" title="{% trans 'Edit this post' %}">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Edit' %}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!-- /.container -->
  {% endblock content %}



  {% block javascript %}
  <script type="text/javascript">
    var url = "{% url 'posts:post' post.slug %}"
  </script>
  <script src="{% static 'js/posts.js' %}"> </script>

  {% endblock javascript %}