{% extends 'base.html' %}
{% load static i18n %}
{% load comments crispy_forms_tags thumbnail humanize %}

{% block title %}{{ post.title|title }}{% endblock %}

{% block head %}
  <link href="{% static 'css/notifications.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
  <!-- Page Content -->
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'posts:list' %}">{% trans 'Home' %}</a></li>
        <!-- <li class="breadcrumb-item"><a href="{% url 'posts:list' %}">{% trans 'posts' %}</a></li> -->
        <li class="breadcrumb-item active" aria-current="page">{{ post.title|title }}</li>
      </ol>
    </nav>
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h4 class="mt-4">{{ post.title|title }}</h4>
        <!-- Author -->
        <p class="lead">{% trans 'by' %}
          <a href="{% url 'users:detail' post.user.username %}">{{ post.user.get_profile_name|title }}</a>
        </p>
        <hr>
        <!-- Date/Time -->
        <p>{% trans 'Posted' %} {{ post.timestamp|naturaltime }}  </p>
        <hr>
        <!-- Featured Image -->
        {% thumbnail post.image "900x300" as im %}
          <img src="{{ im.url }}" alt="{% trans 'Featured Image' %}" class="card-img-top">
        {% endthumbnail %}
        <!-- <img src="{{ MEDIA_URL }}{{ post.image }}" lt="{% trans 'Featured Image' %}" class="card-img-top"> -->
        <hr>
        <!-- Post Content -->
        <p class="card-text text-justify">{{ post.get_markdown|safe }}</p>
        <hr>

        <!-- Comments Form  -->
        {% with comments.count as total_comments %}
          <h4>
          {{ total_comments }} comment{{ total_comments|pluralize }}
          </h4>
        {% endwith %}


        {% for comment in comments %}
        <div class="comment">
            <p class="info">
              <span style="margin: 0px"> {{ comment.body|linebreaks }} </span>  
              <span class="media mb-4">
                {% thumbnail comment.user.picture "x30" as im %}
                  <img class="d-flex mr-3 rounded-circle" src="{{ im.url }}" alt="{% trans 'Picture Profile' %}" id="pic" />
                {% empty %}
                  <img class="d-flex mr-3 rounded-circle" src="{% static 'img/user.png' %}" height="50px" alt="{% trans 'No Profile Picture' %}" />
                {% endthumbnail %}

                <span class="media-body">
                  <small class="mt-0">{{ comment.user.get_profile_name|title }}- </small>
                  <small> {{ comment.created }} </small>
                </span>
              </span>
             </p>
             <hr>
        </div>

        {% empty %}
          <p>There are no comments yet.</p>
        {% endfor %}

        {% if user.is_authenticated %}
          {% if new_comment %}
              <h2>Your comment has been added.</h2>
          {% else %}

      <div id="comment-notify" class= "notification" > </div>

      <div class="card my-4">
          <h4 class="card-header">{% trans 'Leave a Comment' %}:</h4>
          <div class="card-body">

            <form method="post" id="commentForm">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <input class="btn btn-dark comment-btn" type="button" value="Add comment">
            </form>
          </div> 
      </div> 
      {% endif %}
      {% endif %}

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- As of now, I don't want to encourage users to write posts thus
        Don't preview option to write new article unless user was the author -->

        {% if request.user == post.user %}
          <div class="card my-4">
            <div class="card-body text-center">
              <a class="btn btn-dark" href="{% url 'posts:write_new' %}" title="{% trans 'Write a new post' %}">
                 <i class="fa fa-pencil" aria-hidden="true"></i> {% trans 'New post' %}</a> <br> <br>
              <a class="btn btn-dark" href="{% url 'posts:edit_post' post.id %}" title="{% trans 'Edit this post' %}">
                 <i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Edit' %}</a>
            </div>
          </div>
        {% endif %}

        <!-- Cloud Tag Widget -->
        <div class="card my-4">
          <h4 class="card-header">{% trans 'Cloud tag' %}</h4>
          <div class="card-body">
            {% for tag in post.tags.all %}
              <a href="#"><span class="badge badge-info">{{ tag }}</span></a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock content %}



{% block javascript %}
<script type="text/javascript">
    var url = "{% url 'posts:post' post.slug %}"
</script>
<script src="{% static 'js/posts.js' %}"> </script>

{% endblock javascript %}
