{% extends 'base.html' %}
{% load static i18n %}
{% load crispy_forms_tags %}


{% block head %}
<link href="{% static 'css/post-update.css' %}" rel="stylesheet">
<title>Obrisk Post</title>

{% endblock head %}

{% block content %}
<div class="col-lg-8 ml-auto mr-auto mt-5 pt-4 pb-4 mb-5">
  <form action="{% url 'posts:edit_post' form.instance.pk %}" enctype="multipart/form-data" id="posts-form"
    method="post" role="form">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
      <button type="button" class="btn btn-dark update">{% trans 'Update' %}</button>
      <button type="button" class="btn btn-default draft">{% trans 'Save as draft' %}</button>
      <a href="{% url 'posts:list' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
    </div>
  </form>
  {{ form.media }}
</div>


{% endblock content %}

{% block extra_js %}
<script src="{% static 'js/posts.js' %}"></script>
{% endblock extra_js %}