{% extends 'base.html' %}

{% block content %}
  <div class="page-header">
    <h1>Page not found</h1>
  </div>
  <p style="margin-top: 1.2em"> Hello friend😃  After a thorough search in our servers 📖🔍, We could not find the page that you are looking for😥 </p>
  
  <p> At first I'm like Who has given you this invalid link?😕 But don't worry I have got a better Idea, What about surfing the whole Obrisk website by yourself?🤪 
  I'm very sure that you'll find what you were looking for 😊 </p>

{% endblock content %}
