{% load static i18n humanize %}
{% load pwa_webpush %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <!--Please ensure sipts are loaded from my site only!-->
  <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="NVNmEgtDfFzJD89nlq7dQDSCMAGj-q_d3JI0buqyxJ4" />
  <meta name="description" content="A Social Network for foreigners living in China.">
  <meta name="keywords"
    content="Buy and sell, secondhand, classifieds, Expat in China, foreigners in China, China, Hangzhou, Shanghai, Ningbo">
  <meta name="author" content="Obrisk team">
  <meta name="apple-mobile-web-app-title" content="Obrisk">
  <meta name="locale" content="en">
  <meta name="theme-color" content="#3EC4E2">
  <meta name="vapid-key" content="{{ vapid_key }}">
  <meta http-equiv="Content-Security-Policy" content="default-src *">

  {% if request.user.is_authenticated %}
  {% webpush_header %}
  <meta name="user_id" content="{{ request.user.id }}">

  {% endif %}


  <!-- Icon can be replace to show icon on share -->
  {% block icon %}
  <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}?v=1">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}?v=1">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}?v=1">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}?v=1">
  <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}?v=1" color="#5bbad5">
  {% endblock icon%}

  <!-- PWA settings -->
  {% progressive_web_app_meta %}

  {% block meta %}
  {% endblock meta %}

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

  <!--[if lt IE 9]>
      <script src="{% static 'js/html5shiv.min.js'%}"></script>
  <![endif]-->

  {% block cdn %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/nav.css' %}?v=0908231">
  <link rel="stylesheet" type="text/css" href="{% static 'css/colors.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600" rel="stylesheet">

  <!-- This file stores project-specific CSS -->
  <link href="{% static 'css/obrisk.css' %}?v=0908231" rel="stylesheet">
  <link href="{% static 'css/account.css' %}?v=0908231" rel="stylesheet">

  <!-- They should be placed at the end of the document so the pages load faster -->
  <script src="{% static 'js/popper.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/jquery.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/nav.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/lazyload.js' %}"></script>


  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
  <link href="{% static 'frontend/assets/css/materialdesignicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'frontend/assets/css/webfont.css' %}" rel="stylesheet">
  <!-- Core CSS -->
  <link rel="stylesheet" href="{% static 'frontend/assets/css/bulma.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/assets/css/app.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/assets/css/core.css' %}">

  <!-- SEO optimization allow to show search box in search results-->
  <script type="application/ld+json">
    {"@context" : "http://schema.org",
    "@type" : "WebSite","name" : 
    "Obrisk","url" : "https://obrisk.com/",
    "potentialAction": {
    "@type": "SearchAction",
    "target": "https://obrisk.com/search/?query={search_term_string}",
    "query-input": "required name=search_term_string"
  }}
  </script>

  {% endblock cdn %}

  {% block head %}
  {% endblock head %}
</head>

<body class="O-bg has-slimscroll">
  <!-- Pageloader -->
  {% block body %}
  <div class="m-b-1">
    {% if request.user.is_authenticated %}
    <nav class="navbar fixed-top is-hidden-mobile is-hidden-tablet-only navbar-expand-lg navbar-dark O-bg-blue">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          {% if new_msgs %}
          <i class=" fa fa-envelope d-md-none" style="color: #dc3545;position: absolute;font-size: 15px;"></i>
          {% endif %}
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'img/logo_light_blue.png' %}" style="width: 160px" alt="Obrisk"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="main-nav navbar-nav mr-auto">
            <li class="nav-item text-lg-center mr-lg-2 ml-lg-2  mr-md-1"><a
                class="nav-link {% if base_active == 'stories' %} is-active {% endif %} "
                href="{% url 'stories:list' %}">{% trans 'Stories' %} </a></li>
            <li class="nav-item text-lg-center mr-lg-2 ml-lg-2  mr-md-1"><a
                class="nav-link {% if base_active == 'classifieds' %} is-active {% endif %} "
                href="{% url 'classifieds:list' %}">Classifieds</a></li>
            <li class="nav-item text-lg-center mr-lg-2 ml-lg-2  mr-md-1"><a
                class="nav-link {% if base_active == 'posts' %} is-active {% endif %} "
                href="{% url 'posts:list' %}">{% trans 'Articles' %} <span class="sr-only">(current)</span></a></li>
            <li class="nav-item text-lg-center mr-lg-2 ml-lg-2  mr-md-1"><a
                class="nav-link {% if base_active == 'chat' %} is-active {% endif %} "
                href="{% url 'messager:contacts_list' %}">
                {% if new_msgs %}
                <i class=" fa fa-envelope" style="color: #dc3545;position: absolute;font-size: 15px;"></i>
                {% endif %}
                {% trans 'Chat' %}</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {# if not hide_search #}
            <!-- <form class="form-inline navbar-left" role="search" action="{% url 'search:results' %}">
                      <div class="input-group">
                        <input name="query" type="search" id="searchInput" class="form-control" placeholder="{% trans 'Search' %}" aria-label="Search">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
                        </div>
                      </div>
                    </form> -->
            {# endif #}
            <li class="nav-item">
              <div id="" class="notifications navbar-item is-icon drop-trigger">
                <a class="icon-link" href="javascript:void(0);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-bell">
                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                  </svg>
                  <span class="indicator"></span>
                </a>

                <div class="nav-drop recent-notifications" id="">

                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <div id="account-dropdown" class="navbar-item acc is-account drop-trigger has-caret">
                <div class="user-image">
                  {% if request.user.thumbnail %}
                  <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{request.user.thumbnail}}"
                    alt="Picture Profile" style="width:30px;height:30px;border-radius: 50%;"
                    class="rounded-circle  mb-3 mb-md-0 mr-0 md-3 img-fluid" id="thumb-pic" />
                  {% else %}
                  <img src="{% static 'img/user.png' %}" height="30px" width="30px" alt="No Profile Picture" />
                  {% endif %}
                </div>
                <div class="nav-drop is-account-dropdown">
                  <div class="inner">
                    <div class="nav-drop-header">
                      <span class="username">{{ request.user.username|truncatechars:12}}</span>
                      <a id="close">❌ CLOSE</a>
                    </div>
                    <div class="nav-drop-body account-items">


                      <a class="account-item" href="{% url 'users:detail' request.user.username  %}">
                        <div class="media">
                          <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-user">
                              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                              <circle cx="12" cy="7" r="4" /></svg>
                          </div>
                          <div class="media-content">
                            <h3>My Profile</h3>
                            <small>Access your profile.</small>
                          </div>
                        </div>
                      </a>

                      <a class="account-item" href="{% url 'account_logout' %}">
                        <div class="media">
                          <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                              fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                              stroke-linejoin="round" class="feather feather-power">
                              <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                              <line x1="12" y1="2" x2="12" y2="12"></line>
                            </svg>
                          </div>
                          <div class="media-content">
                            <h3>Log out</h3>
                            <small>Log out from your account.</small>
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="nav-drop acc-nav-toggle" id="">

                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <nav id="navbarBottom" class="navbar mobile-navbar is-hidden-desktop fixed-bottom has-shadow w-100  p-0">
      <div class="tabs is-toggle is-fullwidth w-100">
        <ul>
          <li class="stories grid-image{% if base_active == 'stories' %} is-active {% endif %}">
            <a class="d-flex flex-column pl-0 pr-0 pt-1 pb-0 border-0 mt-1" href="{% url 'stories:list' %}">
              <span class="nav-icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-compass">
                  <circle cx="12" cy="12" r="10"></circle>
                  <polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon>
                </svg> </span>
              <span class="nav-label is-size-7	">
                {% trans 'Stories' %}
              </span>
            </a>
          </li>
          <li class=" classifieds {% if base_active == 'classifieds' %} is-active {% endif %}">
            <a class="d-flex flex-column pl-0 pr-0 pt-1 pb-0 border-0 mt-1" href="{% url 'classifieds:list' %}"><span
                class="nav-icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-shopping-bag">
                  <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                  <line x1="3" y1="6" x2="21" y2="6"></line>
                  <path d="M16 10a4 4 0 0 1-8 0"></path>
                </svg>
              </span>
              <span class="nav-label is-size-7	">
                Classifieds
              </span>
            </a>
          </li>
          <li class="posts {% if base_active == 'posts' %} is-active {% endif %}">
            <a class="d-flex flex-column pl-0 pr-0 pt-1 pb-0 border-0 mt-1" href="{% url 'posts:list' %}"><span
                class="nav-icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-book-open">
                  <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                  <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                </svg>
              </span>
              <span class="nav-label is-size-7	">
                {% trans 'Articles' %}
              </span>
            </a>
          </li>
          <li class="message-list {% if base_active == 'chat' %} is-active {% endif %}">
            <a class="d-flex flex-column pl-0 pr-0 pt-1 pb-0 border-0 mt-1" href="{% url 'messager:contacts_list' %}">
              <span class="nav-icons"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-message-square">
                  <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                </svg> </span>
              <span class="nav-label is-size-7	">
                {% trans 'Chat' %}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <nav id="navbarTop" class="navbar mobile-navbar is-hidden-desktop is-fixed-top has-shadow w-100 p-0">
      <div class="tabs overflow-visible is-toggle is-fullwidth w-100 ml-2 mr-2">
        <ul class="justify-content-between">
          <li class="flex-grow-0">

            <div class="navbar-item is-icon drop-trigger">
              <div id="" class="notifications navbar-item is-icon drop-trigger">
                <a class="border-0" href="javascript:void(0);">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-bell">
                    <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                    <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                  </svg>
                </a>

                <div class="nav-drop recent-notifications" id="">

                </div>
              </div>
            </div>
          </li>
          <li class="flex-grow-0">
            <a class="border-0" href="{% url 'home' %}">
              <svg width="64" height="48" viewBox="0 0 64 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_i)">
                  <path d="M23.4699 10.0511C23.1315 9.98326 22.8706 9.90461 22.7042 9.81386L23.4699 10.0511Z"
                    fill="url(#paint0_linear)" />
                  <path
                    d="M14.0874 16.5869C19.4435 21.3157 27.2428 27.6592 32.564 31.2283L35.5688 18.659L38.5202 16.5869C34.6513 15.6786 35.5853 15.8594 30.0091 13.677C26.4935 12.301 7.02249 2.924 7.02249 2.924C10.3003 6.22432 23.2722 15.2348 28.8079 17.6348C22.0029 16.3408 15.2866 12.0666 10.3798 8.94405L10.2721 8.87547C4.00446 4.88709 0.880462 3.05549 0 2.10975C1.78415 6.11332 8.73125 11.8582 14.0874 16.5869Z"
                    fill="url(#paint1_linear)" />
                  <path
                    d="M16.0371 23.2212C19.7932 29.0869 24.8639 32.8112 29.2773 37.6527L28.6308 36.7285L28.119 35.8043L27.2904 33.9558L26.6934 32.1074L26.3052 30.259L30.3991 32.0303C27.3054 31.2284 19.1046 26.2317 16.0371 23.2212Z"
                    fill="#00BAF6" />
                  <path
                    d="M22.7981 9.62769L33.0334 13.0726L34.1603 12.2347L35.4749 11.3887L36.9208 10.6519L38.4798 10.0249C36.8834 10.956 30.4042 10.2794 29.0895 10.2794C28.0378 10.2794 24.457 9.8139 22.7981 9.62769Z"
                    fill="#00BAF6" />
                  <path
                    d="M63.27 27.411C63.27 17.2296 54.9458 8.97595 44.6773 8.97595C40.2126 8.97595 36.2386 10.4719 33.0334 13.0726C33.0029 13.0623 33.075 13.0502 33.0334 13.0726L37.2951 14.5424C39.426 13.3687 41.879 12.7002 44.4895 12.7002C52.6835 12.7002 59.3261 19.2865 59.3261 27.411C59.3261 35.5356 52.6835 42.1218 44.4895 42.1218C37.9229 42.1218 32.3527 37.8919 30.3991 32.0303L28.9956 31.535L27.7749 30.982L26.3052 30.259C27.6861 39.0881 35.3857 45.8461 44.6773 45.8461C54.9458 45.8461 63.27 37.5924 63.27 27.411Z"
                    fill="#00BAF6" />
                  <path
                    d="M26.0982 26.7007C26.1107 26.374 26.1317 26.0495 26.1611 25.7274C26.134 26.0455 26.1129 26.37 26.0982 26.7007Z"
                    fill="#00BAF6" />
                  <g filter="url(#filter1_d)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M44.4897 14.9348C51.439 14.9348 57.0726 20.5206 57.0726 27.411C57.0726 34.3014 51.439 39.8873 44.4897 39.8873C37.5403 39.8873 31.9067 34.3014 31.9067 27.411C31.9067 20.5206 37.5403 14.9348 44.4897 14.9348Z"
                      fill="url(#paint2_radial)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M44.4897 14.9348C51.439 14.9348 57.0726 20.5206 57.0726 27.411C57.0726 34.3014 51.439 39.8873 44.4897 39.8873C37.5403 39.8873 31.9067 34.3014 31.9067 27.411C31.9067 20.5206 37.5403 14.9348 44.4897 14.9348Z"
                      fill="url(#paint3_linear)" />
                  </g>
                  <g opacity="0.6" filter="url(#filter2_d)">
                    <path
                      d="M57.1561 27.3172C57.1561 20.4268 51.5225 14.8409 44.5732 14.8409C37.6238 14.8409 31.9902 20.4268 31.9902 27.3172C31.9902 34.2076 37.6238 39.7934 44.5732 39.7934C51.5225 39.7934 57.1561 34.2076 57.1561 27.3172Z"
                      fill="#00BAF6" />
                  </g>
                </g>
                <defs>
                  <filter id="filter0_i" x="0" y="-2.89025" width="63.27" height="48.7363" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="-5" />
                    <feGaussianBlur stdDeviation="30" />
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.6 0" />
                    <feBlend mode="overlay" in2="shape" result="effect1_innerShadow" />
                  </filter>
                  <filter id="filter1_d" x="27.9067" y="14.9348" width="33.1659" height="32.9525"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                  </filter>
                  <filter id="filter2_d" x="27.9902" y="14.8409" width="33.1659" height="32.9525"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                  </filter>
                  <linearGradient id="paint0_linear" x1="55.2858" y1="38.3233" x2="13.1949" y2="-9.44434"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0.270833" stop-color="#EB5757" />
                    <stop offset="0.557292" stop-color="#56CCF2" />
                  </linearGradient>
                  <linearGradient id="paint1_linear" x1="55.2858" y1="38.3233" x2="13.1949" y2="-9.44434"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0.270833" stop-color="#EB5757" />
                    <stop offset="0.557292" stop-color="#56CCF2" />
                  </linearGradient>
                  <radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(49.9663 30.4821) rotate(-128.694) scale(17.7726 13.2688)">
                    <stop offset="0.015625" stop-color="#EB5757" />
                    <stop offset="1" stop-color="#56CCF2" />
                  </radialGradient>
                  <linearGradient id="paint3_linear" x1="44.4897" y1="39.8873" x2="44.4897" y2="14.9348"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>

            </a>
          </li>
          <li class="flex-grow-0">
            <div id="account-dropdown" class="navbar-item acc is-account drop-trigger has-caret">
              <div class="user-image">
                {% if request.user.thumbnail %}
                <img src="https://obrisk.oss-cn-hangzhou.aliyuncs.com/{{request.user.thumbnail}}" alt="Picture Profile"
                  style="width:30px;height:30px;border-radius: 50%;"
                  class="rounded-circle  mb-3 mb-md-0 mr-0 md-3 img-fluid" id="thumb-pic" />
                {% else %}
                <img src="{% static 'img/user.png' %}" height="30px" width="30px" alt="No Profile Picture" />
                {% endif %}
              </div>
              <div class="nav-drop is-account-dropdown">
                <div class="inner">
                  <div class="nav-drop-header">
                    <span class="username">{{ request.user.username|truncatechars:12}}</span>
                    <a id="close">❌ CLOSE</a>
                  </div>
                  <div class="nav-drop-body account-items">


                    <a class="account-item" href="{% url 'users:detail' request.user.username  %}">
                      <div class="media">
                        <div class="icon-wrap">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-user">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                            <circle cx="12" cy="7" r="4" /></svg>
                        </div>
                        <div class="media-content">
                          <h3>My Profile</h3>
                          <small>Access your profile.</small>
                        </div>
                      </div>
                    </a>

                    <a class="account-item" href="{% url 'account_logout' %}">
                      <div class="media">
                        <div class="icon-wrap">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-power">
                            <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                            <line x1="12" y1="2" x2="12" y2="12"></line>
                          </svg>
                        </div>
                        <div class="media-content">
                          <h3>Log out</h3>
                          <small>Log out from your account.</small>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>

                <div class="nav-drop acc-nav-toggle" id="">

                </div>

              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    {% else%}
    <nav class="navbar fixed-top navbar-expand-lg is-hidden-mobile is-hidden-tablet-only navbar-dark O-bg-blue">
      <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="{% url 'home' %}">
          <img src="{% static 'img/logo_light_blue.png' %}" style="width: 160px" alt="Obrisk"></a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="main-nav navbar-nav mr-auto">
            <li class="nav-item text-lg-center mr-lg-2 ml-lg-2  mr-md-1"><a
                class="nav-link {% if base_active == 'stories' %} is-active {% endif %} "
                href="{% url 'stories:list' %}">{% trans 'Stories' %} </a></li>
            <li class="nav-item text-lg-center mr-lg-2 ml-lg-2  mr-md-1"><a
                class="nav-link {% if base_active == 'classifieds' %} is-active {% endif %} "
                href="{% url 'classifieds:list' %}">Classifieds</a></li>
            <li class="nav-item text-lg-center mr-lg-2 ml-lg-2  mr-md-1"><a
                class="nav-link {% if base_active == 'posts' %} is-active {% endif %} "
                href="{% url 'posts:list' %}">{% trans 'Articles' %} <span class="sr-only">(current)</span></a></li>
            {# #}
            <!-- <li class="nav-item text-lg-center mr-lg-2 ml-lg-2  mr-md-1"><a
                class="nav-link {% if base_active == 'q_and_a' %} is-active {% endif %} "
                href="{% url 'qa:index_noans' %}">{% trans 'Q&A' %}</a></li> -->
            {# #}
          </ul>
          <ul class="nav navbar-nav ">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">{% trans 'Login' %}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">{% trans 'Signup' %}</a>
            </li>

          </ul>

        </div>
      </div>
    </nav>
    <nav id="navbarBottom" class="navbar mobile-navbar is-hidden-desktop fixed-bottom has-shadow w-100  p-0">
      <div class="tabs is-toggle is-fullwidth w-100">
        <ul>
          <li class="{% if base_active == 'stories' %} is-active {% endif %}">
            <a class="d-flex flex-column pl-0 pr-0 pt-1 pb-0 border-0 mt-1" href="{% url 'stories:list' %}">
              <span class="nav-icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-compass">
                  <circle cx="12" cy="12" r="10"></circle>
                  <polygon points="16.24 7.76 14.12 14.12 7.76 16.24 9.88 9.88 16.24 7.76"></polygon>
                </svg> </span>
              <span class="nav-label is-size-7	">
                {% trans 'Stories' %}
              </span>
            </a>
          </li>
          <li class="{% if base_active == 'classifieds' %} is-active {% endif %}">
            <a class="d-flex flex-column pl-0 pr-0 pt-1 pb-0 border-0 mt-1" href="{% url 'classifieds:list' %}"><span
                class="nav-icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-shopping-bag">
                  <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path>
                  <line x1="3" y1="6" x2="21" y2="6"></line>
                  <path d="M16 10a4 4 0 0 1-8 0"></path>
                </svg>
              </span>
              <span class="nav-label is-size-7	">
                Classifieds
              </span>
            </a>
          </li>
          <li class="{% if base_active == 'posts' %} is-active {% endif %}">
            <a class="d-flex flex-column pl-0 pr-0 pt-1 pb-0 border-0 mt-1" href="{% url 'posts:list' %}"><span
                class="nav-icons">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none"
                  stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-book-open">
                  <path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path>
                  <path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path>
                </svg>
              </span>
              <span class="nav-label is-size-7	">
                {% trans 'Articles' %}
              </span>
            </a>
          </li>
          <li class="{% if base_active == 'chat' %} is-active {% endif %}">
            <a class="d-flex flex-column pl-0 pr-0 pt-1 pb-0 border-0 mt-1" href="{% url 'messager:contacts_list' %}">
              <span class="nav-icons"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                  fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                  class="feather feather-message-square">
                  <path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path>
                </svg> </span>
              <span class="nav-label is-size-7	">
                {% trans 'Chat' %}
              </span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <nav id="navbarTop" class="navbar mobile-navbar is-hidden-desktop is-fixed-top has-shadow w-100 p-0">
      <div class="tabs overflow-visible is-toggle is-fullwidth w-100 ml-2 mr-2">
        <ul class="justify-content-between">
          <li class="flex-grow-0">
            <a class="border-0" href="{% url 'home' %}">
              <svg width="64" height="48" viewBox="0 0 64 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_i)">
                  <path d="M23.4699 10.0511C23.1315 9.98326 22.8706 9.90461 22.7042 9.81386L23.4699 10.0511Z"
                    fill="url(#paint0_linear)" />
                  <path
                    d="M14.0874 16.5869C19.4435 21.3157 27.2428 27.6592 32.564 31.2283L35.5688 18.659L38.5202 16.5869C34.6513 15.6786 35.5853 15.8594 30.0091 13.677C26.4935 12.301 7.02249 2.924 7.02249 2.924C10.3003 6.22432 23.2722 15.2348 28.8079 17.6348C22.0029 16.3408 15.2866 12.0666 10.3798 8.94405L10.2721 8.87547C4.00446 4.88709 0.880462 3.05549 0 2.10975C1.78415 6.11332 8.73125 11.8582 14.0874 16.5869Z"
                    fill="url(#paint1_linear)" />
                  <path
                    d="M16.0371 23.2212C19.7932 29.0869 24.8639 32.8112 29.2773 37.6527L28.6308 36.7285L28.119 35.8043L27.2904 33.9558L26.6934 32.1074L26.3052 30.259L30.3991 32.0303C27.3054 31.2284 19.1046 26.2317 16.0371 23.2212Z"
                    fill="#00BAF6" />
                  <path
                    d="M22.7981 9.62769L33.0334 13.0726L34.1603 12.2347L35.4749 11.3887L36.9208 10.6519L38.4798 10.0249C36.8834 10.956 30.4042 10.2794 29.0895 10.2794C28.0378 10.2794 24.457 9.8139 22.7981 9.62769Z"
                    fill="#00BAF6" />
                  <path
                    d="M63.27 27.411C63.27 17.2296 54.9458 8.97595 44.6773 8.97595C40.2126 8.97595 36.2386 10.4719 33.0334 13.0726C33.0029 13.0623 33.075 13.0502 33.0334 13.0726L37.2951 14.5424C39.426 13.3687 41.879 12.7002 44.4895 12.7002C52.6835 12.7002 59.3261 19.2865 59.3261 27.411C59.3261 35.5356 52.6835 42.1218 44.4895 42.1218C37.9229 42.1218 32.3527 37.8919 30.3991 32.0303L28.9956 31.535L27.7749 30.982L26.3052 30.259C27.6861 39.0881 35.3857 45.8461 44.6773 45.8461C54.9458 45.8461 63.27 37.5924 63.27 27.411Z"
                    fill="#00BAF6" />
                  <path
                    d="M26.0982 26.7007C26.1107 26.374 26.1317 26.0495 26.1611 25.7274C26.134 26.0455 26.1129 26.37 26.0982 26.7007Z"
                    fill="#00BAF6" />
                  <g filter="url(#filter1_d)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M44.4897 14.9348C51.439 14.9348 57.0726 20.5206 57.0726 27.411C57.0726 34.3014 51.439 39.8873 44.4897 39.8873C37.5403 39.8873 31.9067 34.3014 31.9067 27.411C31.9067 20.5206 37.5403 14.9348 44.4897 14.9348Z"
                      fill="url(#paint2_radial)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M44.4897 14.9348C51.439 14.9348 57.0726 20.5206 57.0726 27.411C57.0726 34.3014 51.439 39.8873 44.4897 39.8873C37.5403 39.8873 31.9067 34.3014 31.9067 27.411C31.9067 20.5206 37.5403 14.9348 44.4897 14.9348Z"
                      fill="url(#paint3_linear)" />
                  </g>
                  <g opacity="0.6" filter="url(#filter2_d)">
                    <path
                      d="M57.1561 27.3172C57.1561 20.4268 51.5225 14.8409 44.5732 14.8409C37.6238 14.8409 31.9902 20.4268 31.9902 27.3172C31.9902 34.2076 37.6238 39.7934 44.5732 39.7934C51.5225 39.7934 57.1561 34.2076 57.1561 27.3172Z"
                      fill="#00BAF6" />
                  </g>
                </g>
                <defs>
                  <filter id="filter0_i" x="0" y="-2.89025" width="63.27" height="48.7363" filterUnits="userSpaceOnUse"
                    color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                      result="hardAlpha" />
                    <feOffset dy="-5" />
                    <feGaussianBlur stdDeviation="30" />
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1" />
                    <feColorMatrix type="matrix" values="0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.6 0" />
                    <feBlend mode="overlay" in2="shape" result="effect1_innerShadow" />
                  </filter>
                  <filter id="filter1_d" x="27.9067" y="14.9348" width="33.1659" height="32.9525"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                  </filter>
                  <filter id="filter2_d" x="27.9902" y="14.8409" width="33.1659" height="32.9525"
                    filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix" />
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                    <feOffset dy="4" />
                    <feGaussianBlur stdDeviation="2" />
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0" />
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                  </filter>
                  <linearGradient id="paint0_linear" x1="55.2858" y1="38.3233" x2="13.1949" y2="-9.44434"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0.270833" stop-color="#EB5757" />
                    <stop offset="0.557292" stop-color="#56CCF2" />
                  </linearGradient>
                  <linearGradient id="paint1_linear" x1="55.2858" y1="38.3233" x2="13.1949" y2="-9.44434"
                    gradientUnits="userSpaceOnUse">
                    <stop offset="0.270833" stop-color="#EB5757" />
                    <stop offset="0.557292" stop-color="#56CCF2" />
                  </linearGradient>
                  <radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                    gradientTransform="translate(49.9663 30.4821) rotate(-128.694) scale(17.7726 13.2688)">
                    <stop offset="0.015625" stop-color="#EB5757" />
                    <stop offset="1" stop-color="#56CCF2" />
                  </radialGradient>
                  <linearGradient id="paint3_linear" x1="44.4897" y1="39.8873" x2="44.4897" y2="14.9348"
                    gradientUnits="userSpaceOnUse">
                    <stop stop-color="white" />
                    <stop offset="1" stop-color="white" stop-opacity="0" />
                  </linearGradient>
                </defs>
              </svg>


            </a>
          </li>
          <li class="flex-grow-0">
            <div id="account-dropdown" class="navbar-item acc is-account drop-trigger has-caret">
              <div class="user-image">

                <img src="{% static 'img/user.png' %}" height="30px" width="30px" alt="No Profile Picture" />

              </div>
              <div class="nav-drop is-account-dropdown">
                <div class="inner">

                  <div class="nav-drop-header">
                    <a id="close">❌ CLOSE</a>
                  </div>

                  <div class="nav-drop-body account-items">


                    <a class="account-item" href="{% url 'account_login' %}">
                      <div class="media">
                        <div class="icon-wrap">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-user">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                            <circle cx="12" cy="7" r="4" /></svg>
                        </div>
                        <div class="media-content">
                          <h3>Login</h3>
                          <small>Access your account.</small>
                        </div>
                      </div>
                    </a>

                    <a class="account-item" href="{% url 'account_signup' %}">
                      <div class="media">
                        <div class="icon-wrap">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-user-plus">
                            <path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2" />
                            <circle cx="8.5" cy="7" r="4" />
                            <line x1="20" y1="8" x2="20" y2="14" />
                            <line x1="23" y1="11" x2="17" y2="11" /></svg>
                        </div>
                        <div class="media-content">
                          <h3>Sign up</h3>
                          <small>Create an account.</small>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    {% endif %}
  </div>

  <div class="mt-4 pt-2 pb-4">
    <!-- These messages are not from chat, they are the notifications 
    upon successful POST request on the chat the message context is message_list -->
    {% if messages %}
    {% for message in messages %}
    <div class="container">
      <div id="messages" class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %} mt-lg-2">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
      </div>
    </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock content %}

  </div>
  <!-- /container -->



  {% block javascript %}
  <!-- For the chat-app-->
  {% block extra_js %}{% endblock extra_js %}

  {% if request.user.is_authenticated %}
  <!-- Third-party javascript libraries go here -->
  <!-- place project specific Javascript in this file -->
  <script src="{% static 'js/websocketbridge.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
    var currentUser = "{{ request.user.username}}";
    $(function () {
      source: "{% url 'search:suggestions' %}";
    });


      // Raven.config('{# sentry_dsn #}').install();
      // window.onerror = Raven.process; 
  </script>
  <script src="{% static 'js/notif-sw.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/obrisk.js' %}" type="text/javascript"></script>
  {% endif %}
  <script>
    window.addEventListener("load", function (event) {
      lazyload();
    });
  </script>

  <script type="text/javascript">
    function registerServiceWorker() {
      // register sw script in supporting browsers
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('sw.js', { scope: '/' }).then(() => {
          console.log('Service Worker registered successfully.');
        }).catch(error => {
          console.log('Service Worker registration failed:', error);
        });
      }
    }

    //Hide nav bar on click outside

    // $(document).on('click', function () {
    //   $('.collapse').collapse('hide');
    // })

  </script>

  <!-- bootbox for alert-->
  <script src="{% static 'js/bootbox.min.js' %}" type="text/javascript"></script>

  {% endblock javascript %}

  <!-- <script src="{% static 'js/toast-msg.js' %}?v=0208191" type="text/javascript"> </script> -->

  <!-- New design script  -->
  <!-- Concatenated js plugins and jQuery -->
  <script src="{% static 'frontend/assets/js/app.js' %}"></script>

  <!-- Core js -->
  <script src="{% static 'frontend/assets/js/global.js' %}"></script>
  <script src="{% static 'frontend/assets/js/main.js' %}"></script>

  <!-- Page and UI related js -->
  <script src="{% static 'frontend/assets/js/feed.js' %}"></script>
  <script src="{% static 'frontend/assets/js/chat.js' %}"></script>
  <script src="{% static 'frontend/assets/js/inbox.js' %}"></script>
  <script src="{% static 'js/fancybox.min.js' %}"></script>

  <script>
    // var toast = new iqwerty.toast.Toast();
    // toast.setText('<p>Loading...</p>').stylize({
    //   background: '#3EC4E2',
    //   color: '#fff!important',
    //   width: 100,
    //   'box-shadow': '0 0 25px rgba(0, 0, 0, .7)'
    // }).setDuration(10000);
    // $(window).on("beforeunload", () => {
    //   toast.show();
    // })
    let iPhone = /iPhone/.test(navigator.userAgent) && !window.MSStream;
    let aspect = window.screen.width / window.screen.height;
    if (
      iPhone &&
      (aspect.toFixed(3) === "0.462" ||
        aspect.toFixed(3) === "0.576" ||
        aspect.toFixed(3) === "0.591")
    ) {
      $("#navbarBottom").addClass("pb-4");
    }
  </script>

</body>
{% endblock body %}
<!-- /.container -->


</html>