{% load static i18n %}

<nav id="navbarTop" class="navbar is-fixed-top">
  <div class="nav-inner is-toggle is-fullwidth">
    <ul class="tp-nav-ul">
      <li>
        {% if request.META.HTTP_REFERER and request.path != '/classifieds/' %}
            <a class="black-link" href="javascript:history.back()">
                <svg class="feather feather-arrow-left-circle nav-back-btn" xmlns="http://www.w3.org/2000/svg"
                     width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                    stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="12 8 8 12 12 16"></polyline>
                    <line x1="16" y1="12" x2="8" y2="12"></line>
                </svg>
            </a>
        {% else  %}
            <a class="nav-logo black-link" href="{% url 'classifieds:list' %}">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g filter="url(#filter0_d)">
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="url(#paint0_radial)"
                            d="M15.9721 0.0145836C22.5841 0.0145836 27.9442 5.3839 27.9442 12.0073C27.9442 18.6307 22.5841 24 15.9721 24C9.36009 24 4 18.6307 4 12.0073C4 5.3839 9.36009 0.0145836 15.9721 0.0145836Z"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" fill="url(#paint1_linear)"
                            d="M15.9721 0.0145836C22.5841 0.0145836 27.9442 5.3839 27.9442 12.0073C27.9442 18.6307 22.5841 24 15.9721 24C9.36009 24 4 18.6307 4 12.0073C4 5.3839 9.36009 0.0145836 15.9721 0.0145836Z"/>
                    </g>
                    <g opacity="0.6" filter="url(#filter1_d)">
                        <path d="M28 11.9926C28 5.36925 22.6399 -6.36842e-05 16.0279 -6.36842e-05C9.41587 -6.36842e-05 4.05579 5.36925 4.05579 11.9926C4.05579 18.616 9.41587 23.9854 16.0279 23.9854C22.6399 23.9854 28 18.616 28 11.9926Z" fill="url(#paint2_radial)"/>
                        <path fill="url(#paint3_linear)"
                            d="M28 11.9926C28 5.36925 22.6399 -6.36842e-05 16.0279 -6.36842e-05C9.41587 -6.36842e-05 4.05579 5.36925 4.05579 11.9926C4.05579 18.616 9.41587 23.9854 16.0279 23.9854C22.6399 23.9854 28 18.616 28 11.9926Z"/>
                    </g>
                    <defs>
                    <filter id="filter0_d" x="0" y="0.0146484" width="31.9442" height="31.9854" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="4"/>
                        <feGaussianBlur stdDeviation="2"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    <filter id="filter1_d" x="0.0557861" y="0" width="31.9442" height="31.9854" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                        <feOffset dy="4"/>
                        <feGaussianBlur stdDeviation="2"/>
                        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
                    </filter>
                    <radialGradient id="paint0_radial" cx="0" cy="0" r="1"
                        gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(21.1828 14.9594) rotate(-128.408) scale(17.016 12.6749)">
                        <stop stop-color="#EB5757"/>
                        <stop offset="0.984375" stop-color="#56CCF2"/>
                        </radialGradient>
                        <linearGradient id="paint1_linear" x1="15.9721" y1="24" x2="15.9721" y2="0.0145836" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="1" stop-color="white" stop-opacity="0"/>
                    </linearGradient>
                    <radialGradient id="paint2_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse"
                        gradientTransform="translate(21.2386 14.9447) rotate(-128.408) scale(17.016 12.6749)">
                        <stop stop-color="#EB5757"/>
                        <stop offset="0.984375" stop-color="#56CCF2"/>
                    </radialGradient>
                    <linearGradient id="paint3_linear" x1="16.0279" y1="23.9854"
                        x2="16.0279" y2="-6.48499e-05" gradientUnits="userSpaceOnUse">
                        <stop stop-color="white"/>
                        <stop offset="1" stop-color="white" stop-opacity="0"/>
                    </linearGradient>
                    </defs>
                </svg>
            </a>

        {% endif %}
      </li>

    {% if request.user.is_authenticated %}
      <li class="top-nav-user-li">
        <a href="#du" class="black-link user-image navbar-item is-account drop-trigger">
              {% if request.user.thumbnail %}
                <img   src="{{ oss }}/{{request.user.thumbnail}}" alt="Pic"
                  style="width:30px;height:30px;border-radius: 20%;"
                  class="img-drop-trigger rounded-circle  mb-3 mb-md-0 mr-0 md-3 img-fluid" id="thumb-pic" />
              {% else %}
                <img src="{% static 'img/user.png' %}" height="30px" width="30px" alt="No pic" />
              {% endif %}
        </a>

        <div id="du" class="has-caret">
              <div class="nav-drop is-account-dropdown">
                <div class="inner">
                  <div class="nav-drop-header is-auth-user">
                    <span class="username">{{ request.user.username|truncatechars:12}}</span>
                    <a link="black-link" href="#" id="close">❌ 
                        {% trans 'CLOSE' %}
                    </a>
                  </div>

                  <div class="nav-drop-body account-items">
                    <a class="account-item black-link" href="{% url 'classifieds:user_orders' request.user.username %}">
                      <div class="media"> <div class="icon-wrap">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                            viewBox="0 0 24 24" fill="none" stroke="currentColor"
                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-gift">
                            <polyline points="20 12 20 22 4 22 4 12"></polyline>
                            <rect x="2" y="7" width="20" height="5"></rect>
                            <line x1="12" y1="22" x2="12" y2="7"></line>
                            <path d="M12 7H7.5a2.5 2.5 0 0 1 0-5C11 2 12 7 12 7z"></path>
                            <path d="M12 7h4.5a2.5 2.5 0 0 0 0-5C13 2 12 7 12 7z"></path>
                        </svg>

                        </div>
                        <div>
                            <h3>
                                {% trans 'My Orders' %}
                            </h3>
                            <small>
                                {% trans 'Bought and sold items' %}
                            </small>
                        </div>
                      </div>
                    </a>

                    <a class="account-item black-link" href="{% url 'users:user_classifieds' request.user.username %}">
                      <div class="media">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-grid">
                                <rect x="3" y="3" width="7" height="7"></rect>
                                <rect x="14" y="3" width="7" height="7"></rect>
                                <rect x="14" y="14" width="7" height="7"></rect>
                                <rect x="3" y="14" width="7" height="7"></rect>
                            </svg>
                        </div>
                        <div>
                            <h3>
                                {% trans 'My items' %}
                            </h3>
                            <small>
                                {% trans 'The items you uploaded' %}
                            </small>
                        </div>
                      </div>
                    </a>

                    <a class="account-item black-link" href="{% url 'users:detail' request.user.username %}">
                      <div class="media">
                        <div class="icon-wrap">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-user">
                            <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2" />
                            <circle cx="12" cy="7" r="4" /></svg>
                        </div>
                        <div>
                            <h3>
                                {% trans 'My Profile' %}
                            </h3>
                            <small>
                                {% trans 'Access profile & settings' %}
                            </small>
                        </div>
                      </div>
                    </a>

                    <a class="account-item black-link" href="#d">
                      <div class="media">
                        <div class="icon-wrap">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                                stroke-linecap="round" stroke-linejoin="round"
                                class="feather feather-map-pin">
                                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                <circle cx="12" cy="10" r="3"></circle>
                            </svg>
                        </div>
                        <div>
                            <h3>
                                {% trans 'Change City' %}
                            </h3>
                            <small>
                                {% trans 'List items by city' %}
                            </small>
                        </div>
                      </div>
                    </a>
                  <!-- close nav-drop-body -->
                  </div>

               <!-- close inner div-->
               </div>

           <!-- close inner, nav-drop, ac-dropdown -->
          </div>
        </div>
      </li>

    {% else %}
        <li class="top-nav-user-li">
        <a href="#d" class="user-image navbar-item is-account drop-trigger black-link">
            <img src="{% static 'img/location.png' %}" height="34" width="34" alt="No Profile Picture" />
        </a>

        <div id="d" class="has-caret">
              <div class="nav-drop is-navbarTop is-account-dropdown">
                <div class="inner">
                      <div class="nav-drop-header is-auth-user">
                        <span class="username">POPULAR CITIES </span>
                        <a class="black-link" href="#" id="close">❌ CLOSE</a>
                      </div>

                      <div class="nav-drop-body account-items">
                        {% for city in popular_cities %}
                            <a class="account-item black-link" href="{% url 'classifieds:list_by_city' city %}">
                              <div class="media">
                                <div class="icon-wrap">
                                    <img class="user-image" src="{% static 'img/city_icon.png' %}"
                                        height="20" width="20" alt="No Pic" />
                                </div>
                                <div>
                                <h3> {{ city }}</h3>
                                </div>
                              </div>
                            </a>
                        {% endfor %}

                        </div>
                 <!-- close inner, nav-drop, ac-dropdown -->
                </div>
              </div>
            </div>
      </li>
   {% endif %}

    </ul>
  </div>
</nav>
